@model KyoS.Web.Models.ClientViewModel
<div class="col-md-push-12">
    &nbsp;
</div>

<div class="col-md-push-12">
   <div id="view-referreds">
        @await Html.PartialAsync("_ViewReferred", Model.ReferredTemp)
    </div>
</div>
