@model KyoS.Web.Models.ClientViewModel
<div class="col-md-push-12">
    &nbsp;
</div>
<div class="col-md-push-12">
    <div class="col-md-12">
        <div class="form-group">
            <a onclick="showInPopup('@Url.Action("AddDiagnostic","Clients",null,Context.Request.Scheme)','Add Diagnostic')" class="btn btn-warning">Add Diagnostic</a>
            
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <strong>Note: </strong> Client must have only one principal diagnostic.
        </div>
    </div>
    <div id="view-diagnosis">
        @await Html.PartialAsync("_ViewDiagnostic", Model.DiagnosticTemp)
    </div>
</div>