@model KyoS.Web.Models.ClientViewModel
<div class="col-md-push-12">
    &nbsp;
</div>

<div class="col-md-push-12">
    <div class="form-group col-md-12">
        <label asp-for="Annotations" class="control-label">Annotations</label>
        <textarea asp-for="Annotations" class="form-control" rows="8"></textarea>
    </div>
</div>
