@model KyoS.Web.Models.ClientViewModel
<div class="col-md-push-12">
    &nbsp;
</div>

<div class="col-md-push-12">
    <div class="col-md-12">
        <div class="form-group">
            <a onclick="showInPopup('@Url.Action("AddHealthInsuranceClient","Clients",new { idClient = Model.Id},Context.Request.Scheme)','Add Health Insurance')" class="btn btn-warning">Add Health Insurance</a>
        </div>
    </div>
    <div id="view-healthInsurance">
        @await Html.PartialAsync("_ViewHealthInsurance", Model.HealthInsuranceTemp)
    </div>
</div>
