@model KyoS.Web.Models.ClientViewModel
@{
    ViewData["Title"] = "Create Client";
}

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Clients", "Index", "Clients")
        </li>
        <li class="active">Create</li>
    </ul><!--.breadcrumb-->
</div>

<h4>Create new client</h4>
@*<hr />*@
<div class="row">
    <div class="col-md-12">
        @if (ViewBag.Creado == "Y")
        {
            <div class="alert alert-block alert-success">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>
                <i class="icon-ok green"></i>
                <strong class="green">
                    Client been successfully created
                </strong>

            </div>
        }
        @if (ViewBag.Creado == "E")
        {
            <div class="alert alert-block alert-warning">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>
                <i class="icon-ok red"></i>
                <strong class="red">
                    Error. Client already exist
                </strong>
            </div>
        }
    </div>
    <div>
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="form-group col-md-12">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a></li>
                    <li role="presentation"><a href="#others" aria-controls="others" role="tab" data-toggle="tab">Others</a></li>
                    <li role="presentation"><a href="#diagnostics" aria-controls="diagnostics" role="tab" data-toggle="tab">Diagnostics</a></li>
                    <li role="presentation"><a href="#documents" aria-controls="documents" role="tab" data-toggle="tab">Documents</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="general">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <partial name="_Clients" />
                        <div class="form-group col-md-12">
                            <input type="submit" value="Create" class="btn btn-primary" />
                            <a asp-action="Index" class="btn btn-success">Back</a>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="others">
                        <partial name="_ClientsOthers" />
                    </div>
                    <div role="tabpanel" class="tab-pane" id="diagnostics">
                        <partial name="_ClientsDiagnostics" />
                    </div>
                    <div role="tabpanel" class="tab-pane" id="documents">
                        <partial name="_ClientsDocuments" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="_ModalPopup" />
<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#photoBrowser").change(function () {

                var File = this.files;

                if (File && File[0]) {
                    ReadImagePhoto(File[0]);
                }
            });

            $("#signBrowser").change(function () {

                var File = this.files;

                if (File && File[0]) {
                    ReadImageSign(File[0]);
                }
            });

            //$('#MyTableDoc').DataTable({
            //    "pageLength": 100
            //});
        });

        var DeleteDocumentTemp = function (idDoc) {
            var url = "@Url.Action("DeleteDocumentTemp", "Clients")";
            $.get(url, { id: idDoc }, function (data) {
                $('#view-documents').html(data.html);
            });
        }

        var DeleteDiagnosticTemp = function (idDoc) {
            var url = "@Url.Action("DeleteDiagnosticTemp", "Clients")";
            $.get(url, { id: idDoc }, function (data) {
                $('#view-diagnosis').html(data.html);
            });
        }

        var ReadImagePhoto = function (file) {
        var reader = new FileReader;
        var image = new Image;
        reader.readAsDataURL(file);
        reader.onload = function (_file) {
            image.src = _file.target.result;
            image.onload = function () {
                var height = this.height;
                var width = this.width;
                var type = file.type;
                var size = ~~(file.size / 1024) + "KB";

                $("#targetImgPhoto").attr('src', _file.target.result);
                $("#descriptionPhoto").text(/*"Size:" + */size + ", " + height + "x" + width/* + ", " + type + ""*/);
                $("#imgPreviewPhoto").show();
                $("#lbPhoto").show();
               }
            }
        }

        var ReadImageSign = function (file) {
        var reader = new FileReader;
        var image = new Image;
        reader.readAsDataURL(file);
        reader.onload = function (_file) {
            image.src = _file.target.result;
            image.onload = function () {
                var height = this.height;
                var width = this.width;
                var type = file.type;
                var size = ~~(file.size / 1024) + "KB";

                $("#targetImgSign").attr('src', _file.target.result);
                $("#descriptionSign").text(/*"Size:" + */size + ", " + height + "x" + width/* + ", " + type + ""*/);
                $("#imgPreviewSign").show();
                $("#lbSign").show();
               }
            }
        }

        var ClearPreviewPhoto = function () {
            $("#photoBrowser").val('');
            $("#descriptionPhoto").text('');
            $("#targetImgPhoto").attr('src', "/images/Clients/noImage.png");
            $("#lbPhoto").hide();
            //$("#imgPreviewPhoto").hide();
        }

        var ClearPreviewSign = function () {
            $("#signBrowser").val('');
            $("#descriptionSign").text('');
            $("#targetImgSign").attr('src', "/images/Clients/noImage.png");
            $("#lbSign").hide();
            //$("#imgPreviewSign").hide();
        }
    </script>
}

