@model KyoS.Web.Models.HealthInsuranceTempViewModel
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="EditHealthInsuranceClient" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPostHealthInsurance(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdClient" />
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Name" />
            <input type="hidden" asp-for="UserName" />
            <div >
                <div class="col-md-8 form-group">
                    <label asp-for="IdhealthInsurance" class="control-label"></label>&nbsp;*
                    <select asp-for="IdhealthInsurance" class="form-control" asp-items="Model.HealthInsurance"></select>
                    <span asp-validation-for="IdhealthInsurance" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="MemberId" class="control-label"></label>
                    <input asp-for="MemberId" class="form-control" />
                    <span asp-validation-for="MemberId" class="text-danger"></span>
                </div>
            </div>
            <div>
                <div class="col-md-4 form-group">
                    <label asp-for="IdInsuranceType" class="control-label">Insurance Type</label>&nbsp;
                    <select asp-for="IdInsuranceType" class="form-control" asp-items="Model.InsuranceTypes"></select>
                    <span asp-validation-for="IdInsuranceType" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="IdInsurancePlanType" class="control-label">Insurance Plan</label>&nbsp;
                    <select asp-for="IdInsurancePlanType" class="form-control" asp-items="Model.InsurancePlanTypes"></select>
                    <span asp-validation-for="IdInsurancePlanType" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="IdInsuranceCoverageType" class="control-label"> Coverage</label>&nbsp;
                    <select asp-for="IdInsuranceCoverageType" class="form-control" asp-items="Model.InsuranceCoverageTypes"></select>
                    <span asp-validation-for="IdInsuranceCoverageType" class="text-danger"></span>
                </div>
            </div>
            <div>
                <div class="col-md-6 form-group">
                    <label asp-for="EffectiveDate" class="control-label"></label>&nbsp;
                    <input asp-for="EffectiveDate" class="form-control" />
                    <span asp-validation-for="EffectiveDate" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-group">
                    <label asp-for="EndCoverageDate" class="control-label"></label>&nbsp;
                    <input asp-for="EndCoverageDate" class="form-control" />
                    <span asp-validation-for="EndCoverageDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div form-group">
                    <hr />
                </div>
            </div>
            <div>
                <div class="col-md-4 form-group">
                    <label asp-for="IdAgencyService" class="control-label">Service</label>&nbsp;
                    <select asp-for="IdAgencyService" class="form-control" asp-items="Model.AgencyServices"></select>
                    <span asp-validation-for="IdAgencyService" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="AuthorizationNumber" class="control-label">Auth. Number</label>&nbsp;
                    <input asp-for="AuthorizationNumber" class="form-control" />
                    <span asp-validation-for="AuthorizationNumber" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Units" class="control-label"></label>&nbsp;
                    <input asp-for="Units" class="form-control" />
                    <span asp-validation-for="Units" class="text-danger"></span>
                </div>
            </div>
            <div>
                <div class="col-md-6 form-group">
                    <label asp-for="ApprovedDate" class="control-label"></label>&nbsp;
                    <input asp-for="ApprovedDate" class="form-control" />
                    <span asp-validation-for="ApprovedDate" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-group">
                    <label asp-for="ExpiredDate" class="control-label"></label>&nbsp;
                    <input asp-for="ExpiredDate" class="form-control" />
                    <span asp-validation-for="ExpiredDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                   <input type="checkbox" asp-for="Active" /><strong>  Active</strong>
                </div>
            </div>
            @*<div class="col-md-12">
                <div class="alert alert-warning" role="alert">
            <span class="sr-only"></span>
                <strong>Note: </strong> If the client still has available units, they will be added to the new units created.
                </div>
            </div>*@
            <div class="col-md-12">
                <div form-group">
                    <hr />
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-offset-8">
                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="submit" value="Submit" class="btn btn-primary" />
                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>
}


