@model KyoS.Web.Models.IntakeMedicalHistoryViewModel

<div class="col-md-12">
    <pre>
    <strong>SECTION VI.</strong> Have you ever had difficulty:

    <strong>YES</strong>                                             <strong>YES</strong>                                          <strong>YES</strong>                                            
    <input type="checkbox" asp-for="PerformingCertainMotions" class="form-check-input"> performing certain motions?                  <input type="checkbox" asp-for="Reading" class="form-check-input"> reading?                                  <input type="checkbox" asp-for="BeingDisorientated" class="form-check-input"> being disorientated?
    <input type="checkbox" asp-for="AssumingCertainPositions" class="form-check-input"> assuming certain positions?                  <input type="checkbox" asp-for="Concentrating" class="form-check-input"> concentrating?                            <input type="checkbox" asp-for="Calculating" class="form-check-input"> calculating?
    <input type="checkbox" asp-for="Hearing" class="form-check-input"> hearing?                                     <input type="checkbox" asp-for="Comprehending" class="form-check-input"> comprehending?                            <input type="checkbox" asp-for="WritingSentence" class="form-check-input"> writing a sentence?
    <input type="checkbox" asp-for="Seeing" class="form-check-input"> seeing?                                      <input type="checkbox" asp-for="BeingConfused" class="form-check-input"> being confused?                           <input type="checkbox" asp-for="Walking" class="form-check-input"> walking?
    <input type="checkbox" asp-for="Speaking" class="form-check-input"> speaking?                                    
    </pre>
</div>
<div class="col-md-12">
    <pre>
    <strong>SECTION VII.</strong> Information provided by mothers concerning child/adolescent recipient.  

    Pregnancy: <input type="checkbox" asp-for="Planned" class="form-check-input"> Planned  <input type="checkbox" asp-for="Unplanned" class="form-check-input"> Unplanned     Delivery: <input type="checkbox" asp-for="Normal" /> Normal <input type="checkbox" asp-for="Complications" /> Complications If complications, explain: <input asp-for="Complications_Explain" style="width:40%">
 
    Birth Weight: <input asp-for="BirthWeight">  Length: <input asp-for="Length">  Breast Fed: <input type="checkbox" asp-for="BreastFed" class="form-check-input"> Yes       Bottle fed until age: <input asp-for="BottleFedUntilAge">  Age Weaned:  <input asp-for="AgeWeaned">

    First year medical complications:
    <input asp-for="BirthWeight" style="width:40%">

    Age first walked: <input asp-for="AgeFirstWalked">             Age first talked: <input asp-for="AgeFirstTalked">          Age toilet trained: <input asp-for="AgeToiletTrained">

    Description of child as an infant:  <input asp-for="DescriptionOfChild" style="width:70%">

    Problem with bed wetting <input type="checkbox" asp-for="ProblemWithBedWetting" class="form-check-input"> Yes                   and/or soiling <input type="checkbox" asp-for="AndOrSoiling" class="form-check-input">Yes
    
    Immunizations: 
    <input asp-for="Immunizations" style="width:90%">
    </pre>
</div>
<div class="col-md-12">
    <pre>
    
    <strong>Person served signature date</strong>    <input asp-for="DateSignaturePerson">      <strong>Legal Guardian signature date</strong>    <input asp-for="DateSignatureLegalGuardian">
    <strong>(@Html.DisplayFor(modelItem => Model.Client.Name))</strong>     
    
    <strong>Employee signature date</strong>         <input asp-for="DateSignatureEmployee">
    <strong>(@Html.DisplayFor(modelItem => Model.AdmissionedFor))</strong>                                                                    
    </pre>
</div>
<div class="col-md-12">
    &nbsp;
</div>

<br />



