@model KyoS.Web.Models.IntakeTransportationViewModel
@{
    ViewData["Title"] = "Create TRANSPORTATION SAFETY POLICY STATEMENT";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>
        CREATE TRANSPORTATION SAFETY POLICY STATEMENT FOOD SAFETY POLICY STATEMENT
    </title>
</head>
<body>

    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                @Html.ActionLink("Intakes", "Index", "Intakes")
            </li>
            <li class="active">Create Intake TRANSPORTATION SAFETY POLICY STATEMENT FOOD SAFETY POLICY STATEMENT</li>
        </ul><!--.breadcrumb-->
    </div>

    <h4>Create Intake TRANSPORTATION SAFETY POLICY STATEMENT FOOD SAFETY POLICY STATEMENT</h4>
    <hr />
    <div class="row">

        <div>
            <form asp-action="CreateTransportation" asp-route-id="@Model.Id" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdClient" />
                <input type="hidden" asp-for="Client_FK" />
                <partial name="_IntakesTransportation" />
                <div class="form-group col-md-12">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-success">Back</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">

    </script>
}

