@model KyoS.Web.Models.IntakeConsentPhotographViewModel
@{
    ViewData["Title"] = "Patient consent to...";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />    
</head>
<body>

    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                @Html.ActionLink("Intakes", "Index", "Intakes")
            </li>
            <li class="active">
                Patient consent to photograph...
            </li>
        </ul><!--.breadcrumb-->
    </div>

    <h4>Patient consent to photograph/videotape/film/interview and/or authorization to release protected health information</h4>
    <hr />
    <div class="row">        
        <form asp-action="CreateConsentPhotograph" asp-route-id="@Model.Id" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdClient" />
            <input type="hidden" asp-for="Client_FK" />
            <input type="hidden" asp-for="AdmissionedFor" />
            <partial name="_IntakesConsentPhotograph" />
            <div class="form-group col-md-12">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="IntakeDashboard" asp-route-id="@Model.Client.Id" class="btn btn-success">Back</a>
            </div>
        </form>        
    </div>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">

    </script>
}

