@model KyoS.Web.Models.RegisterViewModel

@{
    Layout = null;
}

<div class="row">
    <div>
        <form asp-action="Create" onsubmit="return jQueryAjaxAccounts(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <partial name="_Account" />
            <div class="col-md-12">
                <hr />
            </div>
            <div class="col-md-12">
                <div class="col-md-offset-8">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="submit" value="Create" class="btn btn-primary" />&nbsp;
                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {    
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

