@{
    ViewBag.Title = "Messages";
}

    <div>
        <div class="row">
            <div class="col-md-12">
                @if (User.IsInRole("Facilitator"))
                {
                    <div class="col-md-12">
                        &nbsp;
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <h4 style="text-align:center;"><i class="icon-envelope-alt" style="padding-right: 10px !important;"></i> Inbox <b>(6)</b></h4>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <hr />
                    </div>
                    <div class="col-md-2">
                        @if (ViewBag.CountsMessagesNotes == "0")
                        {
                            <a asp-controller="Messages" asp-action="MessagesOfNotes" role="button">
                                <div class="thumbnail list-group-item list-group-item-text">
                                    <h4 style="align-content:end;"><i class="icon-envelope-alt" style="padding-right: 10px !important;"></i> Notes</h4>
                                    <span class="message-counter-cero">@ViewBag.CountsMessagesNotes</span>
                                </div>
                            </a>
                        }
                        else
                        {
                            <a asp-controller="Messages" asp-action="MessagesOfNotes" role="button">
                                <div class="thumbnail list-group-item list-group-item-danger">
                                    <h4 style="align-content:end;"><i class="icon-envelope-alt" style="padding-right: 10px !important;"></i> Notes</h4>
                                    <span class="message-counter">@ViewBag.CountsMessagesNotes</span>                                    
                                </div>
                            </a>
                        }
                    </div>                   
                    //New line
                    <div class="col-md-12">
                        &nbsp;
                    </div>               
                }               
            </div>
        </div>
    </div>