@model KyoS.Web.Models.MTPViewModel
<div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="IdClient" class="control-label"></label>
            <select asp-for="IdClient" asp-items="Model.Clients" class="form-control"></select>
            <span asp-validation-for="IdClient" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="AdmisionDate" class="control-label"></label>
            <input asp-for="AdmisionDate" class="form-control"/>
            <span asp-validation-for="AdmisionDate" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="NumberOfMonths" class="control-label"></label>
            <input asp-for="NumberOfMonths" class="form-control" />
            <span asp-validation-for="NumberOfMonths" class="text-danger"></span>
        </div>
    </div>
</div>
<div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="MTPDevelopedDate" class="control-label"></label>
            <input asp-for="MTPDevelopedDate" class="form-control" />
            <span asp-validation-for="MTPDevelopedDate" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="StartTime" class="control-label"></label>
            <input asp-for="StartTime" class="form-control" />
            <span asp-validation-for="StartTime" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="EndTime" class="control-label"></label>
            <input asp-for="EndTime" class="form-control" />
            <span asp-validation-for="EndTime" class="text-danger"></span>
        </div>
    </div>
</div>
<div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Modality" class="control-label"></label>
            <input asp-for="Modality" class="form-control" />
            <span asp-validation-for="Modality" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Frecuency" class="control-label"></label>
            <input asp-for="Frecuency" class="form-control" />
            <span asp-validation-for="Frecuency" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Setting" class="control-label"></label>
            <br />
            @if (Model.Setting == "53")
            {
                <input type="radio" name="Setting" value="53" checked="checked" />
            }
            else
            {
                <input type="radio" name="Setting" value="53" />
            }
            <strong>53</strong>&nbsp;Client in the clinic
            &nbsp;
            @if (Model.Setting == "02")
            {
                <input type="radio" name="Setting" value="02" checked="checked" />
            }
            else
            {
                <input type="radio" name="Setting" value="02" />
            }
            <strong>02</strong>&nbsp;Remote
        </div>
    </div>
</div>
<div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="LevelCare" class="control-label"></label>
            <textarea asp-for="LevelCare" class="form-control" rows="5"></textarea>
            <span asp-validation-for="LevelCare" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="InitialDischargeCriteria" class="control-label"></label>
            <textarea asp-for="InitialDischargeCriteria" class="form-control" rows="5"></textarea>
            <span asp-validation-for="InitialDischargeCriteria" class="text-danger"></span>
        </div>
    </div>
</div>



