@model KyoS.Web.Models.MTPViewModel
<div class="col-md-push-12">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="IdClient" class="control-label"></label>&nbsp;*
            <select asp-for="IdClient" asp-items="Model.Clients" class="form-control" id="cbClient"></select>           
            <span asp-validation-for="IdClient" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label asp-for="Client.Code" class="control-label"></label>
            <input asp-for="Client.Code" class="form-control" readonly id="txtCode"/>
            <span asp-validation-for="Client.Code" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group col-md-6">
        <label class="control-label">Diagnosis</label>
        @if(Model.Client != null)
        {
            @if (Model.Client.Clients_Diagnostics.Count() > 0)
            {
                <input class="form-control" value="@Model.Client.Clients_Diagnostics.ElementAtOrDefault(0).Diagnostic.Code @Model.Client.Clients_Diagnostics.ElementAtOrDefault(0).Diagnostic.Description" readonly id="txtDiagnosis">
            }
            else
            {
                <input class="form-control" readonly id="txtDiagnosis">
            }
        }
        else
        {
            <input class="form-control" readonly id="txtDiagnosis">
        }
    </div>    
</div>
<div class="col-md-push-12">
    <div class="col-md-2">
        <div class="form-group">
            <label asp-for="AdmissionDateMTP" class="control-label">MTP Creation Date</label>
            <input asp-for="AdmissionDateMTP" class="form-control" />
            <span asp-validation-for="AdmissionDateMTP" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label asp-for="MTPDevelopedDate" class="control-label">Initial Date of Therapy</label>
            <input asp-for="MTPDevelopedDate" class="form-control" />
            <span asp-validation-for="MTPDevelopedDate" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label asp-for="StartTime" class="control-label"></label>
            <input asp-for="StartTime" class="form-control" />
            <span asp-validation-for="StartTime" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label asp-for="EndTime" class="control-label"></label>
            <input asp-for="EndTime" class="form-control" />
            <span asp-validation-for="EndTime" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group">
            <label asp-for="CodeBill" class="control-label">Code Bill</label>
            <input asp-for="CodeBill" class="form-control" />
            <span asp-validation-for="CodeBill" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="Setting" class="control-label"></label>
            <br />
            @if (Model.Setting == "53")
            {
                <input type="radio" name="Setting" value="53" checked="checked" />
            }
            else
            {
                <input type="radio" name="Setting" value="53" />
            }
            <strong>53</strong>&nbsp;Client in the clinic
            &nbsp;
            @if (Model.Setting == "02")
            {
                <input type="radio" name="Setting" value="02" checked="checked" />
            }
            else
            {
                <input type="radio" name="Setting" value="02" />
            }
            <strong>02</strong>&nbsp;Remote
        </div>
    </div>
</div>
<div class="col-md-push-12">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="ClientStrengths" class="control-label">Client’s Strengths</label>
            <textarea asp-for="ClientStrengths" class="form-control" rows="2" id="clientStrengths"></textarea>
            <span asp-validation-for="ClientStrengths" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="ClientLimitation" class="control-label">Client’s Limitations</label>
            <textarea asp-for="ClientLimitation" class="form-control" rows="2" id="clientLimitation"></textarea>
            <span asp-validation-for="ClientLimitation" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="col-md-push-12">
    <div class="form-group col-md-6">
        <a class="btn btn-info" id="EnglishClientStrengths">English</a>
    </div>
    <div class="form-group col-md-6">
        <a class="btn btn-info" id="EnglishClientLimitation">English</a>
    </div>
</div>
<div class="col-md-push-12">
    <div class="col-md-2">
        <div class="form-group">
            <label asp-for="DateOfUpdate" class="control-label">MTP Update Date</label>
            <input asp-for="DateOfUpdate" class="form-control" />
            <span asp-validation-for="DateOfUpdate" class="text-danger"></span>
        </div>
    </div>
    <div class="container-fluid">
        &nbsp;
    </div>
</div>
<div class="col-md-push-12">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="RationaleForUpdate" class="control-label">Rationale for Update</label>
            <textarea asp-for="RationaleForUpdate" class="form-control" rows="2" id="rationaleForUpdate"></textarea>
            <span asp-validation-for="RationaleForUpdate" class="text-danger"></span>
        </div>
    </div>    
</div>
<div class="col-md-push-12">
    <div class="form-group col-md-6">
        <a class="btn btn-info" id="EnglishRationaleForUpdate">English</a>
    </div>
    <div class="container-fluid">
        &nbsp;
    </div>
</div>
<div class="col-md-push-12">
    <div class="col-md-12">
        <div class="form-group">
            <pre>
    <strong><u>Recommended Program of Coordinated Services:</u></strong>

    <strong>        <u>TYPE</u></strong>                                 <label style="width:10%; text-decoration:underline; text-align:center">CODE</label>      <label style="width:10%; text-decoration:underline; text-align:center">UNITS</label>      <label style="width:15%; text-decoration:underline; text-align:center">FRECUENCY</label>      <label style="width:10%; text-decoration:underline; text-align:center">DURATION (months)</label>
    <input type="checkbox" asp-for="Medication" class="form-check-input" id="chbMedication"> Medication Management                      <input asp-for="MedicationCode" type="text" style="width:10%" readonly/>      <input asp-for="MedicationUnits" type="number" style="width:10%" id="txtMedicationUnits" readonly/>     <input asp-for="MedicationFrecuency" type="text" style="width:15%" id="txtMedicationFrecuency" readonly/>      <input asp-for="MedicationDuration" type="number" style="width:10%" id="txtMedicationDuration" readonly/>

    <input type="checkbox" asp-for="Individual" class="form-check-input" id="chbIndividual"> Individual Therapy                         <input asp-for="IndividualCode" type="text" style="width:10%" readonly/>      <input asp-for="IndividualUnits" type="number" style="width:10%" id="txtIndividualUnits" readonly/>     <input asp-for="IndividualFrecuency" type="text" style="width:15%" id="txtIndividualFrecuency" readonly/>      <input asp-for="IndividualDuration" type="number" style="width:10%" id="txtIndividualDuration" readonly/>

    <input type="checkbox" asp-for="Family" class="form-check-input" id="chbFamily"> Family Therapy                             <input asp-for="FamilyCode" type="text" style="width:10%" readonly/>      <input asp-for="FamilyUnits" type="number" style="width:10%" id="txtFamilyUnits" readonly/>     <input asp-for="FamilyFrecuency" type="text" style="width:15%" id="txtFamilyFrecuency" readonly/>      <input asp-for="FamilyDuration" type="number" style="width:10%" id="txtFamilyDuration" readonly/>
    
    <input type="checkbox" asp-for="Psychosocial" class="form-check-input" id="chbPsychosocial"> Psychosocial Rehabilitation Services       <input asp-for="PsychosocialCode" type="text" style="width:10%" readonly/>      <input asp-for="PsychosocialUnits" type="number" style="width:10%" id="txtPsychosocialUnits"/>     <input asp-for="PsychosocialFrecuency" type="text" style="width:15%" id="txtPsychosocialFrecuency"/>      <input asp-for="PsychosocialDuration" type="number" style="width:10%" id="txtPsychosocialDuration"/>
    
    <input type="checkbox" asp-for="Group" class="form-check-input" id="chbGroup"> Group Therapy                              <input asp-for="GroupCode" type="text" style="width:10%" readonly/>      <input asp-for="GroupUnits" type="number" style="width:10%" id="txtGroupUnits" readonly/>     <input asp-for="GroupFrecuency" type="text" style="width:15%" id="txtGroupFrecuency" readonly/>      <input asp-for="GroupDuration" type="number" style="width:10%" id="txtGroupDuration" readonly/>
            </pre>
        </div>
    </div>
</div>
<div class="col-md-push-12">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="AdditionalRecommended" class="control-label">Additional recommended services outside of clinic (indicate the service and referrals necessary and where client was referred to. Please have client sign a release of information for each service) </label>
            <textarea asp-for="AdditionalRecommended" class="form-control" rows="2" id="additionalRecommended"></textarea>
            <span asp-validation-for="AdditionalRecommended" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="col-md-push-12">
    <div class="form-group col-md-6">
        <a class="btn btn-info" id="EnglishAdditionalRecommended">English</a>
    </div>
    <div class="container-fluid">
        &nbsp;
    </div>
</div>
<div class="col-md-push-12">
    <div class="col-md-12">
        <div class="form-group">
            <pre>
    <strong></strong>
    Substance Abuse:    <input type="checkbox" class="form-check-input" id="check101" checked> No   <input type="checkbox" asp-for="Substance" class="form-check-input" readonly id="check1"> Yes       <input asp-for="SubstanceWhere" type="text" style="width:70%" /> 
    
    Legal:              <input type="checkbox" class="form-check-input" id="check102" checked> No   <input type="checkbox" asp-for="Legal" class="form-check-input" readonly id="check2"> Yes       <input asp-for="LegalWhere" type="text" style="width:70%" /> 
    
    Health:             <input type="checkbox" class="form-check-input" id="check103" checked> No   <input type="checkbox" asp-for="Health" class="form-check-input" readonly id="check3"> Yes       <input asp-for="HealthWhere" type="text" style="width:70%" /> 
    
    Pain:               <input type="checkbox" class="form-check-input" id="check104" checked> No   <input type="checkbox" asp-for="Paint" class="form-check-input" readonly id="check4"> Yes       <input asp-for="PaintWhere" type="text" style="width:70%" /> 
    
    Other:              <input type="checkbox" class="form-check-input" id="check105" checked> No   <input type="checkbox" asp-for="Other" class="form-check-input" readonly id="check5"> Yes       <input asp-for="OtherWhere" type="text" style="width:70%" /> 
            </pre>
        </div>
    </div>
</div>
<div class="col-md-push-12">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="InitialDischargeCriteria" class="control-label">Transition or discontinuation of services criteria and plan (Initial discharge criteria)</label>
            <textarea asp-for="InitialDischargeCriteria" class="form-control" rows="4" id="initialDischargeCriteria"></textarea>
            <span asp-validation-for="InitialDischargeCriteria" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="col-md-push-12">
    <div class="form-group col-md-6">
        <a class="btn btn-info" id="EnglishInitialDischargeCriteria">English</a>
    </div>
    <div class="container-fluid">
        &nbsp;
    </div>
</div>
<div class="col-md-12">
    <hr />
</div>
<script>
    check1.addEventListener('change', (e) => {
        if (check1.checked == true) {
            check101.checked = false;
        } else {
            check101.checked = true;
        }
    })
    check101.addEventListener('change', (e) => {
        if (check101.checked == true) {
            check1.checked = false;
        } else {
            check1.checked = true;
        }
    })    
    //-------------------------------
    check2.addEventListener('change', (e) => {
        if (check2.checked == true) {
            check102.checked = false;
        } else {
            check102.checked = true;
        }
    })
    check102.addEventListener('change', (e) => {
        if (check102.checked == true) {
            check2.checked = false;
        } else {
            check2.checked = true;
        }
    })    
    //--------------------------------
    check3.addEventListener('change', (e) => {
        if (check3.checked == true) {
            check103.checked = false;
        } else {
            check103.checked = true;
        }
    })
    check103.addEventListener('change', (e) => {
        if (check103.checked == true) {
            check3.checked = false;
        } else {
            check3.checked = true;
        }
    })    
    //----------------------------
    check4.addEventListener('change', (e) => {
        if (check4.checked == true) {
            check104.checked = false;
        } else {
            check104.checked = true;
        }
    })
    check104.addEventListener('change', (e) => {
        if (check104.checked == true) {
            check4.checked = false;
        } else {
            check4.checked = true;
        }
    })    
    //--------------------------------
    check5.addEventListener('change', (e) => {
        if (check5.checked == true) {
            check105.checked = false;
        } else {
            check105.checked = true;
        }
    })
    check105.addEventListener('change', (e) => {
        if (check105.checked == true) {
            check5.checked = false;
        } else {
            check5.checked = true;
        }
    })
    //--------------------------------
    chbMedication.addEventListener('change', (e) => {
        if (chbMedication.checked == true) {
            $("#txtMedicationUnits").val("4");
            $("#txtMedicationFrecuency").val("once a week");
            $("#txtMedicationDuration").val("6");

            $("#txtMedicationUnits").attr('readonly', false);
            $("#txtMedicationFrecuency").attr('readonly', false);
            $("#txtMedicationDuration").attr('readonly', false);
        } else {
            $("#txtMedicationUnits").val("0");
            $("#txtMedicationFrecuency").val("");
            $("#txtMedicationDuration").val("0");

            $("#txtMedicationUnits").attr('readonly', true);
            $("#txtMedicationFrecuency").attr('readonly', true);
            $("#txtMedicationDuration").attr('readonly', true);
        }
    })
    //--------------------------------
    chbIndividual.addEventListener('change', (e) => {
        if (chbIndividual.checked == true)
        {
            $("#txtIndividualUnits").val("4");
            $("#txtIndividualFrecuency").val("once a week");
            $("#txtIndividualDuration").val("6");

            $("#txtIndividualUnits").attr('readonly', false);
            $("#txtIndividualFrecuency").attr('readonly', false);
            $("#txtIndividualDuration").attr('readonly', false);
        } else
        {
            $("#txtIndividualUnits").val("0");
            $("#txtIndividualFrecuency").val("");
            $("#txtIndividualDuration").val("0");

            $("#txtIndividualUnits").attr('readonly', true);
            $("#txtIndividualFrecuency").attr('readonly', true);
            $("#txtIndividualDuration").attr('readonly', true);
        }
    })
    //--------------------------------
    chbFamily.addEventListener('change', (e) => {
        if (chbFamily.checked == true) {
            $("#txtFamilyUnits").val("4");
            $("#txtFamilyFrecuency").val("once a week");
            $("#txtFamilyDuration").val("6");

            $("#txtFamilyUnits").attr('readonly', false);
            $("#txtFamilyFrecuency").attr('readonly', false);
            $("#txtFamilyDuration").attr('readonly', false);
        } else {
            $("#txtFamilyUnits").val("0");
            $("#txtFamilyFrecuency").val("");
            $("#txtFamilyDuration").val("0");

            $("#txtFamilyUnits").attr('readonly', true);
            $("#txtFamilyFrecuency").attr('readonly', true);
            $("#txtFamilyDuration").attr('readonly', true);
        }
    })
    //--------------------------------
    chbPsychosocial.addEventListener('change', (e) => {
        if (chbPsychosocial.checked == true) {
            $("#txtPsychosocialUnits").val("16");
            $("#txtPsychosocialFrecuency").val("4 times for week");
            $("#txtPsychosocialDuration").val("6");

            $("#txtPsychosocialUnits").attr('readonly', false);
            $("#txtPsychosocialFrecuency").attr('readonly', false);
            $("#txtPsychosocialDuration").attr('readonly', false);
        } else {
            $("#txtPsychosocialUnits").val("0");
            $("#txtPsychosocialFrecuency").val("");
            $("#txtPsychosocialDuration").val("0");

            $("#txtPsychosocialUnits").attr('readonly', true);
            $("#txtPsychosocialFrecuency").attr('readonly', true);
            $("#txtPsychosocialDuration").attr('readonly', true);
        }
    })
    //--------------------------------
    chbGroup.addEventListener('change', (e) => {
        if (chbGroup.checked == true) {
            $("#txtGroupUnits").val("4");
            $("#txtGroupFrecuency").val("4 times for week");
            $("#txtGroupDuration").val("6");

            $("#txtGroupUnits").attr('readonly', false);
            $("#txtGroupFrecuency").attr('readonly', false);
            $("#txtGroupDuration").attr('readonly', false);
        } else {
            $("#txtGroupUnits").val("0");
            $("#txtGroupFrecuency").val("");
            $("#txtGroupDuration").val("0");

            $("#txtGroupUnits").attr('readonly', true);
            $("#txtGroupFrecuency").attr('readonly', true);
            $("#txtGroupDuration").attr('readonly', true);
        }
    })
</script>


