@model KyoS.Web.Models.ObjectiveTempViewModel
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateObjectiveModalTemp" onsubmit="return jQueryAjaxPostGoalTemp(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="IdGoal" />
            <div>
                <div class="col-md-12">
                    <h5 style="font-weight:bold;">Objective of Goal # @Model.NumberGoal - @Model.NameGoal</h5>
                </div>
            </div>
            <div class="col-md-12">
                &nbsp;
            </div>
            <div class="col-md-push-12">
                <div class="form-group col-md-4">
                    <label asp-for="Objetive" class="control-label"></label>
                    <input asp-for="Objetive" class="form-control" />
                    <span asp-validation-for="Objetive" class="text-danger"></span>
                </div>
                <div class="container-fluid">
                    &nbsp;
                </div>
            </div>
            <div class="col-md-push-12">
                <div class="form-group col-md-4">
                    <label asp-for="DateOpened" class="control-label"></label>
                    <input asp-for="DateOpened" class="form-control" />
                    <span asp-validation-for="DateOpened" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="DateTarget" class="control-label"></label>
                    <input asp-for="DateTarget" class="form-control" />
                    <span asp-validation-for="DateTarget" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="DateResolved" class="control-label">Active Until</label>
                    <input asp-for="DateResolved" class="form-control" />
                    <span asp-validation-for="DateResolved" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-push-12">
                <div class="form-group col-md-12">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" rows="3" id="description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-push-12">
                <div class="form-group col-md-12">
                    <label asp-for="Intervention" class="control-label"></label>
                    <textarea asp-for="Intervention" class="form-control" rows="3" id="intervention"></textarea>
                    <span asp-validation-for="Intervention" class="text-danger"></span>
                </div>
            </div>
            <div>
                <div class="col-md-offset-9">
                    <input onclick="GenderVerificationCOMT()" type="submit" value="Save" class="btn btn-primary" id="save"/>
                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">

    function GenderVerificationCOMT() {

        event.preventDefault();
        var url = "@Url.Action("GetGenderByClient", "MTPs")";

        $.get(url, { idClient: $("#cbClient").val() }, function (data) {

            let description = $("#description").val();
            let intervention = $("#intervention").val();
            let text = "";

            if (data == 'F') //Female
            {
                if (MaleVerification(description) == true)
                {
                    text = ", Description";
                }
                if (MaleVerification(intervention) == true)
                {
                    text = text + ", Intervention";
                }

                if (text != "")
                {
                    Swal.fire({
                        title: 'Do you want to continue?',
                        text: "There are gender issues in" + text,
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#ec971f',
                        cancelButtonColor: '#3085d6',
                        confirmButtonText: 'Yes, continue!'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $("#save").unbind('click').submit();
                        }
                    });
                }
                else
                {
                    $("#save").unbind('click').submit();
                }
            }
            else
            {
                if (data == 'M') //Male
                {
                    if (FemaleVerification(description) == true) {
                        text = ", Description";
                    }
                    if (FemaleVerification(intervention) == true) {
                        text = text + ", Intervention";
                    }

                    if (text != "") {
                        Swal.fire({
                            title: 'Do you want to continue?',
                            text: "There are gender issues in" + text,
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#ec971f',
                            cancelButtonColor: '#3085d6',
                            confirmButtonText: 'Yes, continue!'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                $("#save").unbind('click').submit();
                            }
                        });
                    }
                    else {
                        $("#save").unbind('click').submit();
                    }
                }
            }
        });

    }

    function MaleVerification(text)
    {
        if (text.includes(" he ") || text.includes(" He ") || text.includes(" his ") || text.includes(" His ") ||
            text.includes(" him ") || text.includes(" him.") || text.includes("himself") || text.includes("Himself") ||
            text.includes(" oldman") || text.includes(" wife"))
        {
            return true;
        }
        else
        {
            return false;
        }
    }

    function FemaleVerification(text)
    {
        if (text.includes(" she ") || text.includes(" She ") || text.includes(" her.") || text.includes(" her ") ||
            text.includes(" Her ") || text.includes("herself") || text.includes("Herself") || text.includes(" oldwoman") ||
            text.includes(" husband"))
        {
            return true;
        }
        else {
            return false;
        }
    }

</script>



