@model KyoS.Web.Models.DiagnosisViewModel

@{
    ViewData["Title"] = "Edit";
}

<h4>Edit diagnosis</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditDiagnosis">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="IdMTP" />

            <h5 style="font-weight:bold;"> MTP - @Model.MTP.Client.Name </h5>

            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="UpdateDiagnosis" class="btn btn-success" asp-route-id="@Model.MTP.Id">Back</a>
            </div>
        </form>
    </div>
</div>
