@model KyoS.Web.Models.ReferredViewModel
    <div class="col-md-push-12">
        <div class="form-group col-md-4">
            <label asp-for="Name" class="control-label"></label>&nbsp;*
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Address" class="control-label"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="Telephone" class="control-label"></label>
            <input asp-for="Telephone" class="form-control" />
            <span asp-validation-for="Telephone" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-12">
        &nbsp;
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-4">
            <label asp-for="Title" class="control-label">Title/Position</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Agency" class="control-label"></label>
            <input asp-for="Agency" class="form-control" />
            <span asp-validation-for="Agency" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            &nbsp;
        </div>
    </div>
    <div class="col-md-12">
        &nbsp;
    </div> 
