@model KyoS.Web.Models.TCMAssessmentMedicationViewModel
<div class="col-md-push-12">
    <div class="col-md-3">
        <label asp-for="TcmAssessment.TcmClient.Client.Name" class="control-label">Client Name</label>
        <input asp-for="TcmAssessment.TcmClient.Client.Name" class="form-control" readonly />
        <span asp-validation-for="TcmAssessment.TcmClient.Client.Name" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="TcmAssessment.TcmClient.DataOpen" class="control-label"></label>
        <input asp-for="TcmAssessment.TcmClient.DataOpen" class="form-control" readonly />
        <span asp-validation-for="TcmAssessment.TcmClient.DataOpen" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="TcmAssessment.TcmClient.Client.DateOfBirth" class="control-label"></label>
        <input asp-for="TcmAssessment.TcmClient.Client.DateOfBirth" class="form-control" readonly />
        <span asp-validation-for="TcmAssessment.TcmClient.Client.DateOfBirth" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label class="control-label">Case Number</label>
        <input asp-for="TcmAssessment.TcmClient.CaseNumber" class="form-control" readonly />
    </div>
</div>
<div class="col-md-12">
    <hr />
</div>
<div class="col-md-push-12">
    <div class="col-md-3">
        <label asp-for="Name" class="control-label">Drug Name</label>&nbsp;*
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="Dosage" class="control-label"></label>&nbsp;*
        <input asp-for="Dosage" class="form-control" />
        <span asp-validation-for="Dosage" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="Frequency" class="control-label"></label>&nbsp;*
        <input asp-for="Frequency" class="form-control" />
        <span asp-validation-for="Frequency" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="Prescriber" class="control-label"></label>&nbsp;*
        <input asp-for="Prescriber" class="form-control" />
        <span asp-validation-for="Prescriber" class="text-danger"></span>
    </div>

</div>
<div class="col-md-12">
    &nbsp;
</div>
