@model KyoS.Web.Models.TCMIntakePersonalWellbeingViewModel
<div class="col-md-12">
    <pre>  
    <strong>CLIENT NAME</strong> <strong>(@Html.DisplayFor(modelItem => Model.TcmClient.Client.Name))</strong>   
 
    <strong>1. How satisfied are you with your standard of living?</strong>           <input asp-for="Living">                                                                        
    <strong>2. How satisfied are you with your health?</strong>                       <input asp-for="Health">                                                                        
    <strong>3. How satisfied are you with what you are achieving in life?</strong>    <input asp-for="Life">              
    <strong>4. How satisfied are you with your personal relationships?</strong>       <input asp-for="Relationships">
    <strong>5. How satisfied are you with how safe you feel?</strong>                 <input asp-for="Feel">
    <strong>6. How satisfied are you with feeling part of your community?</strong>    <input asp-for="Community">
    <strong>7. How satisfied are you with your future security?</strong>              <input asp-for="Security">
    <strong>8. How satisfied are you with your spirituality or religion?</strong>     <input asp-for="Religion">


    No satisfaction at all                                           Completely Satisfied
    <input type="checkbox" class="form-check-input" readonly><strong> 1 </strong>    <input type="checkbox" class="form-check-input" readonly><strong> 2 </strong>    <input type="checkbox" class="form-check-input" readonly><strong> 3 </strong>    <input type="checkbox" class="form-check-input" readonly><strong> 4 </strong>     <input type="checkbox" class="form-check-input regex"><strong> 5 </strong>    <input type="checkbox" class="form-check-input" readonly><strong> 6 </strong>    <input type="checkbox" class="form-check-input" readonly><strong> 7 </strong>    <input type="checkbox" class="form-check-input" readonly><strong> 8 </strong>    <input type="checkbox" class="form-check-input" readonly><strong> 9 </strong>    <input type="checkbox" class="form-check-input" readonly><strong> 10 </strong>

    </pre>
</div>

<div class="col-md-12">
    <pre>
    
    <strong>Staff Signature: </strong>   <strong>(@Html.DisplayFor(modelItem => Model.AdmissionedFor))</strong>                                                                    
    <strong>Date</strong>                <input asp-for="DateSignatureEmployee">
    </pre>
</div>
<div class="col-md-12">
    &nbsp;
</div>
<div>
    @*<div class="form-group col-md-12">
            <input type="checkbox" asp-for="Documents" class="form-check-input" id="Documents"> Documents were verbally translated to me in my native language.<br />
            <label asp-for="Documents" class="forgot">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>@Html.DisplayFor(modelItem => Model.TcmClient.Client.Clinic.Name)</strong>
            </label>
        </div>*@
</div>
<br />


