@model KyoS.Web.Models.TCMIntakeColumbiaSuicideViewModel

@if (User.IsInRole("CaseManager"))
{
    <div class="col-md-12">
        <pre>  
        <strong>Client's Name:</strong> <strong>(@Html.DisplayFor(modelItem => Model.TcmClient.Client.Name))</strong>
        <strong>Ask questions that are bolded and underlined.</strong>                                                             <strong>Past Month</strong>                                     <strong>Lifetime</strong>
        
        <strong>1) Have you wished you were dead or wished you could go to sleep and not wake up?</strong>              <input type="checkbox" asp-for="HaveYouWishedPastMonth" class="form-check-input" readonly id="check1"><strong> YES</strong>  <input type="checkbox" class="form-check-input" id="check101"><strong> NO </strong>  <select asp-for="IdHaveYouWishedPastMonth_Value" asp-items="Model.RiskList"></select>       <input type="checkbox" asp-for="HaveYouWishedLifeTime" class="form-check-input" readonly id="check8"><strong> YES</strong>  <input type="checkbox" class="form-check-input" id="check108"><strong> NO </strong>  <select asp-for="IdHaveYouWishedLifeTime_Value" asp-items="Model.RiskList"></select>
        <span asp-validation-for="IdHaveYouWishedPastMonth_Value" class="text-danger"></span>               <span asp-validation-for="IdHaveYouWishedLifeTime_Value" class="text-danger"></span>                                         
        <strong>2) Have you actually had any thoughts of killing yourself?</strong>                                     <input type="checkbox" asp-for="HaveYouActuallyPastMonth" class="form-check-input" readonly id="check2"><strong> YES</strong>  <input type="checkbox" class="form-check-input" id="check102"><strong> NO </strong>  <select asp-for="IdHaveYouActuallyPastMonth_Value" asp-items="Model.RiskList"></select>       <input type="checkbox" asp-for="HaveYouActuallyLifeTime" class="form-check-input" readonly id="check9"><strong> YES</strong>  <input type="checkbox" class="form-check-input" id="check109"><strong> NO </strong>  <select asp-for="IdHaveYouActuallyLifeTime_Value" asp-items="Model.RiskList"></select> 
        <span asp-validation-for="IdHaveYouActuallyPastMonth_Value" class="text-danger"></span>               <span asp-validation-for="IdHaveYouActuallyLifeTime_Value" class="text-danger"></span>
        <strong>If YES to 2, ask questions 3, 4, 5, and 6. If NO to 2, go directly to question 6.</strong>
        <strong>3) Have you been thinking about how you might do this?</strong>                                         <input type="checkbox" asp-for="HaveYouBeenPastMonth" class="form-check-input" readonly id="check3"><strong> YES</strong>  <input type="checkbox" class="form-check-input" id="check103"><strong> NO </strong>  <select asp-for="IdHaveYouBeenPastMonth_Value" asp-items="Model.RiskList"></select>       <input type="checkbox" asp-for="HaveYouBeenLifeTime" class="form-check-input" readonly id="check10"><strong> YES</strong>  <input type="checkbox" class="form-check-input" id="check110"><strong> NO </strong>  <select asp-for="IdHaveYouBeenLifeTime_Value" asp-items="Model.RiskList"></select> 
        E.g. “I thought about taking an overdose but I never made a specific plan                                       <span asp-validation-for="IdHaveYouBeenPastMonth_Value" class="text-danger"></span>               <span asp-validation-for="IdHaveYouBeenLifeTime_Value" class="text-danger"></span>
        as to when where or how I would actually do it….and I would never go
        through with it.”
        <strong>4) Have you had these thoughts and had some intention of acting on them?</strong>                       <input type="checkbox" asp-for="HaveYouHadPastMonth" class="form-check-input" readonly id="check4"><strong> YES</strong>  <input type="checkbox" class="form-check-input" id="check104"><strong> NO </strong>  <select asp-for="IdHaveYouHadPastMonth_Value" asp-items="Model.RiskList"></select>       <input type="checkbox" asp-for="HaveYouHadLifeTime" class="form-check-input" readonly id="check11"><strong> YES</strong>  <input type="checkbox" class="form-check-input" id="check111"><strong> NO </strong>  <select asp-for="IdHaveYouHadLifeTime_Value" asp-items="Model.RiskList"></select> 
        As opposed to “I have the thoughts but I definitely will not do anything                                        <span asp-validation-for="IdHaveYouHadPastMonth_Value" class="text-danger"></span>               <span asp-validation-for="IdHaveYouHadLifeTime_Value" class="text-danger"></span>
        about them.”
        <strong>5) Have you started to work out or worked out the details of how to kill yourself?</strong>             <input type="checkbox" asp-for="HaveYouStartedPastMonth" class="form-check-input" readonly id="check5"><strong> YES</strong>  <input type="checkbox" class="form-check-input" id="check105"><strong> NO </strong>  <select asp-for="IdHaveYouStartedPastMonth_Value" asp-items="Model.RiskList"></select>       <input type="checkbox" asp-for="HaveYouStartedLifeTime" class="form-check-input" readonly id="check12"><strong> YES</strong>  <input type="checkbox" class="form-check-input" id="check112"><strong> NO </strong>  <select asp-for="IdHaveYouStartedLifeTime_Value" asp-items="Model.RiskList"></select> 
        Do you intend to carry out this plan?                                                                               <span asp-validation-for="IdHaveYouStartedPastMonth_Value" class="text-danger"></span>               <span asp-validation-for="IdHaveYouStartedLifeTime_Value" class="text-danger"></span>
    
    
        How long ago did the Worst Point Ideation occur?
        <strong>6) Have you ever done anything, started to do anything, or prepared to do anything</strong>             <input type="checkbox" asp-for="HaveYouEver" class="form-check-input" readonly id="check6"><strong> YES</strong>  <input type="checkbox" class="form-check-input" id="check106"><strong> NO </strong>  <select asp-for="IdHaveYouEver_Value" asp-items="Model.RiskList"></select>
        to end your life?                                                                                                  <span asp-validation-for="IdHaveYouEver_Value" class="text-danger"></span>              
        Examples: Collected pills, obtained a gun, gave away valuables, wrote a will or suicide note,
        took out pills but didn’t swallow any, held a gun but changed your mind or it was grabbed
        from your hand, went to the roof but didn’t jump; or actually took pills, tried to shoot
        yourself, cut yourself, tried to hang yourself, etc.
        <strong>If YES, ask: Was this within the past three months?</strong>                                            <input type="checkbox" asp-for="HaveYouEverIfYes" class="form-check-input" readonly id="check7"><strong> YES</strong>  <input type="checkbox" class="form-check-input" id="check107"><strong> NO </strong>  <select asp-for="IdHaveYouEverIfYes_Value" asp-items="Model.RiskList"></select>
        <span asp-validation-for="IdHaveYouEverIfYes_Value" class="text-danger"></span>
    </pre>
    </div>

    <div class="col-md-12">
        <pre>  
        <span class="label label-warning">  </span> Low Risk       
        <span class="label label-warning">  </span> Moderate Risk          
        <span class="label label-danger">  </span> High Risk                                                                                                            
    </pre>
    </div>

    <div class="col-md-12">
        <pre>  
                                                        For inquiries and training information contact: Kelly Posner, Ph.D.
                                New York State Psychiatric Institute, 1051 Riverside Drive, New York, New York, 10032; posnerk@nyspi.columbia.edu
                                                            © 2008 The Research Foundation for Mental Hygiene, Inc. 
    </pre>
    </div>

    <div class="col-md-12">
        <pre>
         @if (Model.Id == 0)
        {
        <input type="checkbox" class="form-check-input"> <i>Signed</i>
        }
        else
        { 
        <input type="checkbox" class="form-check-input" checked disabled> <i>Signed</i>
        }
        <strong>Staff Signature: </strong>   <strong>(@Html.DisplayFor(modelItem => Model.AdmissionedFor))</strong>    <input asp-for="DateSignatureEmployee">
    </pre>
    </div>
    <div class="col-md-12">
        &nbsp;
    </div>
    <br />

}
else
{
    <div class="col-md-12">
        <pre>  
        <strong>Client's Name:</strong> <strong>(@Html.DisplayFor(modelItem => Model.TcmClient.Client.Name))</strong>
        <strong>Ask questions that are bolded and underlined.</strong>                                                             <strong>Past Month</strong>                                     <strong>Lifetime</strong>
        
        <strong>1) Have you wished you were dead or wished you could go to sleep and not wake up?</strong>              <input type="checkbox" asp-for="HaveYouWishedPastMonth" class="form-check-input" disabled id="check1"><strong> YES</strong>  <input type="checkbox" class="form-check-input" disabled id="check101"><strong> NO </strong>  <select asp-for="IdHaveYouWishedPastMonth_Value" disabled asp-items="Model.RiskList"></select>           <input type="checkbox" asp-for="HaveYouWishedLifeTime" class="form-check-input" disabled id="check8"><strong> YES</strong>  <input type="checkbox" class="form-check-input" disabled id="check108"><strong> NO </strong>  <select asp-for="IdHaveYouWishedLifeTime_Value" disabled asp-items="Model.RiskList"></select>
        <span asp-validation-for="IdHaveYouWishedPastMonth_Value" class="text-danger"></span>               <span asp-validation-for="IdHaveYouWishedLifeTime_Value" class="text-danger"></span>                                         
        <strong>2) Have you actually had any thoughts of killing yourself?</strong>                                     <input type="checkbox" asp-for="HaveYouActuallyPastMonth" class="form-check-input" disabled id="check2"><strong> YES</strong>  <input type="checkbox" class="form-check-input" disabled id="check102"><strong> NO </strong>  <select asp-for="IdHaveYouActuallyPastMonth_Value" disabled asp-items="Model.RiskList"></select>           <input type="checkbox" asp-for="HaveYouActuallyLifeTime" class="form-check-input" disabled id="check9"><strong> YES</strong>  <input type="checkbox" class="form-check-input" disabled id="check109"><strong> NO </strong>  <select asp-for="IdHaveYouActuallyLifeTime_Value" disabled asp-items="Model.RiskList"></select> 
        <span asp-validation-for="IdHaveYouActuallyPastMonth_Value" class="text-danger"></span>               <span asp-validation-for="IdHaveYouActuallyLifeTime_Value" class="text-danger"></span>
        <strong>If YES to 2, ask questions 3, 4, 5, and 6. If NO to 2, go directly to question 6.</strong>
        <strong>3) Have you been thinking about how you might do this?</strong>                                         <input type="checkbox" asp-for="HaveYouBeenPastMonth" class="form-check-input" disabled id="check3"><strong> YES</strong>  <input type="checkbox" class="form-check-input" disabled id="check103"><strong> NO </strong>  <select asp-for="IdHaveYouBeenPastMonth_Value" disabled asp-items="Model.RiskList"></select>           <input type="checkbox" asp-for="HaveYouBeenLifeTime" class="form-check-input" disabled id="check10"><strong> YES</strong>  <input type="checkbox" class="form-check-input" disabled id="check110"><strong> NO </strong>  <select asp-for="IdHaveYouBeenLifeTime_Value" disabled asp-items="Model.RiskList"></select> 
        E.g. “I thought about taking an overdose but I never made a specific plan                                       <span asp-validation-for="IdHaveYouBeenPastMonth_Value" class="text-danger"></span>               <span asp-validation-for="IdHaveYouBeenLifeTime_Value" class="text-danger"></span>
        as to when where or how I would actually do it….and I would never go
        through with it.”
        <strong>4) Have you had these thoughts and had some intention of acting on them?</strong>                       <input type="checkbox" asp-for="HaveYouHadPastMonth" class="form-check-input" disabled id="check4"><strong> YES</strong>  <input type="checkbox" class="form-check-input" disabled id="check104"><strong> NO </strong>  <select asp-for="IdHaveYouHadPastMonth_Value" disabled asp-items="Model.RiskList"></select>           <input type="checkbox" asp-for="HaveYouHadLifeTime" class="form-check-input" disabled id="check11"><strong> YES</strong>  <input type="checkbox" class="form-check-input" disabled id="check111"><strong> NO </strong>  <select asp-for="IdHaveYouHadLifeTime_Value" disabled asp-items="Model.RiskList"></select> 
        As opposed to “I have the thoughts but I definitely will not do anything                                        <span asp-validation-for="IdHaveYouHadPastMonth_Value" class="text-danger"></span>               <span asp-validation-for="IdHaveYouHadLifeTime_Value" class="text-danger"></span>
        about them.”
        <strong>5) Have you started to work out or worked out the details of how to kill yourself?</strong>             <input type="checkbox" asp-for="HaveYouStartedPastMonth" class="form-check-input" disabled id="check5"><strong> YES</strong>  <input type="checkbox" class="form-check-input" disabled id="check105"><strong> NO </strong>  <select asp-for="IdHaveYouStartedPastMonth_Value" disabled asp-items="Model.RiskList"></select>           <input type="checkbox" asp-for="HaveYouStartedLifeTime" class="form-check-input" disabled id="check12"><strong> YES</strong>  <input type="checkbox" class="form-check-input" disabled id="check112"><strong> NO </strong>  <select asp-for="IdHaveYouStartedLifeTime_Value" disabled asp-items="Model.RiskList"></select> 
    Do you intend to carry out this plan?                                                                               <span asp-validation-for="IdHaveYouStartedPastMonth_Value" class="text-danger"></span>               <span asp-validation-for="IdHaveYouStartedLifeTime_Value" class="text-danger"></span>
    
    
    How long ago did the Worst Point Ideation occur?
        <strong>6) Have you ever done anything, started to do anything, or prepared to do anything</strong>             <input type="checkbox" asp-for="HaveYouEver" class="form-check-input" disabled id="check6"><strong> YES</strong>  <input type="checkbox" class="form-check-input" disabled id="check106"><strong> NO </strong>  <select asp-for="IdHaveYouEver_Value" disabled asp-items="Model.RiskList"></select>
        to end your life?                                                                                                  <span asp-validation-for="IdHaveYouEver_Value" class="text-danger"></span>              
    Examples: Collected pills, obtained a gun, gave away valuables, wrote a will or suicide note,
    took out pills but didn’t swallow any, held a gun but changed your mind or it was grabbed
    from your hand, went to the roof but didn’t jump; or actually took pills, tried to shoot
    yourself, cut yourself, tried to hang yourself, etc.
        <strong>If YES, ask: Was this within the past three months?</strong>                                            <input type="checkbox" asp-for="HaveYouEverIfYes" class="form-check-input" disabled id="check7"><strong> YES</strong>  <input type="checkbox" class="form-check-input" disabled id="check107"><strong> NO </strong>  <select asp-for="IdHaveYouEverIfYes_Value" disabled asp-items="Model.RiskList"></select>
        <span asp-validation-for="IdHaveYouEverIfYes_Value" class="text-danger"></span>
    </pre>
    </div>

    <div class="col-md-12">
        <pre>  
        <span class="label label-warning">  </span> Low Risk       
        <span class="label label-warning">  </span> Moderate Risk          
        <span class="label label-danger">  </span> High Risk                                                                                                            
    </pre>
    </div>

    <div class="col-md-12">
        <pre>  
                                                        For inquiries and training information contact: Kelly Posner, Ph.D.
                                New York State Psychiatric Institute, 1051 Riverside Drive, New York, New York, 10032; posnerk@nyspi.columbia.edu
                                                            © 2008 The Research Foundation for Mental Hygiene, Inc. 
    </pre>
    </div>
    <div class="col-md-12">
        <pre>
         @if (Model.Id == 0)
        {
        <input type="checkbox" class="form-check-input"> <i>Signed</i>
        }
        else
        { 
        <input type="checkbox" class="form-check-input" checked disabled> <i>Signed</i>
        }
        <strong>Staff Signature: </strong>   <strong>(@Html.DisplayFor(modelItem => Model.AdmissionedFor))</strong>    <input asp-for="DateSignatureEmployee" disabled>
    </pre>
    </div>
    <div class="col-md-12">
        &nbsp;
    </div>    
    <br />
}
<script>

    check1.addEventListener('change', (e) => {
        if (check1.checked == true) {
            check101.checked = false;
        } else {
            check101.checked = true;
        }

    })
    check101.addEventListener('change', (e) => {
        if (check101.checked == true) {
            check1.checked = false;
        } else {
            check1.checked = true;
        }

    })
    if (check1.checked == true) {
        check101.checked = false;
    } else {
        check101.checked = true;
    }
    //-------------------------------
    check2.addEventListener('change', (e) => {
        if (check2.checked == true) {
            check102.checked = false;
        } else {
            check102.checked = true;
        }

    })
    check102.addEventListener('change', (e) => {
        if (check102.checked == true) {
            check2.checked = false;
        } else {
            check2.checked = true;
        }

    })
    if (check2.checked == true) {
        check102.checked = false;
    } else {
        check102.checked = true;
    }
    //--------------------------------
    check3.addEventListener('change', (e) => {
        if (check3.checked == true) {
            check103.checked = false;
        } else {
            check103.checked = true;
        }

    })
    check103.addEventListener('change', (e) => {
        if (check103.checked == true) {
            check3.checked = false;
        } else {
            check3.checked = true;
        }

    })
    if (check3.checked == true) {
        check103.checked = false;
    } else {
        check103.checked = true;
    }
    //----------------------------
    check4.addEventListener('change', (e) => {
        if (check4.checked == true) {
            check104.checked = false;
        } else {
            check104.checked = true;
        }

    })
    check104.addEventListener('change', (e) => {
        if (check104.checked == true) {
            check4.checked = false;
        } else {
            check4.checked = true;
        }

    })
    if (check4.checked == true) {
        check104.checked = false;
    } else {
        check104.checked = true;
    }
    //----------------------------
    check5.addEventListener('change', (e) => {
        if (check5.checked == true) {
            check105.checked = false;
        } else {
            check105.checked = true;
        }

    })
    check105.addEventListener('change', (e) => {
        if (check105.checked == true) {
            check5.checked = false;
        } else {
            check5.checked = true;
        }

    })
    if (check5.checked == true) {
        check105.checked = false;
    } else {
        check105.checked = true;
    }
    //--------------------------
    check6.addEventListener('change', (e) => {
        if (check6.checked == true) {
            check106.checked = false;
        } else {
            check106.checked = true;
        }

    })
    check106.addEventListener('change', (e) => {
        if (check106.checked == true) {
            check6.checked = false;
        } else {
            check6.checked = true;
        }

    })
    if (check6.checked == true) {
        check106.checked = false;
    } else {
        check106.checked = true;
    }
    //-------------------------------
    check7.addEventListener('change', (e) => {
        if (check7.checked == true) {
            check107.checked = false;
        } else {
            check107.checked = true;
        }

    })
    check107.addEventListener('change', (e) => {
        if (check107.checked == true) {
            check7.checked = false;
        } else {
            check7.checked = true;
        }

    })
    if (check7.checked == true) {
        check107.checked = false;
    } else {
        check107.checked = true;
    }
    //-------------------------------
    check8.addEventListener('change', (e) => {
        if (check8.checked == true) {
            check108.checked = false;
        } else {
            check108.checked = true;
        }

    })
    check108.addEventListener('change', (e) => {
        if (check108.checked == true) {
            check8.checked = false;
        } else {
            check8.checked = true;
        }

    })
    if (check8.checked == true) {
        check108.checked = false;
    } else {
        check108.checked = true;
    }
    //-------------------------------
    check9.addEventListener('change', (e) => {
        if (check9.checked == true) {
            check109.checked = false;
        } else {
            check109.checked = true;
        }

    })
    check109.addEventListener('change', (e) => {
        if (check109.checked == true) {
            check9.checked = false;
        } else {
            check9.checked = true;
        }

    })
    if (check9.checked == true) {
        check109.checked = false;
    } else {
        check109.checked = true;
    }
    //-------------------------------
    check10.addEventListener('change', (e) => {
        if (check10.checked == true) {
            check110.checked = false;
        } else {
            check110.checked = true;
        }

    })
    check110.addEventListener('change', (e) => {
        if (check110.checked == true) {
            check10.checked = false;
        } else {
            check10.checked = true;
        }

    })
    if (check10.checked == true) {
        check110.checked = false;
    } else {
        check110.checked = true;
    }
    //-------------------------------
    check11.addEventListener('change', (e) => {
        if (check11.checked == true) {
            check111.checked = false;
        } else {
            check111.checked = true;
        }

    })
    check111.addEventListener('change', (e) => {
        if (check111.checked == true) {
            check11.checked = false;
        } else {
            check11.checked = true;
        }

    })
    if (check11.checked == true) {
        check111.checked = false;
    } else {
        check111.checked = true;
    }
    //-------------------------------
    check12.addEventListener('change', (e) => {
        if (check12.checked == true) {
            check112.checked = false;
        } else {
            check112.checked = true;
        }

    })
    check112.addEventListener('change', (e) => {
        if (check112.checked == true) {
            check12.checked = false;
        } else {
            check12.checked = true;
        }

    })
    if (check12.checked == true) {
        check112.checked = false;
    } else {
        check112.checked = true;
    }
        //-------------------------------
</script>