@model KyoS.Web.Models.TCMIntakeAppendixEViewModel
<div class="col-md-12">
    <pre>
    Recipient's Name: <strong>@Html.DisplayFor(modelItem => Model.TcmClient.Client.Name)</strong>                                Medicaid ID: <strong>@Html.DisplayFor(modelItem => Model.TcmClient.Client.MedicaidID)</strong>

    Is hereby certified as meeting all of the following adult mental health targeted case management criteria. 
    <input type="checkbox" asp-for="IsEnrolled" /> 1. Is enrolled in a Department of Children and Families adult mental health target population
    <input type="checkbox" asp-for="HasAmental2" /> 2. Has a mental health disability (i.e., severe and persistent mental illness) which requires advocacy
           for and coordination of services to maintain or improve level of functioning;
    <input type="checkbox" asp-for="RequiresServices" /> 3. Requires services to assist in attaining self sufficiency and satisfaction in the living, learning, work
           and social environments of choice;
    <input type="checkbox" asp-for="Lacks" /> 4. Lacks a natural support system with the ability to access needed medical, social, educational and
           other services;
    <input type="checkbox" asp-for="RequiresOngoing" /> 5. Requires ongoing assistance to access or maintain needed care consistently within the service
            delivery system;
    <input type="checkbox" asp-for="HasAmental6" /> 6. Has a mental health disability (i.e., severe and persistent mental illness) duration that, based upon
           professional judgment, will last for a minimum of one year;
    <input type="checkbox" asp-for="IsInOut" /> 7. Is in out-of-home mental health placement or at documented risk of out-of-home mental health placement; and
    <input type="checkbox" asp-for="IsNot" /> 8. Is not receiving duplicate case management services from another provider; or
    <input type="checkbox" asp-for="HasRecolated" /> 9. Has relocated from a Department of Children and Families district or region where he or she was
           receiving mental health targeted case management services.    
</pre>
</div>
<div class="col-md-12">
    <pre>
    <input type="checkbox" class="form-check-input" checked disabled> <i>Signed</i>
    <strong>Employee signature date</strong>         <input asp-for="Date">     <strong>Supervisor signature date</strong>    <input asp-for="SupervisorSignatureDate">
    <strong>(@Html.DisplayFor(modelItem => Model.AdmissionedFor))</strong>      
                        
    </pre>
</div>
<div class="col-md-12">
    &nbsp;
</div>

<br />
