@model IEnumerable<KyoS.Web.Data.Entities.TCMIntakeInterventionEntity>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Intervention List </h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover table-responsive table-striped" id="MyTable">
            <thead>
                <tr>
                    <th class="col-md-2">
                        Date
                    </th>
                    <th class="col-md-9" style="text-align:left;">
                        Activity Description
                    </th>
                    <th class="col-md-1">
                       
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td align="left">
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td align="left">
                            @Html.DisplayFor(modelItem => item.Activity)
                        </td>
                        <td align="left">
                            <a onclick="showInPopup('@Url.Action("EditTCMIntervention", "TCMIntakes", new { id = item.Id}, Context.Request.Scheme)','Edit Intervention Log')" class="btn btn-warning" title="Edit Intervention Log"><i class="glyphicon glyphicon-pencil"></i> </a>
                            <a onclick="ConfirmDelete(@item.Id)" class="btn btn-danger deleteItem"> <i class="glyphicon glyphicon-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

