@model KyoS.Web.Models.TCMIntakeConsentForTreatmentViewModel
@{
    ViewData["Title"] = "Consent For Treatment";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>

    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                @Html.ActionLink("TCM Intake Section 1", "TCMIntakeSectionDashboard", "TCMIntakes", new { id = @Model.IdTCMClient, section = 1 })
            </li>
            <li class="active">Consent for Treatment and Receive Medication</li>
        </ul><!--.breadcrumb-->
    </div>

    <h4>Consent for Treatment and Receive Medication</h4>
    <hr />
    <div class="row">
        <form asp-action="CreateTCMConsentForTreatment" asp-route-id="@Model.Id" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTCMClient" />
            <input type="hidden" asp-for="Client_FK" />
            <input type="hidden" asp-for="CreatedOn" />
            <input type="hidden" asp-for="CreatedBy" />
            <input type="hidden" asp-for="AdmissionedFor" />
            <partial name="_TCMIntakesConsentForTreatment" />
            <div class="form-group col-md-12">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="TCMIntakeSectionDashboard" asp-route-id="@Model.TcmClient.Id" asp-route-section="1" class="btn btn-success">Back</a>
            </div>
        </form>
    </div>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">

    </script>
}
