@model KyoS.Web.Models.TCMIntakeFormViewModel
@{
    ViewData["Title"] = "Edit TCM Intake Form";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>

    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                @Html.ActionLink("Intakes", "Index", "Intakes")
            </li>
            <li class="active">Edit TCM Intake Form</li>
        </ul><!--.breadcrumb-->
    </div>

    <h4>Edit TCM Intake Form</h4>
    <hr />
    <div class="row">
        <form asp-action="Edit" asp-route-id="@Model.Id" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTCMClient" />
            <input type="hidden" asp-for="TcmClient_FK" />
            <partial name="_TCMIntakesForm" />
            <div class="form-group col-md-12">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="TCMIntakeDashboard" asp-route-id="@Model.TcmClient.Client.Id" class="btn btn-success">Back</a>
            </div>
        </form>
    </div>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">

    </script>
}
