@model KyoS.Web.Models.TCMIntakeInterventionViewModel
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="EditTCMIntervention" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPostTCMServicePlanReview(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="IdInterventionLog" />
            <input type="hidden" asp-for="CreatedOn" />
            <input type="hidden" asp-for="CreatedBy" />
            <div class="form-group">
                <div class="col-md-3">
                    <label asp-for="TcmInterventionLog.TcmClient.CaseNumber" class="control-label">Case</label>
                    <input asp-for="TcmInterventionLog.TcmClient.CaseNumber" class="form-control" disabled />
                    <span asp-validation-for="TcmInterventionLog.TcmClient.CaseNumber" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="TcmInterventionLog.TcmClient.Client.Name" class="control-label">Client name</label>
                    <input asp-for="TcmInterventionLog.TcmClient.Client.Name" class="form-control" disabled />
                    <span asp-validation-for="TcmInterventionLog.TcmClient.Client.Name" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Date" class="control-label">Date</label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                &nbsp;
            </div>
            <div class="form-group col-md-12">
                <div class="">
                    <label asp-for="Activity" class="control-label">Activity Description</label>&nbsp;*
                    <input asp-for="Activity" class="form-control" />
                    <span asp-validation-for="Activity" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="col-md-12">
                &nbsp;
            </div>
            <div>
                <div class="col-md-offset-9">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>


