@model KyoS.Web.Models.MedicationViewModel
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="EditMedicationModal" onsubmit="return jQueryAjaxPostMedication(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="IdClient" />
            <input type="hidden" asp-for="Client.Name" />
            <div class="container-fluid">
                <h4 style="font-weight:bold;"> <span class="label label-info"> Client - @Model.Client.Name </span></h4>
            </div>
            <div>
                <div class=" col-md-6 form-group">
                    <label asp-for="Client.AdmisionDate" class="control-label"></label>
                    <input asp-for="Client.AdmisionDate" class="form-control" readonly />
                    <span asp-validation-for="Client.AdmisionDate" class="text-danger"></span>
                </div>
            </div>
            <div>
                <div class=" col-md-6 form-group">
                    <label asp-for="Client.Code" class="control-label"></label>
                    <input asp-for="Client.Code" class="form-control" readonly />
                    <span asp-validation-for="Client.Code" class="text-danger"></span>
                </div>
            </div>
            <div>
                <div class=" col-md-12 form-group">
                    <label asp-for="Prescriber" class="control-label"></label>
                    <input asp-for="Prescriber" class="form-control" readonly />
                    <span asp-validation-for="Prescriber" class="text-danger"></span>
                </div>
            </div>
            <div>
                <div class=" col-md-6 form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div>
                <div class=" col-md-3 form-group">
                    <label asp-for="Dosage" class="control-label"></label>
                    <input asp-for="Dosage" class="form-control" />
                    <span asp-validation-for="Dosage" class="text-danger"></span>
                </div>
            </div>
            <div>
                <div class=" col-md-3 form-group">
                    <label asp-for="Frequency" class="control-label"></label>
                    <input asp-for="Frequency" class="form-control" />
                    <span asp-validation-for="Frequency" class="text-danger"></span>
                </div>
            </div>
            <div>
                <div class="col-md-offset-9">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

