@model KyoS.Web.Models.IncidentViewModel

@{
    ViewData["Title"] = "Edit incindent";
}

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Incidents", "Index", "Incidents")
        </li>
        <li class="active">Edit</li>
    </ul><!--.breadcrumb-->
</div>

<h4>Edit incident</h4>
<hr />
<div class="row">
    <div>
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreatedDate" />
            <input type="hidden" asp-for="IdUserCreatedBy" />
            @if (ViewData["CreatedBy"].ToString() == "1")
            {
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="IdClient" class="control-label"></label>&nbsp;*
                        <select asp-for="IdClient" asp-items="Model.Clients" class="form-control"></select>
                        <span asp-validation-for="IdClient" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="IdUserAssigned" class="control-label"></label>&nbsp;
                        <select asp-for="IdUserAssigned" asp-items="Model.Users" class="form-control"></select>
                        <span asp-validation-for="IdUserAssigned" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    &nbsp;
                </div>
                <div class="col-md-6 form-group">
                    <label asp-for="Description" class="control-label"></label>&nbsp;*
                    <textarea asp-for="Description" class="form-control" rows="8"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="container-fluid">
                    &nbsp;
                </div>
            }
            else
            {
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="IdClient" class="control-label"></label>&nbsp;*
                        <select asp-for="IdClient" asp-items="Model.Clients" class="form-control" disabled></select>
                        <span asp-validation-for="IdClient" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="IdUserAssigned" class="control-label"></label>&nbsp;
                        <select asp-for="IdUserAssigned" asp-items="Model.Users" class="form-control" disabled></select>
                        <span asp-validation-for="IdUserAssigned" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    &nbsp;
                </div>
                <div class="col-md-6 form-group">
                    <label asp-for="Description" class="control-label"></label>&nbsp;*
                    <textarea asp-for="Description" class="form-control" rows="8" readonly></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="container-fluid">
                    &nbsp;
                </div>
            }
            @if (ViewData["Assigned"].ToString() == "1" || User.IsInRole("Admin") || User.IsInRole("Manager"))
            {
                <div class="col-md-3">
                    <label asp-for="Status" class="control-label"></label>&nbsp;*
                    <select asp-for="IdStatus" asp-items="Model.StatusList" class="form-control"></select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="col-md-3">
                    <label asp-for="Status" class="control-label"></label>&nbsp;*
                    <select asp-for="IdStatus" asp-items="Model.StatusList" class="form-control" disabled></select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            }
            <div class="col-md-12">
                &nbsp;
            </div>
            <div class="form-group col-md-12">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



