@model IEnumerable<KyoS.Web.Data.Entities.IncidentEntity>
@{
    ViewData["Title"] = "Incidents";
}

<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Dashboard", "Index", "Desktop")
        </li>
        <li class="active">Incidents</li>
    </ul><!--.breadcrumb-->
</div>

<p>
    @*<a asp-action="Create" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Create Incident</a>*@
    <a onclick="showInPopup('@Url.Action("CreateModal","Incidents",null,Context.Request.Scheme)','Create Incident')" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Create Incident</a>
</p>

<div class="row">
    <div class="col-md-12">
        @if (ViewBag.Delete == "N")
        {
            <div class="alert alert-block alert-danger">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>
                <strong class="red">
                    Error. It is not posible delete the incident
                </strong>
            </div>
        }
    </div>
</div>

<div class="row">
    <div id="view-incidents">
        @await Html.PartialAsync("_ViewIncidents", Model)
    </div>
</div>

<partial name="_ModalPopup" />
<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/datetime-moment.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $.fn.dataTable.moment('MM/DD/YYYY h:mm:ss a');

            $('#MyTable').DataTable({
                "order": [[4, "desc"]],
                "pageLength": 100
            });

            // Delete item
            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                var url = "@Url.Action("Delete", "Incidents")";
                window.location.href = url + '/' + item_to_delete;
            });
        });
        function ConfirmDelete(e) {
            Swal.fire({
                title: 'Do you want to delete?',
                text: "Note: All data related to this element will be deleted.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    var url = "@Url.Action("Delete", "Facilitators")";
                    window.location.href = url + '/' + e;
                }
            });
        }
    </script>
}


