@model KyoS.Web.Models.MedicationViewModel
<div class="col-md-push-12">
    <div class="col-md-3">
        <label asp-for="Client.Name" class="control-label">Client Name</label>
        <input asp-for="Client.Name" class="form-control" readonly />
        <span asp-validation-for="Client.Name" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="Client.AdmisionDate" class="control-label"></label>
        <input asp-for="Client.AdmisionDate" class="form-control" readonly />
        <span asp-validation-for="Client.AdmisionDate" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="Client.DateOfBirth" class="control-label"></label>
        <input asp-for="Client.DateOfBirth" class="form-control" readonly />
        <span asp-validation-for="Client.DateOfBirth" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="Client.Code" class="control-label"></label>
        <input asp-for="Client.Code" class="form-control" readonly />
        <span asp-validation-for="Client.Code" class="text-danger"></span>
    </div>
</div>
<div class="col-md-12">
    &nbsp;
</div>
<div class="col-md-push-12">
    <div class="col-md-3">
        <label asp-for="Name" class="control-label">Drug Name</label>&nbsp;*
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="Dosage" class="control-label"></label>&nbsp;*
        <input asp-for="Dosage" class="form-control" />
        <span asp-validation-for="Dosage" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="Frequency" class="control-label"></label>&nbsp;*
        <input asp-for="Frequency" class="form-control" />
        <span asp-validation-for="Frequency" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="Prescriber" class="control-label"></label>
        <input asp-for="Prescriber" class="form-control"  />
        <span asp-validation-for="Prescriber" class="text-danger"></span><br />
    </div>
</div>
<div class="col-md-12">
    &nbsp;
</div>








