@model IEnumerable<KyoS.Web.Models.TCMClientInfoViewModel>
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="Info">
            <div class="col-md-12">
                @if (Model != null)
                {
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Client Information</h3>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-hover table-responsive table-striped" id="MyTableDiag">
                                        <thead>
                                            <tr>
                                                <th class="col-md-2">
                                                    Info
                                                </th>
                                                <th class="col-md-10">
                                                    Description
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Info)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Description)
                                                    </td>
                                                   
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-offset-10">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            </div>
        </form>
    </div>
</div>


