@model IEnumerable<KyoS.Web.Data.Entities.CiteEntity>
@{
    ViewData["Title"] = "Appointments";
}

<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Dashboard", "Index", "Desktop")
        </li>
        <li class="active">Appointments</li>
    </ul><!--.breadcrumb-->
</div>

<div class="row">
    <div class="col-md-12">
        @if (ViewBag.Delete == "N")
        {
            <div class="alert alert-block alert-danger">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>
                <strong class="red">
                    Error. It is not posible delete the appointment
                </strong>
            </div>
        }
    </div>
</div>

<div class="row">
    <div id="view-cites">
        @await Html.PartialAsync("_ViewCites", Model)
    </div>
</div>

<partial name="_ModalPopupLg" />
<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#MyTable').DataTable();

                            // Delete item
                            var item_to_delete;

                            $('.deleteItem').click((e) => {
                                item_to_delete = e.currentTarget.dataset.id;
                            });

                            $("#btnYesDelete").click(function () {
                                var url = "@Url.Action("Delete", "Facilitators")";
                                window.location.href = url + '/' + item_to_delete;
                            });
                        });
        function ConfirmDelete(e) {
            Swal.fire({
                title: 'Do you want to delete?',
                text: "Note: All data related to this element will be deleted.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    var url = "@Url.Action("Delete", "Cites")";
                    window.location.href = url + '/' + e;
                }
            });
        }

    $(document).ready(function () {
        $("#lbFacilitator").change(function () {
                    var url = "@Url.Action("GetClients", "Cites")";
            $.get(url, { idFacilitator: $("#lbFacilitator").val()}, function (data) {
                $("#lbClient").empty();
                        $.each(data, function (index, row) {
                            $("#lbClient").append("<option value='" + row.value + "'>" + row.text + "</option>")
                        });

                    });
                })

            });
    </script>
}


