@model KyoS.Web.Models.SettingManagerViewModel
<div class="col-md-push-12">
    &nbsp;
</div>
<div class="col-md-push-12">
    <div class="form-group col-md-2">
        <label asp-for="TCMInitialTime" class="control-label">Start Time *</label>
        <input asp-for="TCMInitialTime" class="form-control" />
        <span asp-validation-for="TCMInitialTime" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="TCMEndTime" class="control-label">End Time *</label>
        <input asp-for="TCMEndTime" class="form-control" />
        <span asp-validation-for="TCMEndTime" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="UnitsForDayForClient" class="control-label">Max. daily units per client *</label>
        <input asp-for="UnitsForDayForClient" class="form-control" />
        <span asp-validation-for="UnitsForDayForClient" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <hr />
    </div>
</div>
<div class="col-md-push-12">
    <div class="form-group col-md-12">
        <input type="checkbox" asp-for="LockTCMNoteForUnits" class="form-check-input"><i>   Unable create notes for unavaliable units</i><br />
    </div>
</div>
<div class="col-md-push-12">
    <div class="form-group col-md-12">
        <input type="checkbox" asp-for="TCMSupervisorEdit" class="form-check-input"><i>   Enable edit documents by TCM supervisor</i><br />
    </div>
</div>
<div class="col-md-push-12">
    <div class="form-group col-md-12">
        <input type="checkbox" asp-for="CreateNotesTCMWithServiceplanInEdition" class="form-check-input"><i>   Unable create notes with Services Plan in edition</i><br />
    </div>
</div>
<div class="col-md-push-12">
    <div class="form-group col-md-12">
        <input type="checkbox" asp-for="TCMSupervisionTimeWithCaseManager" class="form-check-input"><i>   Supervision time in the presence of the TCM</i><br />
    </div>
</div>




