@model KyoS.Web.Models.SettingViewModel
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPostTem(this);">
            <div class="form-group col-md-12">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#basic" aria-controls="basic" role="tab" data-toggle="tab">Basic</a></li>
                    <li role="presentation"><a href="#mh" aria-controls="mh" role="tab" data-toggle="tab">CMH</a></li>
                    <li role="presentation"><a href="#tcm" aria-controls="tcm" role="tab" data-toggle="tab">TCM</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="basic">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-md-12">
                            &nbsp;
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="IdClinic" class="control-label"></label>&nbsp;*
                                <select asp-for="IdClinic" class="form-control" asp-items="Model.Clinics"></select>
                                <span asp-validation-for="IdClinic" class="text-danger"></span>
                            </div>
                        </div>                       
                    </div>
                    <div role="tabpanel" class="tab-pane" id="mh">
                        <div class="col-md-12">
                            &nbsp;
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="checkbox" asp-for="MentalHealthClinic" checked /> Enable Community Mental Health Clinic
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="checkbox" asp-for="AvailableCreateNewWorkdays" checked /> Enable to create new workdays (weeks)
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="checkbox" asp-for="MHClassificationOfGoals" checked /> Enable classification of Goals - MTP (This action can modify editing notes and pending notes)
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="checkbox" asp-for="MHProblems" checked /> Enable Audit module
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="checkbox" asp-for="BillSemanalMH" /> Enable to bill entire week
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="checkbox" asp-for="IndNoteForAppointment" /> Enable appointments for individual notes
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tcm">
                        <div class="col-md-12">
                            &nbsp;
                        </div>
                        <div>
                            <div class=" col-md-6 ">
                                <label asp-for="TCMInitialTime" class="control-label">Start Time</label>&nbsp;*
                                <input asp-for="TCMInitialTime" class="form-control" />
                                <span asp-validation-for="TCMInitialTime" class="text-danger"></span>
                            </div>
                            <div class=" col-md-6 ">
                                <label asp-for="TCMEndTime" class="control-label">End Time</label>&nbsp;*
                                <input asp-for="TCMEndTime" class="form-control" />
                                <span asp-validation-for="TCMEndTime" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            &nbsp;
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="checkbox" asp-for="TCMClinic" /> Enable TCM clinic
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="checkbox" asp-for="TCMSupervisorEdit" /> Enable edit documents by TCM supervisor
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="checkbox" asp-for="LockTCMNoteForUnits" /> Lock create notes for unavaliable units
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <hr />
            </div>
            <div class="col-md-12">
                <strong>Note: </strong> A clinic can only have one setting
            </div>
            <div class="col-md-12">
                <div class="col-md-offset-8">
                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="submit" value="Submit" class="btn btn-primary" />
                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>
}
