@model KyoS.Web.Models.TCMServicePlanViewModel
@{
    Layout = null;
}


<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="TcmClient.Client.Name" class="control-label"></label>
            <input asp-for="TcmClient.Client.Name" asp-items="Model.Client" class="form-control" readonly />
            <span asp-validation-for="TcmClient.Client.Name" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="TcmClient.CaseNumber" class="control-label">Case number</label>
            <input asp-for="TcmClient.CaseNumber" class="form-control" readonly />
            <span asp-validation-for="TcmClient.CaseNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="TcmClient.Casemanager.Name" class="control-label">Casemanager</label>
            <input asp-for="TcmClient.Casemanager.Name" asp-items="Model.CaseManager" class="form-control" readonly />
            <span asp-validation-for="TcmClient.Casemanager.Name" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="Clinic.Name" class="control-label">Clinic</label>
            <input asp-for="Clinic.Name" asp-items="Model.Clinic" class="form-control" readonly />
            <span asp-validation-for="Clinic.Name" class="text-danger"></span>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="Date_Intake" class="control-label"></label>
            <input asp-for="Date_Intake" class="form-control" />
            <span asp-validation-for="Date_Intake" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="Date_ServicePlan" class="control-label"></label>
            <input asp-for="Date_ServicePlan" class="form-control" />
            <span asp-validation-for="Date_ServicePlan" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="Date_Assessment" class="control-label"></label>
            <input asp-for="Date_Assessment" class="form-control" />
            <span asp-validation-for="Date_Assessment" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="Date_Certification" class="control-label"></label>
            <input asp-for="Date_Certification" class="form-control">
            <span asp-validation-for="Date_Certification" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="strengths" class="control-label"></label>
            <input asp-for="strengths" class="form-control">
            <span asp-validation-for="strengths" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="weakness" class="control-label"></label>
            <input asp-for="weakness" class="form-control" />
            <span asp-validation-for="weakness" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="dischargerCriteria" class="control-label"></label>
            <input asp-for="dischargerCriteria" class="form-control" />
            <span asp-validation-for="dischargerCriteria" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="ID_Status" class="control-label"></label>
            <select asp-for="ID_Status" asp-items="Model.Status" class="form-control"></select>
            <span asp-validation-for="ID_Status" class="text-danger"></span>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
            //    jQueryAjaxPost = form => {
            //        try {
            //            $.ajax({
            //                type: 'POST',
            //                url: form.action,
            //                data: new FormData(form),
            //                contentType: false,
            //                processData: false,
            //                success: function (res) {
            //                    if (res.isValid) {
            //                        $('#view-all').html(res.html)
            //                        $('#form-modal .modal-body').html('');
            //                        $('#form-modal .modal-title').html('');
            //                        $('#form-modal').modal('hide');
            //                    }
            //                    else
            //                        $('#form-modal .modal-body').html(res.html);
            //                },
            //                error: function (err) {
            //                    console.log(err)
            //                }
            //            })
            //            //to prevent default form submit event
            //            return false;
            //        } catch (ex) {
            //            console.log(ex)
            //        }
            //}
    </script>
}

