@model KyoS.Web.Models.TCMServicePlanViewModel
@{
    Layout = null;
}

<pre>
   @if (Model.Approved < 1)
   {
       <input type="checkbox" class="form-check-input" disabled> <i>Signed</i>
   }
   else
   { 
       <input type="checkbox" class="form-check-input" checked disabled> <i>Signed</i>
   }
       <strong>Employee signature date</strong>      <input asp-for="DateServicePlan" disabled>   
       <strong>(@Html.DisplayFor(modelItem => Model.TcmClient.Casemanager.Name))</strong>  <br /> 
   @if (Model.Approved < 2)
   {
       <input type="checkbox" class="form-check-input" disabled> <i>Signed</i>
   }
   else
   { 
       <input type="checkbox" class="form-check-input" checked disabled> <i>Signed</i>
   } 
       <strong>Supervisor signature date</strong>    <input asp-for="DateSupervisorSignature">
       <strong>(@Html.DisplayFor(modelItem => Model.TcmClient.Casemanager.TCMSupervisor.Name))</strong>
                        </pre>
<div class="col-md-12">
    <hr />
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
                        //    jQueryAjaxPost = form => {
                        //        try {
                        //            $.ajax({
                        //                type: 'POST',
                        //                url: form.action,
                        //                data: new FormData(form),
                        //                contentType: false,
                        //                processData: false,
                        //                success: function (res) {
                        //                    if (res.isValid) {
                        //                        $('#view-all').html(res.html)
                        //                        $('#form-modal .modal-body').html('');
                        //                        $('#form-modal .modal-title').html('');
                        //                        $('#form-modal').modal('hide');
                        //                    }
                        //                    else
                        //                        $('#form-modal .modal-body').html(res.html);
                        //                },
                        //                error: function (err) {
                        //                    console.log(err)
                        //                }
                        //            })
                        //            //to prevent default form submit event
                        //            return false;
                        //        } catch (ex) {
                        //            console.log(ex)
                        //        }
                        //}
    </script>
}

