/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;    
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;   
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.container {
    display: flex;
}

.reports {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.reports > a {
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 17px;
    text-decoration: none;
    padding: 3px 24px 4px 24px;
    color: black;
}

.reports > a:hover {
    background-color: rgb(54, 173, 244);
    box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.2);
    color: white;
}

.webreport {
    padding-left: 20px;
    padding-right: 24px;
}

.pdd-right-5 {
    padding-right: 5px !important;
}

.pdd-right-10 {
    padding-right: 10px !important;
}

.pdd-right-15 {
    padding-right: 15px !important;
}

.pdd-right-20 {
    padding-right: 20px !important;
}

.pdd-right-25 {
    padding-right: 25px !important;
}

.pdd-right-30 {
    padding-right: 30px !important;
}

.pdd-right-35 {
    padding-right: 35px !important;
}

.pdd-right-40 {
    padding-right: 40px !important;
}

.pdd-right-45 {
    padding-right: 45px !important;
}

.pdd-right-50 {
    padding-right: 50px !important;
}

.pdd-right-55 {
    margin-right: 55px !important;
}

.pdd-right-60 {
    padding-right: 60px !important;
}

.pdd-right-65 {
    padding-right: 65px !important;
}

.pdd-right-70 {
    padding-right: 70px !important;
}

.pdd-right-75 {
    padding-right: 75px !important;
}

.pdd-right-80 {
    padding-right: 80px !important;
}

.pdd-right-85 {
    padding-right: 85px !important;
}

.pdd-right-90 {
    padding-right: 90px !important;
}

.pdd-right-95 {
    padding-right: 95px !important;
}

.pdd-right-100 {
    padding-right: 100px !important;
}

.pdd-right-105 {
    padding-right: 105px !important;
}

.pdd-left-110 {
    padding-left: 110px !important;
}

.pdd-right-115 {
    padding-right: 115px !important;
}

.pdd-right-120 {
    margin-right: 120px !important;
}

.pdd-right-125 {
    padding-right: 125px !important;
}

.pdd-right-130 {
    padding-right: 130px !important;
}

.pdd-right-135 {
    padding-right: 135px !important;
}

.pdd-right-140 {
    padding-right: 140px !important;
}

.pdd-right-145 {
    padding-right: 145px !important;
}

.pdd-right-150 {
    padding-right: 150px !important;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.center-div {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 70%;
    margin-left: -150px;
    margin-top: -150px;
}

.list-info {
    margin-bottom: 0px;
    display: block;
    position: relative;
    padding-left: 0;
    list-style: none;
}

.overflow-y-auto {
    overflow-y: auto;
}

.relative {
    position: relative;
}

.spinner {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    filter: alpha(opacity=90);
    opacity: 0.9;
    -moz-opacity: 0.8;
}

.message-counter-cero {
    position: absolute;
    right: 6px;
    top: 12px;
    background-color: #777777;
    color: #ffffff;
    padding: 3px 5.5px;
    border-radius: 50px;
    line-height: 1;
    font-size: 11px;
}

.message-counter {
    position: absolute;
    right: 6px;
    top: 12px;
    background-color: #d9534f;
    color: #ffffff;
    padding: 3px 5.5px;
    border-radius: 50px;
    line-height: 1;
    font-size: 11px;
}

.message-counter-warning {
    position: absolute;
    right: 6px;
    top: 12px;
    background-color: #f0ad4e;
    color: #ffffff;
    padding: 3px 5.5px;
    border-radius: 50px;
    line-height: 1;
    font-size: 11px;
}

.message-counter-info {
    position: absolute;
    right: 6px;
    top: 12px;
    background-color: #5bc0de;
    color: #ffffff;
    padding: 3px 5.5px;
    border-radius: 50px;
    line-height: 1;
    font-size: 11px;
}

.message-counter-success {
    position: absolute;
    right: 6px;
    top: 12px;
    background-color: #5cb85c;
    color: #ffffff;
    padding: 3px 5.5px;
    border-radius: 50px;
    line-height: 1;
    font-size: 11px;
}

.notifications-counter {
    position: absolute;
    right: 6px;
    top: 12px;
    background-color: #d9534f;
    color: #ffffff;
    padding: 3px 5.5px;
    border-radius: 50px;
    line-height: 1;
    font-size: 10px;
}

.notifications-counter-cero {
    position: absolute;
    right: 6px;
    top: 12px;
    background-color: #777777;
    color: #ffffff;
    padding: 3px 5.5px;
    border-radius: 50px;
    line-height: 1;
    font-size: 10px;
}

.notice-header {
    padding: 15px 20px;
    border-bottom: 1px solid #e6ecf5;
}

.notice-footer {
    text-align: left;
    padding: 15px 20px;
    border-top: 1px solid #e6ecf5;
}

    .notice-footer a {
        display: block;
    }

a.text-gray:hover, a.text-gray:focus, a.text-gray.active {
    color: #515365 !important;
}

.text-gray {
    color: #888da8 !important;
}

.sub-title {
    display: block;
    font-size: 12px;
    color: #b4b7c8;
    max-width: 90%;
}

.loader {
    margin: auto;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #15a0ec;
    border-bottom: 8px solid #15a0ec;
    width: 35px;
    height: 35px;
    -webkit-animation: spin 1.2s linear infinite;
    animation: spin 1.2s linear infinite;
}

.inner-div {
    background-color: black;
    border-radius: 15px;
    margin: auto;
    padding: 2%;
    width: 100px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.card {
    position: relative;
    background-color: #ffffff;
    margin-bottom: 30px;
    border: 1px solid #e6ecf5;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.card.bg-primary, .card.bg-success, .card.bg-info, .card.bg-warning, .card.bg-danger {
    color: #e6e5e5;
}

.card.bg-primary h1, .card.bg-primary h2, .card.bg-primary h3, .card.bg-primary h4, .card.bg-primary h5, .card.bg-primary h6, .card.bg-success h1, .card.bg-success h2, .card.bg-success h3, .card.bg-success h4, .card.bg-success h5, .card.bg-success h6, .card.bg-info h1, .card.bg-info h2, .card.bg-info h3, .card.bg-info h4, .card.bg-info h5, .card.bg-info h6, .card.bg-warning h1, .card.bg-warning h2, .card.bg-warning h3, .card.bg-warning h4, .card.bg-warning h5, .card.bg-warning h6, .card.bg-danger h1, .card.bg-danger h2, .card.bg-danger h3, .card.bg-danger h4, .card.bg-danger h5, .card.bg-danger h6 {
    color: #ffffff;
}

.card.bg-primary p, .card.bg-success p, .card.bg-info p, .card.bg-warning p, .card.bg-danger p {
    color: #e6e5e5;
}

.card .card-heading {
    padding: 15px 20px;
    position: relative;
}

    .card .card-heading .card-title {
        margin-bottom: 0px;
    }

.card .card-body {
    padding: 15px 20px;
}

.card .card-footer {
    position: relative;
    padding: 10px 15px 10px 15px;
    min-height: 55px;
    background-color: transparent;
}

.card .card-footer .btn {
    margin: 0px;
}

.card .card-footer .btn-flat {
    font-size: 13px;
    text-transform: uppercase;
}

.card .card-horizon {
    padding: 0px;
    position: relative;
}

.card .card-horizon .image-container {
    overflow: hidden;
    position: absolute;
    height: 100%;
    padding: 0px;
    top: 0px;
}

.card .card-horizon .card-body {
    position: relative;
}

.card .card-horizon .background-holder {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 0;
}

.card .card-horizon .background-holder.has-content {
    display: table;
}

.card .card-horizon .background-holder.has-content .content {
    display: table-cell;
    vertical-align: middle;
    padding: 0px 15px;
}

.card:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    background: #ffffff; /* The Fallback */
    background: rgba(255, 255, 255, 0.85);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.card-block {
    padding: 30px;
}

.tab-info .nav-tabs > li > a.active {
    border-bottom: 2px solid #0f9aee;
}

.tab-info .nav-tabs > li > a.active:hover, .tab-info .nav-tabs > li > a.active:focus {
    border-bottom: 2px solid #0f9aee;
}

.tab-content {
    height: 100%;
}

.side-panel .side-panel-wrapper .nav-tabs {
    border-bottom: 1px solid #e6ecf5;
}



    