@model IEnumerable<KyoS.Web.Data.Entities.TCMSupervisorCertificationEntity>

@if (Model != null)
{
<div>
   <br />
</div>
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">TCM Supervisor Certifications</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-responsive table-striped" id="MyTable">
                <thead>
                    <tr>
                        <th class="col-md-4">
                            Course
                        </th>
                        <th class="col-md-2" style="text-align:center;">
                            Number
                        </th>
                        <th class="col-md-2" style="text-align:center;">
                           Date
                        </th>
                        <th class="col-md-2" style="text-align:center;">
                            Expirate
                        </th>
                        <th class="col-md-2" style="text-align:center;">
                            Staus
                        </th>
                                              
                    </tr>
                </thead>
                <tbody>
                        @foreach (var item in Model)
                        {
                            <tr style="color: darkgrey;">
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.CertificationNumber)
                                </td>
                                <td align="center">
                                    @if (item.Id > 0)
                                    {
                                        @Html.DisplayFor(modelItem => item.CertificateDate)
                                    }
                                </td>
                                <td align="center">
                                    @if (item.Id > 0)
                                    {
                                        @Html.DisplayFor(modelItem => item.ExpirationDate)
                                    }
                                </td>
                                <td align="center">
                                    @if (item.Id > 0)
                                    {
                                        @if (item.ExpirationDate < DateTime.Today)
                                        {
                                            <span class="label label-danger">
                                                Expired
                                            </span>
                                        }
                                        else
                                        {
                                            @if (item.ExpirationDate.AddDays(-30) < DateTime.Today)
                                            {
                                                <span class="label label-warning">
                                                    Expired soon
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="label label-success">
                                                    Valid
                                                </span>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <span class="label label-danger">
                                            Not Exists
                                        </span>
                                    }
                                </td>

                            </tr>
                        }
                </tbody>
            </table>
        </div>
    </div>
</div>
}



