@model KyoS.Web.Models.TCMsupervisorViewModel
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPostTem(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Code" class="control-label"></label>
                    <input asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="IdClinic" class="control-label"></label>
                    <select asp-for="IdClinic" asp-items="Model.Clinics" class="form-control"></select>
                    <span asp-validation-for="IdClinic" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="IdUser" class="control-label"></label>
                    <select asp-for="IdUser" asp-items="Model.UserList" class="form-control"></select>
                    <span asp-validation-for="IdUser" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="SignatureFile" class="control-label"></label>
                    <input asp-for="SignatureFile" type="file" class="form-control" />
                    <span asp-validation-for="SignatureFile" class="text-danger"></span>
                </div>
            </div>
            <div>
                <div class="col-md-offset-9">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-6">
                    <input type="checkbox" asp-for="TCM_Active" checked /> &nbsp;Active user
                </div>
                <div class="col-md-6">
                    &nbsp;
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        //    jQueryAjaxPost = form => {
        //        try {
        //            $.ajax({
        //                type: 'POST',
        //                url: form.action,
        //                data: new FormData(form),
        //                contentType: false,
        //                processData: false,
        //                success: function (res) {
        //                    if (res.isValid) {
        //                        $('#view-all').html(res.html)
        //                        $('#form-modal .modal-body').html('');
        //                        $('#form-modal .modal-title').html('');
        //                        $('#form-modal').modal('hide');
        //                    }
        //                    else
        //                        $('#form-modal .modal-body').html(res.html);
        //                },
        //                error: function (err) {
        //                    console.log(err)
        //                }
        //            })
        //            //to prevent default form submit event
        //            return false;
        //        } catch (ex) {
        //            console.log(ex)
        //        }
        //}
    </script>
}

