@model IEnumerable<KyoS.Web.Data.Entities.TCMSupervisorEntity>
@{
    ViewData["Title"] = "TCM Supervisor";
}

<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Dashboard", "Index", "Desktop")
        </li>
        <li class="active">TCM Supervisor</li>
    </ul><!--.breadcrumb-->
</div>

<p>
    @if (User.IsInRole("Manager"))
    {
        <a onclick="showInPopupLg('@Url.Action("Create", "TCMSupervisors", null, Context.Request.Scheme)','Add TCM Supervisor')" class="btn btn-primary" title="Create TCM Supervisors"><i class="glyphicon glyphicon-plus"></i> Create TCM Supervisor</a>
        <a asp-action="Signatures" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i> TCM Supervisor's Signatures</a> 
    }
    
    <a asp-action="TCMSupervisorCertification" class="btn btn-default"><i class="glyphicon glyphicon-eye-open"></i> TCM Suprvisor's certifications</a>
    <a onclick="showInPopupLg('@Url.Action("AuditCertification","TCMsupervisors",null,Context.Request.Scheme)','Audit Certifications')" class="btn btn-danger" title="Audit Certifications"><i class="glyphicon glyphicon-alert"></i>  Audit Certifications</a>

</p>

<div class="row">
    <div id="view-tcmsupervisor">
        @await Html.PartialAsync("_ViewTCMSupervisors", Model.ToList())
    </div>
</div>

<partial name="_ModalPopupLg" />
<partial name="_ModalPopup" />
<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                "order": [[1, "asc"]],
                "pageLength": 50
            });        
        });

        function ConfirmDelete(e) {
            Swal.fire({
                title: 'Do you want to delete?',
                text: "Note: All data related to this element will be deleted.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    var url = "@Url.Action("Delete", "TCMSupervisors")";
                    window.location.href = url + '/' + e;
                }
            });
        }

        $(function () {

            //Assign Click event to Plus Image.
            $("body").on("click", "a[class*='icon-plus-sign-alt']", function () {
                $(this).closest("tr").after("<tr><td></td><td colspan = '999'>" + $(this).next().html() + "</td></tr>");
                $(this).attr("class", "icon-minus-sign-alt");
            });
            //Assign Click event to Minus Image.
            $("body").on("click", "a[class*='icon-minus-sign-alt']", function () {
                $(this).attr("class", "icon-plus-sign-alt");
                $(this).closest("tr").next().remove();
            });
        });

    </script>
}

