@model KyoS.Web.Models.FarsFormViewModel
@{
    ViewData["Title"] = "Edit FARS FORM";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EDIT FARS FORM</title>
</head>
<body>

    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                @Html.ActionLink("FarsForms", "Index", "FarsForms")
            </li>
            <li class="active">Edit FARS FORM</li>
        </ul><!--.breadcrumb-->
    </div>

    <h4>Edit FARS FORM</h4>
    <hr />
    <div class="row">

        <div>
            <form asp-action="Edit" asp-route-id="@Model.Id" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdClient" />
                <input type="hidden" asp-for="AdmissionedFor" />
                <partial name="_FarsForms" />
                <div class="form-group col-md-12">
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-success">Back</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">

    </script>
}

