@model KyoS.Web.Data.Entities.TCMClientEntity
@if (Model != null)
{
    <div class="col-md-push-12">
        <div class="form-group col-md-3">
            <label asp-for="Client.Name" class="control-label">Client Name</label>
            <input asp-for="Client.Name" class="form-control" readonly>
        </div>
         <div class="form-group col-md-2">
            <label asp-for="CaseNumber" class="control-label">Case Number</label>
            <input asp-for="CaseNumber" class="form-control" readonly>
        </div>
         <div class="form-group col-md-2">
            <label asp-for="Client.DateOfBirth" class="control-label">Birth Date</label>
            <input asp-for="Client.DateOfBirth" class="form-control" readonly>
        </div>
         <div class="form-group col-md-3">
            <label asp-for="Casemanager.Name" class="control-label">TCM Name</label>
            <input asp-for="Casemanager.Name" class="form-control" readonly>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="Casemanager.TCMSupervisor.Name" class="control-label">TCM Supervisor Name</label>
            <input asp-for="Casemanager.TCMSupervisor.Name" class="form-control" readonly>
        </div>
        <div class="form-group col-md-1">
            <label asp-for="Status" class="control-label"></label>
            <input asp-for="Status" class="form-control" readonly>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="DataOpen" class="control-label">Case Open</label>
            <input asp-for="DataOpen" class="form-control" readonly>
        </div>
         <div class="form-group col-md-1">
            <label asp-for="Period" class="control-label">Month</label>
            <input asp-for="Period" class="form-control" readonly>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="DataClose" class="control-label">Case Close</label>
            <input asp-for="DataClose" class="form-control" readonly>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="Client.Telephone" class="control-label">Telephone</label>
            <input asp-for="Client.Telephone" class="form-control" readonly>
        </div>
        <div class="container-fluid">
            &nbsp;
        </div>
    </div>
}



