@model KyoS.Web.Models.TCMTransferViewModel

<div class="col-md-12">
    <pre>
    <strong>CLIENT INFORMATION</strong>    
    <strong>Client’s Name:</strong>                     <input asp-for="TCMClient.Client.Name" style="width:20%" disabled>                 <strong>Client’s Number:</strong>    <input asp-for="TCMClient.CaseNumber" disabled>
    <strong>Legal Guardian (if applicable):</strong>    <input asp-for="LegalGuardianName" style="width:20%" disabled>                 <strong>Phone No:</strong>           <input asp-for="LegalGuardianPhone" disabled>
    <strong>Has Client’s contact information change since case was opened?</strong>         <input type="checkbox" asp-for="ChangeInformation" class="form-check-input" id="check1"> Yes   <input type="checkbox" class="form-check-input" id="check101"> No        If Yes, please update:
    <strong>Address:</strong>             <input asp-for="Address" style="width:20%">                 <strong>City, State, Zip:</strong>    <input asp-for="CityStateZip" style="width:20%">
    <strong>Primary Phone No:</strong>    <input asp-for="PrimaryPhone" style="width:20%">                 <strong>Other Phone No:</strong>      <input asp-for="OtherPhone">    

    </pre>
</div>

<div class="col-md-12">
    <pre>
    <strong>CASE MANAGEMENT TRANSFER FOLLOW-UP RECOMENDATIONS</strong>    
    <textarea asp-for="TransferFollow" rows="4" style="width:90%" ></textarea>
    </pre>
</div>

<div class="col-md-12">
    <pre>
    <strong>Case Manager’s Name:</strong>                 <input asp-for="TCMAssignedFrom.Name" style="width:20%" disabled>           <strong>Opening Date:</strong>           <input asp-for="OpeningDate" disabled>
    <strong>Date of Service Plan or Last SPR:</strong>    <input asp-for="DateServicePlanORLastSPR" style="width:15%" disabled>                        <strong>Date of last service:</strong>   <input asp-for="DateLastService" disabled>
    <strong>Has Client’s chart been fully audited prior transfer?</strong>    <input type="checkbox" asp-for="HasClientChart" class="form-check-input" id="check2"> Yes    <input type="checkbox" class="form-check-input" id="check102"> No                             <strong>Date of Audit:</strong>          <input asp-for="DateAudit">

    <input type="checkbox" asp-for="TCMAssignedFromAccept" class="form-check-input" id="check4" disabled>                                       <input asp-for="TCMAssignedFrom.Name" style="width:20%" disabled>            <input asp-for="DateAuditSign" style="width:15%" disabled>
    Signature of Old Case Manager                           Case Manager Print Name                                              Date

    *I certify that all documentation on client’s file prior transfer is up-to-update and in compliance with agency regulations.

    <input type="checkbox" asp-for="TCMSupervisorAccept" class="form-check-input" id="check5" disabled>                                       <input asp-for="TCMSupervisor.Name" style="width:20%" disabled>            <input asp-for="DateAuditSign" style="width:15%">
    Signature of person completing audit                           Print name                                                  Date
    </pre>
</div>

<div class="col-md-12">
    <pre>
    <strong>TRANSFER COMPLETION -----For Office Use Only – Do Not Write Below This Line -----</strong>   

    <strong>Case Assigned to:</strong>       <select asp-for="IdCaseManagerTo" asp-items="Model.TCMsTo"></select>           <strong>Opening Date:</strong>    <input asp-for="OpeningDateAssignedTo" style="width:15%">        <strong>End Transfer:</strong>    <input asp-for="EndTransferDate" style="width:15%">
                             <span asp-validation-for="IdCaseManagerTo" class="text-danger"></span>
    <input type="checkbox" asp-for="TCMAssignedToAccept" class="form-check-input" id="check6" disabled>                                       <input asp-for="TCMAssignedTo.Name" style="width:20%" disabled>            <input asp-for="DateAuditSign" style="width:15%" disabled>
    Signature of New Case Manager                           Case Manager Print Name                                              Date
    </pre>
</div>


<div class="col-md-push-12">

</div>
<script>
    check1.addEventListener('change', (e) => {
        if (check1.checked == true) {
            check101.checked = false;
        } else {
            check101.checked = true;
        }

    })
    check101.addEventListener('change', (e) => {
        if (check101.checked == true) {
            check1.checked = false;
        } else {
            check1.checked = true;
        }

    })
    if (check1.checked == true) {
        check101.checked = false;
    } else {
        check101.checked = true;
    }
    //
    check2.addEventListener('change', (e) => {
        if (check2.checked == true) {
            check102.checked = false;
        } else {
            check102.checked = true;
        }

    })
    check102.addEventListener('change', (e) => {
        if (check102.checked == true) {
            check2.checked = false;
        } else {
            check2.checked = true;
        }

    })
    if (check2.checked == true) {
        check102.checked = false;
    } else {
        check102.checked = true;
    }
</script>



