@model KyoS.Web.Models.HealthInsuranceViewModel
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="EditModal" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPostHealthInsurance(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreatedBy" />
            <input type="hidden" asp-for="CreatedOn" />
            <input type="hidden" asp-for="DocumentPath" />
            <div class="col-md-8">
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>&nbsp;*
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="SignedDate" class="control-label"></label>&nbsp;*
                    <input asp-for="SignedDate" class="form-control" />
                    <span asp-validation-for="SignedDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label asp-for="DocumentFile" class="control-label"></label>
                    <input asp-for="DocumentFile" class="form-control" type="file" id="photoBrowser" />
                    <span asp-validation-for="DocumentFile" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="DurationTime" class="control-label"></label>
                    <input asp-for="DurationTime" class="form-control" />
                    <span asp-validation-for="DurationTime" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="CPTcode_PSR" class="control-label">CPT Code PSR</label>
                    <input asp-for="CPTcode_PSR" class="form-control" />
                    <span asp-validation-for="CPTcode_PSR" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="CPTcode_Ind" class="control-label">CPT Code Ind.</label>
                    <input asp-for="CPTcode_Ind" class="form-control" />
                    <span asp-validation-for="CPTcode_Ind" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="CPTcode_Group" class="control-label">CPT Code Group</label>
                    <input asp-for="CPTcode_Group" class="form-control" />
                    <span asp-validation-for="CPTcode_Group" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="CPTcode_BIO" class="control-label">CPT Code BIO</label>
                    <input asp-for="CPTcode_BIO" class="form-control" />
                    <span asp-validation-for="CPTcode_BIO" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="CPTcode_MTP" class="control-label">CPT Code MTP</label>
                    <input asp-for="CPTcode_MTP" class="form-control" />
                    <span asp-validation-for="CPTcode_MTP" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="CPTcode_MTPR" class="control-label">CPT Code MTPR</label>
                    <input asp-for="CPTcode_MTPR" class="form-control" />
                    <span asp-validation-for="CPTcode_MTPR" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="CPTcode_FARS_MH" class="control-label">CPT Code FARS</label>
                    <input asp-for="CPTcode_FARS_MH" class="form-control" />
                    <span asp-validation-for="CPTcode_FARS_MH" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="CPTcode_TCM" class="control-label">CPT Code MH</label>
                    <input asp-for="CPTcode_TCM" class="form-control" />
                    <span asp-validation-for="CPTcode_TCM" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <input type="checkbox" asp-for="NeedAuthorization" /> Need Authorization
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <input type="checkbox" asp-for="Active" /> Active
                </div>
            </div>
           
            <div class="col-md-12">
                <div form-group">
                    <hr />
                </div>
            </div>
            <div>
                <div class="col-md-offset-9 form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <button type="button" class="btn btn-success" data-dismiss="modal">Back</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>
}


