@model KyoS.Web.Models.FacilitatorViewModel
<div class="col-md-6 form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="col-md-6 form-group">
    <label asp-for="Codigo" class="control-label"></label>
    <input asp-for="Codigo" class="form-control" />
    <span asp-validation-for="Codigo" class="text-danger"></span>
</div>
<div class="col-md-6 form-group">
    <label asp-for="IdClinic" class="control-label"></label>
    <select asp-for="IdClinic" asp-items="Model.Clinics" class="form-control"></select>
    <span asp-validation-for="IdClinic" class="text-danger"></span>
</div>
<div class="col-md-6 form-group">
    <label asp-for="IdStatus" class="control-label"></label>
    <select asp-for="IdStatus" asp-items="Model.StatusList" class="form-control"></select>
    <span asp-validation-for="IdStatus" class="text-danger"></span>
</div>
<div class="col-md-6 form-group">
    <label asp-for="IdUser" class="control-label"></label>
    <select asp-for="IdUser" asp-items="Model.UserList" class="form-control"></select>
    <span asp-validation-for="IdUser" class="text-danger"></span>
</div>


