@model KyoS.Web.Models.FacilitatorViewModel
<div class="col-md-push-12">
    &nbsp;
</div>

<div class ="container-fluid">
    <div class="col-md-4 form-group">
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="col-md-3 form-group">
        <label asp-for="MiddleName" class="control-label"></label>
        <input asp-for="MiddleName" class="form-control" />
        <span asp-validation-for="MiddleName" class="text-danger"></span>
    </div>
    <div class="col-md-5 form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
</div>
<div class="container-fluid">
    <div class="col-md-3 form-group">
        <label asp-for="DateOfBirth" class="control-label"></label>
        <input asp-for="DateOfBirth" class="form-control" />
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="IdGender" class="control-label"></label>&nbsp;*
        <select asp-for="IdGender" asp-items="Model.GenderList" class="form-control"></select>
        <span asp-validation-for="IdGender" class="text-danger"></span>
    </div>
    <div class="col-md-4 form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="col-md-3 form-group">
        <label asp-for="Phone" class="control-label"></label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
</div>
<div class="container-fluid">
    <div class="form-group col-md-6">
        <label asp-for="Address" class="control-label"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="col-md-3 form-group">
        <label asp-for="City" class="control-label"></label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <div class="col-md-3 form-group">
        <label asp-for="ZipCode" class="control-label"></label>
        <input asp-for="ZipCode" class="form-control" />
        <span asp-validation-for="ZipCode" class="text-danger"></span>
    </div>
</div>
<div class="container-fluid">
    <div class="col-md-4 form-group">
        <label asp-for="SignatureFile" class="control-label"></label>
        <input asp-for="SignatureFile" type="file" class="form-control" />
        <span asp-validation-for="SignatureFile" class="text-danger"></span>
    </div>
    <div class="col-md-4 form-group">
        <label asp-for="IdUser" class="control-label"></label>&nbsp;*
        <select asp-for="IdUser" asp-items="Model.UserList" class="form-control"></select>
        <span asp-validation-for="IdUser" class="text-danger"></span>
    </div>
    <div class="col-md-4 form-group">
        <label asp-for="IdStatus" class="control-label"></label>&nbsp;*
        <select asp-for="IdStatus" asp-items="Model.StatusList" class="form-control"></select>
        <span asp-validation-for="IdStatus" class="text-danger"></span>
    </div>
   
</div>
<div class="col-md-push-12">
    &nbsp;
</div>
<div>
    <div class="col-md-12 form-group">
        @if (!string.IsNullOrEmpty(Model.SignaturePath))
        {
            <img src="@Url.Content(Model.SignaturePath)" alt="Image" style="width:200px;height:100px;max-width: 100%; height: auto;" />
        }
    </div>
</div>
