@model KyoS.Web.Models.TCMAssessmentViewModel

<div class="col-md-push-12">
    <div class="col-md-12">
    <pre>
    <strong>This assessment was based on the information obtained from the following sources </strong> (check all that apply): 
    <input asp-for="ClientInput">  Client’s input and own assessment       <input asp-for="Family"> Family and friends         <input asp-for="Referring"> Referring Agency/Provider        <input asp-for="School"> School
    <input asp-for="Treating">  Treating Providers                      <input asp-for="Caregiver">  Caregiver                 <input asp-for="Review"> Review of client’s records       <input asp-for="Other"> Other <input asp-for="OtherExplain"  style="width:30%">
    </pre>
    </div>
</div>