@model KyoS.Web.Models.TCMAssessmentViewModel

<div class="col-md-push-12">
    <div class="col-md-12">
    <pre>
    <strong>Have you ever been to any rehab/detox treatment or program? </strong>
    <input asp-for="HaveYouEverBeenToAny" class="form-check-input" id="check8" disabled> Yes      <input type="checkbox" class="form-check-input" id="check108" disabled> No  If Yes, complete information below:        
    </pre>
    </div>
</div>
<div class="col-md-push-12">
    <div class="form-group col-md-3">
        <label asp-for="WhenWas" class="control-label">When was the first time?</label>
        <input asp-for="WhenWas" class="form-control" disabled>
        <span asp-validation-for="WhenWas" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3">
        <label asp-for="HowManyTimes" class="control-label">How many times since then? </label>
        <input asp-for="HowManyTimes" class="form-control" disabled>
        <span asp-validation-for="HowManyTimes" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3">
        <label asp-for="DateMostRecent" class="control-label">Date of most recent</label>
        <input asp-for="DateMostRecent" class="form-control" disabled>
        <span asp-validation-for="DateMostRecent" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3">
        <label asp-for="Outcome" class="control-label">Outcome of treatment</label>
        <input asp-for="Outcome" class="form-control" disabled>
        <span asp-validation-for="Outcome" class="text-danger"></span>
    </div>
</div>
<div class="col-md-push-12">
    <div class="col-md-12">
    <pre>
    <strong>Does the client feel that he/she currently has an addiction problem? </strong>
    <input asp-for="DoesTheClientFeel" class="form-check-input" id="check9" disabled> Yes      <input type="checkbox" class="form-check-input" id="check109" disabled> No  If Yes, complete information below:        
    Describe any other issues related to client’s mental health: 
    <textarea asp-for="DescribeAnyOther" rows="3" style="width:95%" disabled> </textarea>
   </pre>
    </div>
</div>
<div class="col-md-push-12">
    <div class="form-group col-md-3">
        <label asp-for="PCP_Name" class="control-label">Primary Care Physician (PCP): </label>
        <input asp-for="PCP_Name" class="form-control" readonly>
        <span asp-validation-for="PCP_Name" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="PCP_Phone" class="control-label">Phone No</label>
        <input asp-for="PCP_Phone" class="form-control" readonly>
        <span asp-validation-for="PCP_Phone" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="PCP_Address" class="control-label">Address</label>
        <input asp-for="PCP_Address" class="form-control" readonly>
        <span asp-validation-for="PCP_Address" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3">
        <label asp-for="PCP_CityStateZip" class="control-label">City, State, Zip</label>
        <input asp-for="PCP_CityStateZip" class="form-control" readonly>
        <span asp-validation-for="PCP_CityStateZip" class="text-danger"></span>
    </div>
</div>
