@model KyoS.Web.Models.TCMAssessmentViewModel

<div class="col-md-push-12">
    <div class="col-md-12">
    <pre>
    <strong>This assessment was based on the information obtained from the following sources </strong> (check all that apply): 
    <input asp-for="ClientInput" id="ClientInput">  Client’s input and own assessment       <input asp-for="Family" id="Family"> Family and friends         <input asp-for="Referring" id="Referring"> Referring Agency/Provider        <input asp-for="School" id="School"> School
    <input asp-for="Treating" id="Treating">  Treating Providers                      <input asp-for="Caregiver" id="Caregiver">  Caregiver                 <input asp-for="Review" id="Review"> Review of client’s records       <input asp-for="Other" id="Other"> Other <input asp-for="OtherExplain"  style="width:30%" id="OtherExplain">
    </pre>
    </div>
</div>