@model KyoS.Web.Models.TCMAssessmentViewModel

<div class="col-md-push-12">
    <div class="form-group col-md-2">
        <label asp-for="TcmClient.Client.Name" class="control-label">Client Name</label>
        <input asp-for="TcmClient.Client.Name" class="form-control" readonly>
        <span asp-validation-for="TcmClient.Client.Name" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="TcmClient.CaseNumber" class="control-label">Case Number</label>
        <input asp-for="TcmClient.CaseNumber" class="form-control" readonly>
        <span asp-validation-for="TcmClient.CaseNumber" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="TcmClient.Client.FullAddress" class="control-label">Address, City, State, Zip </label>
        <input asp-for="TcmClient.Client.FullAddress" class="form-control" readonly>
        <span asp-validation-for="TcmClient.Client.FullAddress" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="TcmClient.Client.Telephone" class="control-label">Cell Phone No</label>
        <input asp-for="TcmClient.Client.Telephone" class="form-control" readonly>
        <span asp-validation-for="TcmClient.Client.Telephone" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="TcmClient.Client.TelephoneSecondary" class="control-label">Other Phone</label>
        <input asp-for="TcmClient.Client.TelephoneSecondary" class="form-control" readonly>
        <span asp-validation-for="TcmClient.Client.TelephoneSecondary" class="text-danger"></span>
    </div>
</div>
<div class="col-md-push-12">
    <div class="form-group col-md-2">
        <label asp-for="TcmClient.Client.Email" class="control-label">Email Address</label>
        <input asp-for="TcmClient.Client.Email" class="form-control" readonly>
        <span asp-validation-for="TcmClient.Client.Email" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="TcmClient.Client.DateOfBirth" class="control-label">DOB</label>
        <input asp-for="TcmClient.Client.DateOfBirth" class="form-control" readonly>
        <span asp-validation-for="TcmClient.Client.DateOfBirth" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="TcmClient.Client.SSN" class="control-label">SSN</label>
        <input asp-for="TcmClient.Client.SSN" class="form-control" readonly>
        <span asp-validation-for="TcmClient.Client.SSN" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="TcmClient.Client.Gender" class="control-label">Gender</label>
        <input asp-for="TcmClient.Client.Gender" class="form-control" readonly>
        <span asp-validation-for="TcmClient.Client.Gender" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="TcmClient.Client.Race" class="control-label">Race</label>
        <input asp-for="TcmClient.Client.Race" class="form-control" readonly>
        <span asp-validation-for="TcmClient.Client.Race" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="TcmClient.Client.Ethnicity" class="control-label">Ethnicity</label>
        <input asp-for="TcmClient.Client.Ethnicity" class="form-control" readonly>
        <span asp-validation-for="TcmClient.Client.Ethnicity" class="text-danger"></span>
    </div>
</div>
<div class="col-md-push-12">
    <div class="form-group col-md-2">
        <label asp-for="TcmClient.Client.MaritalStatus" class="control-label">Marital Status</label>
        <input asp-for="TcmClient.Client.MaritalStatus" class="form-control" readonly>
        <span asp-validation-for="TcmClient.Client.MaritalStatus" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="TcmClient.Client.PreferredLanguage" class="control-label">Primary Language</label>
        <input asp-for="TcmClient.Client.PreferredLanguage" class="form-control" readonly>
        <span asp-validation-for="TcmClient.Client.PreferredLanguage" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="TcmClient.Client.OtherLanguage" class="control-label">Other Language</label>
        <input asp-for="TcmClient.Client.OtherLanguage" class="form-control" readonly>
        <span asp-validation-for="TcmClient.Client.OtherLanguage" class="text-danger"></span>
    </div>
    <div class="form-group col-md-1">
        <br />
        <label asp-for="TcmClient.Client.OtherLanguage_Read" class="control-label">Read</label>
        <input asp-for="TcmClient.Client.OtherLanguage_Read" disabled />
        <span asp-validation-for="TcmClient.Client.OtherLanguage_Read" class="text-danger"></span>
    </div>
    <div class="form-group col-md-1">
        <br />
        <label asp-for="TcmClient.Client.OtherLanguage_Speak" class="control-label">Speak</label>
        <input asp-for="TcmClient.Client.OtherLanguage_Speak" disabled />
        <span asp-validation-for="TcmClient.Client.OtherLanguage_Speak" class="text-danger"></span>
    </div>
    <div class="col-md-2">
        <br />
        <label asp-for="TcmClient.Client.OtherLanguage_Understand" class="control-label">Understand</label>
        <input asp-for="TcmClient.Client.OtherLanguage_Understand" disabled />
        <span asp-validation-for="TcmClient.Client.OtherLanguage_Understand" class="text-danger"></span>
    </div>
</div>
<div class="col-md-push-12">
    <div class="col-md-12">
    <pre>

    <strong>Legal Decision-Maker or Authorized Representative (if applicable)</strong>

    <input asp-for="LegalDecisionNone"> None         <input asp-for="LegalDecisionLegal"> Legal Guardian         <input asp-for="LegalDecisionAdLitem"> Guardian-ad-Litem          <input asp-for="LegalDecisionParent"> Parent         <input asp-for="LegalDecisionAttomey"> Attomey-in-fact        <input asp-for="LegalDecisionOther"> Other <input asp-for="LegalDecisionOtherExplain"  style="width:20%" />
    
    <label asp-for="LegalDecisionName" class="control-label">Name</label>                           <label asp-for="LegalDecisionPhone" class="control-label">Phone No</label>                        <label asp-for="LegalDecisionAddress" class="control-label">Address</label>                          <label asp-for="LegalDecisionCityStateZip" class="control-label">City, State, Zip</label>
    <input asp-for="LegalDecisionName" readonly>         <input asp-for="LegalDecisionPhone"  readonly>          <input asp-for="LegalDecisionAddress"  readonly>           <input asp-for="LegalDecisionCityStateZip"  readonly>
    </pre>
    </div>
</div>
<div class="col-md-push-12">
    <div class="col-md-12">
    <pre>
    Need of Special Accommodations?     <input type="checkbox" class="form-check-input" id="check101"> No        <input asp-for="LegalDecisionNone" class="form-check-input" id="check1"> Yes       Specify:  <input asp-for="NeedOfSpecialSpecify"  style="width:30%">
    
    <strong>TYPE OF ASSESSMENT </strong>
    <input asp-for="TypeOfAssessmentInitial"> Initial       <input asp-for="TypeOfAssessmentAnnual"> Annual          <input asp-for="TypeOfAssessmentSignificant"> Significant Change    <input asp-for="TypeOfAssessmentOther"> Other:  <input asp-for="TypeOfAssessmentOtherExplain"  style="width:30%">
        
    <strong>Is client currently receiving Case Management services through another provider?</strong>    <input asp-for="NeedOfSpecial" class="form-check-input" id="check2"> Yes       <input type="checkbox" class="form-check-input" id="check102"> No
    </pre>
    </div>
</div>