@model KyoS.Web.Models.TCMAssessmentViewModel

<div class="col-md-push-12">
    <div class="col-md-12">
    <pre>
    Allergy  <input type="checkbox" class="form-check-input" id="check110" disabled> No      <input asp-for="Allergy" class="form-check-input" id="check10" disabled> Yes      Specify: <input asp-for="AllergySpecify" style="width:40%" disabled>
    </pre>
    </div>
</div>
<div class="col-md-push-12">
    <div class="col-md-12">
    <pre>
    Has client undergone any surgical procedure?  <input asp-for="DoesTheClientFeel" class="form-check-input" id="check11" disabled> Yes      <input type="checkbox" class="form-check-input" id="check111" disabled> No  If Yes, complete information below:  
    </pre>
    </div>
</div>

