@model KyoS.Web.Models.TCMAssessmentViewModel

<div class="col-md-push-12">
    <div class="col-md-12">
        <pre>
        RISK ASSESSMENT 
        Has client ever had or currently has any of the following? (Check all that apply) 
        <input asp-for="Suicidal" disabled/> Suicidal Attempt/Ideation         <input asp-for="Homicidal" disabled/>  Homicidal Attempt/Ideation                 <input asp-for="HowDoesFamily" disabled/> Abuse/Violence (Physical, Sexual, Emotional)

        Provide details:
        <textarea asp-for="Provider" rows="3" style="width:90%" disabled> </textarea>
        Describe any risk taking behavior that client may have: 
        <textarea asp-for="DescribeAnyRisk" rows="3" style="width:90%" disabled> </textarea>
        SUBSTANCE ABUSE / CHEMICAL DEPENDENCY HISTORY 
        Have you ever used alcohol or other drugs?   <input asp-for="HaveYouEverUsedAlcohol" class="form-check-input" id="check7" disabled> Yes      <input type="checkbox" class="form-check-input" id="check107" disabled> No  If Yes, complete information below:
        </pre>
    </div>
</div>
