@model KyoS.Web.Models.TCMAssessmentViewModel

<div class="col-md-push-12">
    <div class="col-md-12">
    <pre>
    <strong>How does client remember to take his/her medications? <i>(Check all that apply)</i> </strong>
    <input asp-for="HowDoesByFollowing" id="HowDoesByFollowing"/>  By following directions         <input asp-for="HowDoesPill" id="HowDoesPill"/>  Pill Organizer                 <input asp-for="HowDoesFamily" id="HowDoesFamily"/> Family/Caregiver
    <input asp-for="HowDoesCalendar" id="HowDoesCalendar"/>  Calendar reminder               <input asp-for="HowDoesElectronic" id="HowDoesElectronic"/>  Electronic reminder            <input asp-for="HowDoesRNHHA" id="HowDoesRNHHA"/> RN/HHA Set-up
    <input asp-for="HowDoesKeeping" id="HowDoesKeeping"/>  Keeping them visible            <input asp-for="HowDoesDaily" id="HowDoesDaily"/>  Daily task association         <input asp-for="HowDoesOther" id="HowDoesOther"/> Other:  <input asp-for="HowDoesOtherExplain" style="width:40%" id="HowDoesOtherExplain"/>

    <strong>How well does client self-administer medication? </strong>
    <input asp-for="HowWeelWithNo" id="HowWeelWithNo"/>  With no help or supervision                            <input asp-for="HowWeelWithALot" id="HowWeelWithALot"/>  With a lot of help or constant supervision        
    <input asp-for="HowWeelWithSome" id="HowWeelWithSome"/>  With some help or occasional supervision               <input asp-for="HowWeelEnable" id="HowWeelEnable"/>  Unable to administer own medications/caregiver gives them            

    Has the client had problems getting the medication dispensed or refilled on time?   <input asp-for="HasTheClient" class="form-check-input" id="check6"> Yes <input type="checkbox" class="form-check-input" id="check106"> No       
    What pharmacy does client use? <input asp-for="WhatPharmacy" style="width:20%" id="WhatPharmacy">                  Phone #: <input asp-for="PharmacyPhone" style="width:15%" id="PharmacyPhone"> 
        
    Any other significant medication issue or concern (e.g. medication side effect, drug interaction, adjustment, effectiveness, cost, etc.)? 
    <textarea asp-for="AnyOther" rows="2" style="width:95%" id="AnyOther"> </textarea>
    </pre>
    </div>
</div>
<div class="col-md-push-12">
    <div class="col-md-12">
    <pre>
    <strong>SECTION VII: AREAS OF FUNCTIONING AND NEEDS ASSESSMENT  </strong>

    <strong>1. MENTAL HEALTH / BEHAVIORAL / SUBSTANCE ABUSE  </strong>
    <u>Mental Health / Psychiatric History</u><i>(include client and family history):</i>
    <textarea asp-for="MentalHealth" rows="5" style="width:95%" id="MentalHealth"> </textarea>
    </pre>
    </div>
</div>
<div class="col-md-push-12">
    <div class="form-group col-md-2">
        <label asp-for="Psychiatrist_Name" class="control-label">Psychiatrist:</label>
        <input asp-for="Psychiatrist_Name" class="form-control" readonly>
        <span asp-validation-for="Psychiatrist_Name" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="Psychiatrist_Phone" class="control-label">Phone No</label>
        <input asp-for="Psychiatrist_Phone" class="form-control" readonly>
        <span asp-validation-for="Psychiatrist_Phone" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="Psychiatrist_Address" class="control-label">Address</label>
        <input asp-for="Psychiatrist_Address" class="form-control" readonly>
        <span asp-validation-for="Psychiatrist_Address" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="Psychiatrist_CityStateZip" class="control-label">City, State, Zip</label>
        <input asp-for="Psychiatrist_CityStateZip" class="form-control" readonly>
        <span asp-validation-for="Psychiatrist_CityStateZip" class="text-danger"></span>
    </div>
    @if (Model.TcmClient.Client.Clients_Diagnostics.Count() > 0)
    {
        <div class="form-group col-md-1">
            <label asp-for="TcmClient.Client.Clients_Diagnostics.ElementAt(0).Diagnostic.Code" class="control-label">Dx: Code</label>
            <input asp-for="TcmClient.Client.Clients_Diagnostics.ElementAt(0).Diagnostic.Code" class="form-control" readonly>
            <span asp-validation-for="TcmClient.Client.Clients_Diagnostics.ElementAt(0).Diagnostic.Code" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="TcmClient.Client.Clients_Diagnostics.ElementAt(0).Diagnostic.Description" class="control-label">Dx: Description</label>
            <input asp-for="TcmClient.Client.Clients_Diagnostics.ElementAt(0).Diagnostic.Description" class="form-control" readonly>
            <span asp-validation-for="TcmClient.Client.Clients_Diagnostics.ElementAt(0).Diagnostic.Description" class="text-danger"></span>
        </div>
    }
    else
    {
        <div class="form-group col-md-1">
            <label  class="control-label">Dx: Code</label>
            <input  class="form-control" readonly>
            <span  class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label class="control-label">Dx: Description</label>
            <input class="form-control" readonly>
            <span class="text-danger"></span>
        </div>
    }
</div>


