@model KyoS.Web.Models.TCMAssessmentViewModel

<div class="col-md-push-12">
    <div class="form-group col-md-2">
        <label asp-for="TcmClient.Client.Name" class="control-label">Client Name</label>
        <input asp-for="TcmClient.Client.Name" class="form-control" readonly>
        <span asp-validation-for="TcmClient.Client.Name" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="TcmClient.CaseNumber" class="control-label">Case Number</label>
        <input asp-for="TcmClient.CaseNumber" class="form-control" readonly>
        <span asp-validation-for="TcmClient.CaseNumber" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="TcmClient.Client.FullAddress" class="control-label">Address, City, State, Zip </label>
        <input asp-for="TcmClient.Client.FullAddress" class="form-control" readonly>
        <span asp-validation-for="TcmClient.Client.FullAddress" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="TcmClient.Client.Telephone" class="control-label">Cell Phone No</label>
        <input asp-for="TcmClient.Client.Telephone" class="form-control" readonly>
        <span asp-validation-for="TcmClient.Client.Telephone" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="TcmClient.Client.TelephoneSecondary" class="control-label">Other Phone</label>
        <input asp-for="TcmClient.Client.TelephoneSecondary" class="form-control" readonly>
        <span asp-validation-for="TcmClient.Client.TelephoneSecondary" class="text-danger"></span>
    </div>
</div>
<div class="col-md-push-12">
    <div class="form-group col-md-2">
        <label asp-for="TcmClient.Client.Email" class="control-label">Email Address</label>
        <input asp-for="TcmClient.Client.Email" class="form-control" readonly>
        <span asp-validation-for="TcmClient.Client.Email" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="TcmClient.Client.DateOfBirth" class="control-label">DOB</label>
        <input asp-for="TcmClient.Client.DateOfBirth" class="form-control" readonly>
        <span asp-validation-for="TcmClient.Client.DateOfBirth" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="TcmClient.Client.SSN" class="control-label">SSN</label>
        <input asp-for="TcmClient.Client.SSN" class="form-control" readonly>
        <span asp-validation-for="TcmClient.Client.SSN" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="TcmClient.Client.Gender" class="control-label">Gender</label>
        <input asp-for="TcmClient.Client.Gender" class="form-control" readonly>
        <span asp-validation-for="TcmClient.Client.Gender" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="TcmClient.Client.Race" class="control-label">Race</label>
        <input asp-for="TcmClient.Client.Race" class="form-control" readonly>
        <span asp-validation-for="TcmClient.Client.Race" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="TcmClient.Client.Ethnicity" class="control-label">Ethnicity</label>
        <input asp-for="TcmClient.Client.Ethnicity" class="form-control" readonly>
        <span asp-validation-for="TcmClient.Client.Ethnicity" class="text-danger"></span>
    </div>
</div>
<div class="col-md-push-12">
    <div class="form-group col-md-2">
        <label asp-for="TcmClient.Client.MaritalStatus" class="control-label">Marital Status</label>
        <input asp-for="TcmClient.Client.MaritalStatus" class="form-control" readonly>
        <span asp-validation-for="TcmClient.Client.MaritalStatus" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="TcmClient.Client.PreferredLanguage" class="control-label">Primary Language</label>
        <input asp-for="TcmClient.Client.PreferredLanguage" class="form-control" readonly>
        <span asp-validation-for="TcmClient.Client.PreferredLanguage" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="TcmClient.Client.OtherLanguage" class="control-label">Other Language</label>
        <input asp-for="TcmClient.Client.OtherLanguage" class="form-control" readonly>
        <span asp-validation-for="TcmClient.Client.OtherLanguage" class="text-danger"></span>
    </div>
    <div class="form-group col-md-1">
        <label asp-for="TcmClient.Client.OtherLanguage_Read" class="control-label">Read</label>
        <input asp-for="TcmClient.Client.OtherLanguage_Read" disabled />
        <span asp-validation-for="TcmClient.Client.OtherLanguage_Read" class="text-danger"></span>
    </div>
    <div class="form-group col-md-1">
        <label asp-for="TcmClient.Client.OtherLanguage_Speak" class="control-label">Speak</label>
        <input asp-for="TcmClient.Client.OtherLanguage_Speak" disabled />
        <span asp-validation-for="TcmClient.Client.OtherLanguage_Speak" class="text-danger"></span>
    </div>
    <div class="col-md-2">
        <label asp-for="TcmClient.Client.OtherLanguage_Understand" class="control-label">Understand</label>
        <input asp-for="TcmClient.Client.OtherLanguage_Understand" disabled />
        <span asp-validation-for="TcmClient.Client.OtherLanguage_Understand" class="text-danger"></span>
    </div>
</div>
<div class="col-md-push-12">
    <div class="col-md-12">
    <pre>
       <strong>Legal Decision-Maker or Authorized Representative (if applicable)</strong>
       <input asp-for="LegalDecisionNone" disabled> None         <input asp-for="LegalDecisionLegal" disabled> Legal Guardian         <input asp-for="LegalDecisionAdLitem" disabled> Guardian-ad-Litem          <input asp-for="LegalDecisionParent" disabled> Parent         <input asp-for="LegalDecisionAttomey" disabled> Attomey-in-fact        <input asp-for="LegalDecisionOther" disabled> Other <input asp-for="LegalDecisionOtherExplain"  style="width:30%" disabled/>
    </pre>
    </div>
</div>
<div class="col-md-push-12">
    <div class="form-group col-md-2">
        <label asp-for="LegalDecisionName" class="control-label">Name</label>
        <input asp-for="LegalDecisionName" class="form-control" readonly>
        <span asp-validation-for="LegalDecisionName" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="LegalDecisionPhone" class="control-label">Phone No</label>
        <input asp-for="LegalDecisionPhone" class="form-control" readonly>
        <span asp-validation-for="LegalDecisionPhone" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="LegalDecisionAddress" class="control-label">Address</label>
        <input asp-for="LegalDecisionAddress" class="form-control" readonly>
        <span asp-validation-for="LegalDecisionAddress" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="LegalDecisionCityStateZip" class="control-label">City, State, Zip</label>
        <input asp-for="LegalDecisionCityStateZip" class="form-control" readonly>
        <span asp-validation-for="LegalDecisionCityStateZip" class="text-danger"></span>
    </div>
</div>
<div class="col-md-push-12">
    <div class="col-md-12">
        <pre>
        Need of Special Accommodations? <input type="checkbox" class="form-check-input" id="check101" disabled> No        <input asp-for="LegalDecisionNone" class="form-check-input" id="check1" disabled> Yes       Specify:  <input asp-for="NeedOfSpecialSpecify"  style="width:30%" disabled>
        <strong>TYPE OF ASSESSMENT </strong>
        <input asp-for="TypeOfAssessmentInitial" disabled> Initial       <input asp-for="TypeOfAssessmentAnnual" disabled> Annual         <input asp-for="TypeOfAssessmentSignificant" disabled> Significant Change        <input asp-for="TypeOfAssessmentOther" disabled> Other:  <input asp-for="TypeOfAssessmentOtherExplain"  style="width:30%" disabled>
        <strong>*Is client currently receiving Case Management services through another provider?</strong>    <input asp-for="NeedOfSpecial" class="form-check-input" id="check2" disabled> Yes       <input type="checkbox" class="form-check-input" id="check102" disabled> No
    </pre>
    </div>
</div>
<div class="col-md-push-12">
    @*<div class="form-group col-md-2">
            <label asp-for="TcmClient.Client.Referred.Name" class="control-label">Referred by</label>
            <input asp-for="TcmClient.Client.Referred.Name" class="form-control" readonly>
            <span asp-validation-for="TcmClient.Client.Referred.Name" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="TcmClient.Client.Referred.Telephone" class="control-label">Phone No</label>
            <input asp-for="TcmClient.Client.Referred.Telephone" class="form-control" readonly>
            <span asp-validation-for="TcmClient.Client.Referred.Telephone" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="TcmClient.Client.Referred.Address" class="control-label">Address</label>
            <input asp-for="TcmClient.Client.Referred.Address" class="form-control" readonly>
            <span asp-validation-for="TcmClient.Client.Referred.Address" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="TcmClient.Client.Referred.Title" class="control-label">Title/Position</label>
            <input asp-for="TcmClient.Client.Referred.Title" class="form-control" readonly>
            <span asp-validation-for="TcmClient.Client.Referred.Title" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="TcmClient.Client.Referred.Agency" class="control-label">Agency (if applicable)</label>
            <input asp-for="TcmClient.Client.Referred.Agency" class="form-control" readonly>
            <span asp-validation-for="TcmClient.Client.Referred.Agency" class="text-danger"></span>
        </div>*@
</div>
<div class="col-md-push-12">
    <div class="col-md-12">
        <pre>
        <strong>This assessment was based on the information obtained from the following sources </strong> (check all that apply): 
        <input asp-for="ClientInput" disabled>  Client’s input and own assessment       <input asp-for="Family" disabled> Family and friends         <input asp-for="Referring" disabled> Referring Agency/Provider        <input asp-for="School" disabled> School
        <input asp-for="Treating" disabled>  Treating Providers       <input asp-for="Caregiver" disabled>  Caregiver        <input asp-for="Review" disabled> Review of client’s records        <input asp-for="Other" disabled> Other: <input asp-for="OtherExplain"  style="width:30%" disabled>
    </pre>
    </div>
</div>