@model KyoS.Web.Models.TCMAssessmentSurgeryViewModel
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="EditSurgeryModal" onsubmit="return jQueryAjaxPostTCMAssessmenSurgery(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="IdTCMAssessment" />
            <input type="hidden" asp-for="TcmAssessment.TcmClient.CaseNumber" />
            <input type="hidden" asp-for="TcmAssessment.TcmClient.Client.Name" />
            <div class="container-fluid">
                <h4 style="font-weight:bold;"> <span class="label label-info"> Client - @Model.TcmAssessment.TcmClient.Client.Name </span></h4>
            </div>
            <div>
                <div class=" col-md-8 form-group">
                    <label asp-for="TypeSurgery" class="control-label">Type of Surgery </label>
                    <input asp-for="TypeSurgery" class="form-control" />
                    <span asp-validation-for="TypeSurgery" class="text-danger"></span>
                </div>
            </div>
            <div>
                <div class=" col-md-4 form-group">
                    <label asp-for="Date" class="control-label">Date </label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
            </div>
            <div>
                <div class=" col-md-6 form-group">
                    <label asp-for="Hospital" class="control-label">Hospital</label>
                    <input asp-for="Hospital" class="form-control" />
                    <span asp-validation-for="Hospital" class="text-danger"></span>
                </div>
            </div>
            <div>
                <div class=" col-md-6 form-group">
                    <label asp-for="Outcome" class="control-label">Outcome</label>
                    <input asp-for="Outcome" class="form-control" />
                    <span asp-validation-for="Outcome" class="text-danger"></span>
                </div>
            </div>
            <div>
                <div class="col-md-offset-9">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>




