@model KyoS.Web.Models.TCMCopyActivityViewModel
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="CopyActivity" asp-route-idServiceFrom="@Model.IdServiceFrom" onsubmit="return jQueryAjaxPostTCMService(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdServiceTo" />

            <div class="col-md-12">
                <p><strong>FROM</strong></p>
            </div>
            <div class="col-md-12">
                <div class="form-group col-md-6">
                    <label class="control-label"></label> <strong>Select Service from &nbsp;*</strong>
                    <select asp-for="IdServiceFrom" asp-items="Model.Services" class="form-control"></select>
                    <span asp-validation-for="IdServiceFrom" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    &nbsp;
                </div>
            </div>
            <div class="col-md-12">
                <hr />
            </div>
            <div class="col-md-12">
                <p><strong>TO</strong></p>
            </div>
            <div class="col-md-12">
                <div class="form-group col-md-3">
                    <label asp-for="TCMService.Code" class="control-label"></label>&nbsp;
                    <input asp-for="TCMService.Code" class="form-control" disabled />
                    <span asp-validation-for="TCMService.Code" class="text-danger"></span>
                </div>
                <div class="form-group col-md-9">
                    <label asp-for="TCMService.Name" class="control-label"></label>&nbsp;
                    <input asp-for="TCMService.Name" class="form-control" disabled />
                    <span asp-validation-for="TCMService.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <i>Note: This action is a copy of all activities for the selected service.</i>
                <hr />
            </div>
            <div class="col-md-12">
                <div class="col-md-offset-9">
                    <input type="submit" value="Copy" class="btn btn-primary" />
                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        //    jQueryAjaxPost = form => {
        //        try {
        //            $.ajax({
        //                type: 'POST',
        //                url: form.action,
        //                data: new FormData(form),
        //                contentType: false,
        //                processData: false,
        //                success: function (res) {
        //                    if (res.isValid) {
        //                        $('#view-all').html(res.html)
        //                        $('#form-modal .modal-body').html('');
        //                        $('#form-modal .modal-title').html('');
        //                        $('#form-modal').modal('hide');
        //                    }
        //                    else
        //                        $('#form-modal .modal-body').html(res.html);
        //                },
        //                error: function (err) {
        //                    console.log(err)
        //                }
        //            })
        //            //to prevent default form submit event
        //            return false;
        //        } catch (ex) {
        //            console.log(ex)
        //        }
        //}
    </script>
}


