@{
    ViewData["Title"] = "Page not found";
}

<div class="col-md-12">
    <div class="col-md-4">
        &nbsp;
    </div>
    <div class="col-md-4">
        <img src="~/images/notfound.png" />
    </div>
    <div class="col-md-4">
        &nbsp;
    </div>
    <div class="col-md-12">
        &nbsp;
    </div>
</div>

<br />
