@model KyoS.Web.Models.TCMDomainViewModel
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPostTCMDomain(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Id_ServicePlan" />
            <div class="form-group">
                <div class="col-md-6">
                    <b>Case number:</b>
                    <i>@Html.DisplayFor(modelItem => Model.TcmServicePlan.TcmClient.CaseNumber)</i>
                    <br />
                    <b>Client name:</b>
                    <i>@Html.DisplayFor(modelItem => Model.TcmServicePlan.TcmClient.Client.Name)</i>
                </div>
                <div class="col-md-6">
                    <label asp-for="Date_Identified" class="control-label">Identified Date</label>
                    <input asp-for="Date_Identified" class="form-control" />
                    <span asp-validation-for="Date_Identified" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                &nbsp;
            </div>

            <br />
            <div class="form-group">
                <div class="col-md-3">
                    <label asp-for="Code" class="control-label"></label>&nbsp;*
                    <input asp-for="Code" class="form-control" readonly />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>

                <div class="col-md-9">
                    <label asp-for="Name" class="control-label"></label>&nbsp;*
                    <input asp-for="Name" class="form-control" readonly />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Needs_Identified" class="control-label">Need Identified</label>
                    <textarea asp-for="Needs_Identified" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="Needs_Identified" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Long_Term" class="control-label">Need Identified</label>
                    <textarea asp-for="Long_Term" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="Long_Term" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                &nbsp;
            </div>
            <div>
                <div class="col-md-offset-9">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function getCode() {
        var x = document.getElementById('Code_Name');
        var y = x.options[x.selectedIndex].text;
        var code = y[0] + y[1];
        var name = y[3];
        for (var i = 4; i < y.length; i++)
        {
            name = name + y[i];
        }
        document.getElementById('GetCode').value = code;
        document.getElementById('GetName').value = name;

    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
                                //    jQueryAjaxPost = form => {
                                //        try {
                                //            $.ajax({
                                //                type: 'POST',
                                //                url: form.action,
                                //                data: new FormData(form),
                                //                contentType: false,
                                //                processData: false,
                                //                success: function (res) {
                                //                    if (res.isValid) {
                                //                        $('#view-all').html(res.html)
                                //                        $('#form-modal .modal-body').html('');
                                //                        $('#form-modal .modal-title').html('');
                                //                        $('#form-modal').modal('hide');
                                //                    }
                                //                    else
                                //                        $('#form-modal .modal-body').html(res.html);
                                //                },
                                //                error: function (err) {
                                //                    console.log(err)
                                //                }
                                //            })
                                //            //to prevent default form submit event
                                //            return false;
                                //        } catch (ex) {
                                //            console.log(ex)
                                //        }
                                //}
    </script>
}


