@model KyoS.Web.Models.GroupNoteViewModel

<div class="col-md-push-12">
    <div class="form-group col-md-12">
        <strong>Focus of the 1st group: @Model.Topic1</strong>
        <br />
        <strong>Activity Provided: </strong>@Model.Activity1
    </div>
</div>
<div class="col-md-push-12">
    <div class="form-group col-md-6">
        <label asp-for="AnswerClient1" class="control-label"></label>
        <textarea asp-for="AnswerClient1" class="form-control" rows="4" readonly></textarea>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="AnswerFacilitator1" class="control-label"></label>
        <textarea asp-for="AnswerFacilitator1" class="form-control" rows="4" readonly></textarea>
    </div>
</div>
<div class="col-md-push-12">
    <div class="form-group col-md-2">
        <label asp-for="IdGoal1" class="control-label"></label>
        <input asp-for="Goal1" class="form-control" readonly />
    </div>
    <div class="form-group col-md-2">
        <label asp-for="IdObjetive1" class="control-label"></label>
        <input asp-for="Objetive1" class="form-control" readonly />
    </div>
    <div class="form-group col-md-8">
        &nbsp;
    </div>
</div>
<div class="col-md-12">
    <hr />
</div>
<div class="col-md-push-12">
    <div class="form-group col-md-12">
        <strong>Focus of the 2nd group: @Model.Topic2</strong>
        <br />
        <strong>Activity Provided: </strong>@Model.Activity2
    </div>
</div>
<div class="col-md-push-12">
    <div class="form-group col-md-6">
        <label asp-for="AnswerClient2" class="control-label"></label>
        <textarea asp-for="AnswerClient2" class="form-control" rows="4" readonly></textarea>

    </div>
    <div class="form-group col-md-6">
        <label asp-for="AnswerFacilitator2" class="control-label"></label>
        <textarea asp-for="AnswerFacilitator2" class="form-control" rows="4" readonly></textarea>

    </div>
</div>
<div class="col-md-push-12">
    <div class="form-group col-md-2">
        <label asp-for="IdGoal2" class="control-label"></label>
        <input asp-for="Goal2" class="form-control" readonly />
    </div>
    <div class="form-group col-md-2">
        <label asp-for="IdObjetive2" class="control-label"></label>
        <input asp-for="Objetive2" class="form-control" readonly />
    </div>
    <div class="form-group col-md-8">
        &nbsp;
    </div>
</div>
<div class="col-md-12">
    <hr />
</div>
<div class="col-md-push-12">
    <div class="form-group col-md-12">
        <label asp-for="PlanNote" class="control-label"></label>
        <textarea asp-for="PlanNote" class="form-control" rows="3" readonly></textarea>
    </div>
</div>