@model KyoS.Web.Models.NotePViewModel
@{
    if (User.IsInRole("Facilitator"))
    {
        ViewData["Title"] = "Preview PSR note";
    }
    if (User.IsInRole("Supervisor"))
    {
        ViewData["Title"] = "Approve PSR note";
    }
}


<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("PSR Notes Supervision", "NotesSupervision", "Notes")
        </li>
        <li class="active">Approve PSR note</li>
    </ul>
</div>

@if (User.IsInRole("Facilitator"))
{
    <h4>Preview PSR note</h4>
}
@if (User.IsInRole("Supervisor"))
{
    <h4>Approve PSR note</h4>
}

<div class="row">
    <div>
        <form asp-action="ApproveNoteP" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Origin" />
            <partial name="_MCSPReadOnly" />
            <partial name="_NotesPReadOnly" />
            <div class="form-group col-md-12">
                @if (User.IsInRole("Supervisor"))
                {
                    <input type="submit" value="Approve" class="btn btn-primary" title="Approve note and enable it to print" />
                    <a class="btn btn-warning" onclick="showInPopup('@Url.Action("AddMessageEntity","Notes",new {id = Model.Workday_Cient.Id, origin = Model.Origin},Context.Request.Scheme)','Add message to facilitator')" title="Not approved note due to problems">Review</a>
                    @if (Model.Origin == 0) //viene de la pagina NotesSupervision
                    {
                        <a asp-action="NotesSupervision" class="btn btn-success">Back</a>
                    }
                    @if (Model.Origin == 3) //viene de la pagina PendingNotes
                    {
                        <a asp-action="PendingNotes" class="btn btn-success">Back</a>
                    }
                    @if (Model.Origin == 4) //viene de la pagina NotesWithReview
                    {
                        <a asp-action="NotesWithReview" class="btn btn-success">Back</a>
                    }
                    @if (Model.Origin == 5) //viene de la pagina Notifications
                    {
                        <a asp-controller="Messages" asp-action="Notifications" class="btn btn-success">Back</a>
                    }
                }
                @if (User.IsInRole("Facilitator"))
                {
                    <a asp-action="Index" class="btn btn-success">Back</a>
                }
            </div>
        </form>
    </div>
</div>

<partial name="_ModalPopupLg" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



