@model KyoS.Web.Models.NotePSYViewModel
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateNotePSY" asp-route-id="@Model.Id" asp-route-origin="@ViewData["origin"]" onsubmit="return jQueryAjaxNotePSY(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="IdClient" />
            <div class="container-fluid">
                <div class="col-md-12 form-group">
                    <label asp-for="Client.Name" class="control-label"></label>
                    <input asp-for="Client.Name" class="form-control" disabled/>
                    <span asp-validation-for="Client.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="container-fluid">
                <div class="col-md-12 form-group">
                    <label asp-for="NamePSY" class="control-label"></label>
                    <input asp-for="NamePSY" class="form-control" />
                    <span asp-validation-for="NamePSY" class="text-danger"></span>
                </div>
            </div>
            <div class="container-fluid">
                <div class="col-md-4 form-group">
                    <label asp-for="DateService" class="control-label"></label>
                    <input asp-for="DateService" class="form-control" />
                    <span asp-validation-for="DateService" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="InitialTime" class="control-label"></label>
                    <input asp-for="InitialTime" class="form-control" />
                    <span asp-validation-for="InitialTime" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="EndTime" class="control-label"></label>
                    <input asp-for="EndTime" class="form-control" />
                    <span asp-validation-for="EndTime" class="text-danger"></span>
                </div>
            </div>
            <div class="container-fluid">
                <div class="col-md-12 form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div form-group">
                    <hr />
                </div>
            </div>
            <div>
                <div class="col-md-offset-9 form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <button type="button" class="btn btn-success" data-dismiss="modal">Back</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/jquery.dataTables.min.js"></script>
}

