@model KyoS.Web.Models.PaymentReceivedViewModel
@{
    Layout = null;
}

<div class="row">
    <form asp-action="PaymentReceivedMTPR" asp-route-id="@Model.Id" asp-route-idWeek="@ViewData["week"]" asp-route-idMtpr="@ViewData["idMtpr"]" onsubmit="return jQueryAjaxPaymentReceived(this);">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="col-md-7">
            <div class="form-group">
                <label asp-for="PaymentDate" class="control-label"></label>&nbsp;*
                <input asp-for="PaymentDate" class="form-control" />
                <span asp-validation-for="PaymentDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                &nbsp;
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-offset-9">
                <input type="submit" value="Submit" class="btn btn-primary" />
                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
    //    jQueryAjaxPost = form => {
    //        try {
    //            $.ajax({
    //                type: 'POST',
    //                url: form.action,
    //                data: new FormData(form),
    //                contentType: false,
    //                processData: false,
    //                success: function (res) {
    //                    if (res.isValid) {
    //                        $('#view-all').html(res.html)
    //                        $('#form-modal .modal-body').html('');
    //                        $('#form-modal .modal-title').html('');
    //                        $('#form-modal').modal('hide');
    //                    }
    //                    else
    //                        $('#form-modal .modal-body').html(res.html);
    //                },
    //                error: function (err) {
    //                    console.log(err)
    //                }
    //            })
    //            //to prevent default form submit event
    //            return false;
    //        } catch (ex) {
    //            console.log(ex)
    //        }
    //}
    </script>
}
