@model KyoS.Web.Models.PrintNotesViewModel
@{
   ViewData["Title"] = "Print notes";    
}


<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Notes", "Index", "Notes")
        </li>
        <li class="active">Print notes</li>
    </ul>
</div>

<h4>Print notes</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="PrintNotes" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateOfPrint" class="control-label"></label>
                <input asp-for="DateOfPrint" class="form-control" readonly/>
                <span asp-validation-for="DateOfPrint" class="text-danger"></span>
            </div>            
            <div class="form-group">
            </div>
            <div class="form-group">
                <input type="radio" name="Meridian" value="First" checked="checked" />
                <label style="font-weight: bold;"> AM session</label>
            </div>
            <div class="form-group">
                <input type="radio" name="Meridian" value="Second" />
                <label style="font-weight: bold;"> PM session</label>
            </div>
            <div class="form-group">
            </div>
            <div class="alert alert-warning" role="alert">
                <strong>Note:</strong> you can print only approved notes.
            </div>
            <div class="form-group">
            </div>
            <div class="form-group">
                <input type="submit" value="Print notes" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



