@model KyoS.Web.Models.CalendarCMH
@{
    ViewData["Title"] = "Schedule";
}
<link rel="stylesheet" href="~/lib/fullcalendar/lib/main.css" />

<div class="container-fluid">
    &nbsp;
</div>
<div class="row">
    <div class="col-md-3">
        <label asp-for="IdFacilitator" class="control-label">Select facilitator</label>
        <select asp-for="IdFacilitator" asp-items="Model.Facilitators" class="form-control" id="cbFacilitator"></select>
        <span asp-validation-for="IdFacilitator" class="text-danger"></span>
    </div>
    <div class="container-fluid">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id='calendar'></div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/fullcalendar/lib/main.js"></script>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: {
                    start: 'timeGridWeek,timeGridDay',
                    center: 'title',
                    end: 'today prev,next'
                },
                height: 400,
                contentHeight: 'auto',
                initialView: 'timeGridWeek',
                allDaySlot: false,
                slotDuration: '00:30:00',
                slotLabelFormat: {
                      hour: 'numeric',
                      minute: '2-digit',
                      omitZeroMinute: false,
                      meridiem: 'large'
                },
                slotLabelInterval: '00:30:00',
                slotMinTime: '07:00:00',
                slotMaxTime: '20:00:00',
                navLinks: true,
                firstDay: 0,
                eventTimeFormat: { // like '14:30:00'
                    hour: 'numeric',
                    minute: '2-digit',
                    meridiem: true
                },
                events: {
                            url: '@Url.Action("EventsSchedule", "Calendar")',
                            method: 'POST',
                            extraParams: function() {
                                return {
                                    idFacilitator: $("#cbFacilitator").val()
                                };
                            },
                            success: function() {

                            }

                }
            });
            calendar.render();

            $("#cbFacilitator").change(function () {                
                calendar.refetchEvents();
            })
        });
    </script>
}


