@model KyoS.Web.Models.TCMServicePlanReviewViewModel

<div class="col-md-push-12">
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="TcmServicePlan.TcmClient.Client.Name" class="control-label">Client Name</label>
            <input asp-for="TcmServicePlan.TcmClient.Client.Name" class="form-control" readonly />
            <span asp-validation-for="TcmServicePlan.TcmClient.Client.Name" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label asp-for="TcmServicePlan.TcmClient.CaseNumber" class="control-label">Case Number</label>
            <input asp-for="TcmServicePlan.TcmClient.CaseNumber" class="form-control" readonly />
            <span asp-validation-for="TcmServicePlan.TcmClient.CaseNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="TcmServicePlan.TcmClient.Casemanager.Name" class="control-label">Case Manager</label>
            <input asp-for="TcmServicePlan.TcmClient.Casemanager.Name" class="form-control" readonly />
            <span asp-validation-for="TcmServicePlan.TcmClient.Casemanager.Name" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label asp-for="TcmServicePlan.DateServicePlan" class="control-label">Service Plan Date</label>
            <input asp-for="TcmServicePlan.DateServicePlan" class="form-control" readonly />
            <span asp-validation-for="TcmServicePlan.DateServicePlan" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label asp-for="TcmServicePlan.DateIntake" class="control-label">Opening Date</label>
            <input asp-for="TcmServicePlan.DateIntake" class="form-control" readonly />
            <span asp-validation-for="TcmServicePlan.DateIntake" class="text-danger"></span>
        </div>
    </div>    
</div>
<div class="col-md-push-12">
    @if (ViewData["origi"].ToString() != "5")
    {
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="DateServicePlanReview" class="control-label">Service Plan Review Date</label>
                <input asp-for="DateServicePlanReview" class="form-control" />
                <span asp-validation-for="DateServicePlanReview" class="text-danger"></span>
            </div>
        </div>
    }
    else
    {
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="DateServicePlanReview" class="control-label">Service Plan Review Date</label>
                <input asp-for="DateServicePlanReview" class="form-control" readonly />
                <span asp-validation-for="DateServicePlanReview" class="text-danger"></span>
            </div>
        </div>
    }
    <div class="container-fluid">
        &nbsp;
    </div>
</div>
<div class="col-md-12">
    <hr />
</div>

<div class="col-md-push-12">
    @if ((User.IsInRole("CaseManager") && ViewData["origi"].ToString() != "5") 
        || (User.IsInRole("TCMSupervisor") && Model.TcmServicePlan.TcmClient.Client.Clinic.Setting.TCMSupervisorEdit == true && ViewData["origi"].ToString() != "5"))
    {
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Recomendation" class="control-label">Summary of Recipient's Progress and Current Assessment</label>
                <textarea asp-for="Recomendation" class="form-control" rows="6"></textarea>
                <span asp-validation-for="Recomendation" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="SummaryProgress" class="control-label">Recommendations / Changes / Update to Service Plan</label>
                <textarea asp-for="SummaryProgress" class="form-control" rows="6"></textarea>
                <span asp-validation-for="SummaryProgress" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <hr />
        </div>
         <div class="col-md-12">
         <pre>
        <strong>CASE MANAGEMENT UTILIZATION REVIEW</strong>
            <input type="checkbox" asp-for="ClientHasBeen1" class="form-check-input"> <strong> Client has been receiving Mental Health Targeted Case Management services for less than 12 months.</strong>
                <input type="checkbox" asp-for="ClientContinue" class="form-check-input"> Client continues to meet criteria for Mental Health Targeted Case Management services as outlined in SECTION V.
                                                                    <strong>OR</strong>
                <input type="checkbox" asp-for="ClientNoLonger1" class="form-check-input"> Client continues to meet criteria for Mental Health Targeted Case Management services as outlined in SECTION V<br />
            <input type="checkbox" asp-for="ClientHasBeen1" class="form-check-input"> <strong> Client has been receiving Mental Health Targeted Case Management services for at least 12 months.</strong>
                <input type="checkbox" asp-for="ClientWillContinue" class="form-check-input"> Client will continue Mental Health Targeted Case Management services.
                <input type="checkbox" asp-for="ClientWillHave" class="form-check-input"> Client will have an Assessment completed to determine need for continued services.
                <input type="checkbox" asp-for="ClientNoLonger2" class="form-check-input"> Client no longer meets criteria for Mental Health Targeted Case Management services.

         <strong>The expected review date of the current Service Plan should be no later than:</strong>       <input asp-for="TheExpertedReviewDate" class="form-check-input">
        </pre>
        </div>
        
        <div class="col-md-12">
            <hr />
        </div>
    }
    else
    {
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Recomendation" class="control-label">Summary of Recipient's Progress and Current Assessment'</label>
                <textarea asp-for="Recomendation" class="form-control" rows="6" readonly></textarea>
                <span asp-validation-for="Recomendation" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="SummaryProgress" class="control-label">Recommendations / Changes / Update to Service Plan</label>
                <textarea asp-for="SummaryProgress" class="form-control" rows="6" readonly></textarea>
                <span asp-validation-for="SummaryProgress" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <hr />
        </div>
         <div class="col-md-12">
         <pre>
        <strong>CASE MANAGEMENT UTILIZATION REVIEW</strong>
            <input type="checkbox" asp-for="ClientHasBeen1" class="form-check-input" disabled> <strong> Client has been receiving Mental Health Targeted Case Management services for less than 12 months.</strong>
                <input type="checkbox" asp-for="ClientContinue" class="form-check-input" disabled> Client continues to meet criteria for Mental Health Targeted Case Management services as outlined in SECTION V.
                                                                    <strong>OR</strong>
                <input type="checkbox" asp-for="ClientNoLonger1" class="form-check-input" disabled> Client continues to meet criteria for Mental Health Targeted Case Management services as outlined in SECTION V<br />
            <input type="checkbox" asp-for="ClientHasBeen1" class="form-check-input" disabled> <strong> Client has been receiving Mental Health Targeted Case Management services for at least 12 months.</strong>
                <input type="checkbox" asp-for="ClientWillContinue" class="form-check-input" disabled> Client will continue Mental Health Targeted Case Management services.
                <input type="checkbox" asp-for="ClientWillHave" class="form-check-input" disabled> Client will have an Assessment completed to determine need for continued services.
                <input type="checkbox" asp-for="ClientNoLonger2" class="form-check-input" disabled> Client no longer meets criteria for Mental Health Targeted Case Management services.

        <strong>The expected review date of the current Service Plan should be no later than:</strong>       <input asp-for="TheExpertedReviewDate" class="form-check-input" disabled>
        </pre>
        </div>
        
        <div class="col-md-12">
            <hr />
        </div>
    }
</div>

