@model KyoS.Web.Models.TCMServicePlanReviewViewModel
@{
    ViewData["Title"] = "Create Service Plan Review";
}

<!DOCTYPE html>

<html>
<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                @Html.ActionLink("TCMServicePlanReviews", "Index", "TCMServicePlanReviews")
            </li>
            <li class="active">Create</li>
        </ul><!--.breadcrumb-->
    </div>

    <h4>Create new service plan review</h4>
    <hr />

    <div class="row">
        
            <form asp-action="Create" asp-route-id="@Model.TcmServicePlan.Id" enctype="multipart/form-data">
                <div class="row col-md-12">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="IdServicePlan" />
                    <partial name="_TCMServicePlanReview" />
                    <div class="col-md-push-12">
                    </div>
                    <div class="form-group col-md-12">
                        <input type="submit" value="Create" asp-route-origin="1" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-success">Back</a>
                    </div>
                </div>
            </form>
        
    </div>

</body>
</html>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">

    </script>
}
