@model KyoS.Web.Models.TCMDomainViewModel
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateDomain" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPostTCMServicePlanReview(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Id_ServicePlan" />
            <div class="form-group">
                <div class="col-md-6">
                    <b>Case number:</b>
                    <i>@Html.DisplayFor(modelItem => Model.TcmServicePlan.TcmClient.CaseNumber)</i>
                    <br />
                    <b>Client name:</b>
                    <i>@Html.DisplayFor(modelItem => Model.TcmServicePlan.TcmClient.Client.Name)</i>
                </div>
                <div class="col-md-6">
                    <label asp-for="Date_Identified" class="control-label">Identified Date</label>
                    <input asp-for="Date_Identified" class="form-control" />
                    <span asp-validation-for="Date_Identified" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                &nbsp;
            </div>
            <div class="form-group col-md-12">
                <div class="">
                    <label asp-for="Id_Service" class="control-label">Service Code</label>&nbsp;*
                    <select asp-for="Id_Service" asp-items="Model.Services" class="form-control" id="Code_Name" onchange="getCode();"></select>
                    <span asp-validation-for="Id_Service" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="form-group col-md-3">
                    <label asp-for="Code" class="control-label">Service Code</label>&nbsp;*
                    <input asp-for="Code" id="GetCode" class="form-control" readonly />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>

                <div class="form-group col-md-9">
                    <label asp-for="Name" class="control-label">Service Name</label>&nbsp;*
                    <input asp-for="Name" id="GetName" class="form-control" readonly />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Needs_Identified" class="control-label">Identified Needs</label>
                    <textarea asp-for="Needs_Identified" class="form-control" rows="5" />
                    <span asp-validation-for="Needs_Identified" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Long_Term" class="control-label">Long Term</label>
                    <textarea asp-for="Long_Term" class="form-control" rows="5" />
                    <span asp-validation-for="Long_Term" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                &nbsp;
            </div>
            <div>
                <div class="col-md-offset-9">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function getCode() {
        var x = document.getElementById('Code_Name');
        var y = x.options[x.selectedIndex].text;
        var code = y[0] + y[1];
        var name = y[3];
        if (y[0] != '[') {
            for (var i = 4; i < y.length; i++) {
                name = name + y[i];
            }
            document.getElementById('GetCode').value = code;
            document.getElementById('GetName').value = name;
        }
        else
        {
            document.getElementById('GetCode').value = "";
            document.getElementById('GetName').value = "";
        }


    }
</script>
