@model KyoS.Web.Models.TCMObjetiveViewModel
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="EditObjetive" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPostTCMServicePlanReview(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Idd" />
            <input type="hidden" asp-for="Origin" />
            <input type="hidden" asp-for="Id_Domain" />
            <div class="">
                <div class="form-group col-md-3">
                    <b>Service code:</b>
                    <i>@Html.DisplayFor(modelItem => Model.TcmDomain.Code)</i>
                </div>
                <div class="form-group col-md-9">
                    <b>Service name:</b>
                    <i>@Html.DisplayFor(modelItem => Model.TcmDomain.Name)</i>
                </div>
            </div>

            <div class="">
                <div class="form-group col-md-6">
                    <label asp-for="IdObjetive" class="control-label">Objetive Number</label>&nbsp;*
                    <input asp-for="IdObjetive" class="form-control" readonly />
                    <span asp-validation-for="IdObjetive" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="StartDate" class="control-label">Start Date</label>&nbsp;*
                    <input asp-for="StartDate" class="form-control" readonly />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
            </div>
            <div class="">
                <div class="form-group col-md-6">
                    <label asp-for="TargetDate" class="control-label"></label>&nbsp;
                    <input asp-for="TargetDate" class="form-control" readonly />
                    <span asp-validation-for="TargetDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="EndDate" class="control-label">End date</label>&nbsp;
                    <input asp-for="EndDate" class="form-control" readonly />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Id_Stage" class="control-label">Stages</label>
                    <select asp-for="Id_Stage" asp-items="Model.Stages" class="form-control" id="Code_Name" onchange="getCode();" readonly></select>
                    <span asp-validation-for="Id_Stage" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="name" class="control-label">Name</label>
                    <input asp-for="name" id="GetName" class="form-control" readonly />
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="descriptionStages" class="control-label">Description</label>
                    <input asp-for="descriptionStages" id="lbDescription" class="form-control" rows="4" readonly />
                    <span asp-validation-for="descriptionStages" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="task" class="control-label">Task/Case Management Strategy</label>&nbsp;*
                    <input asp-for="task" class="form-control" readonly />
                    <span asp-validation-for="task" class="text-danger"></span>
                </div>
            </div>
            @if (ViewData["origi"].ToString() != "5")
            {
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="IdStatus" class="control-label">Stages</label>
                        <select asp-for="IdStatus" asp-items="Model.StatusList" class="form-control"></select>
                        <span asp-validation-for="IdStatus" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="ChangesUpdates" class="control-label">Objectives Changes/Updates</label>&nbsp;*
                        <input asp-for="ChangesUpdates" class="form-control" />
                        <span asp-validation-for="ChangesUpdates" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    &nbsp;
                </div>
                <div>
                    <div class="col-md-offset-9">
                        <input type="submit" value="Submit" class="btn btn-primary" asp-all-route-id="model.tCMservice.Id" />
                        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="IdStatus" class="control-label">Stages</label>
                        <select asp-for="IdStatus" asp-items="Model.StatusList" class="form-control" disabled></select>
                        <span asp-validation-for="IdStatus" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="ChangesUpdates" class="control-label">Objectives Changes/Updates</label>&nbsp;*
                        <input asp-for="ChangesUpdates" class="form-control" disabled/>
                        <span asp-validation-for="ChangesUpdates" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    &nbsp;
                </div>
                <div>
                    <div class="col-md-offset-10">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                    </div>
                </div>
            }
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">

        //    jQueryAjaxPost = form => {
        //        try {
        //            $.ajax({
        //                type: 'POST',
        //                url: form.action,
        //                data: new FormData(form),
        //                contentType: false,
        //                processData: false,
        //                success: function (res) {
        //                    if (res.isValid) {
        //                        $('#view-all').html(res.html)
        //                        $('#form-modal .modal-body').html('');
        //                        $('#form-modal .modal-title').html('');
        //                        $('#form-modal').modal('hide');
        //                    }
        //                    else
        //                        $('#form-modal .modal-body').html(res.html);
        //                },
        //                error: function (err) {
        //                    console.log(err)
        //                }
        //            })
        //            //to prevent default form submit event
        //            return false;
        //        } catch (ex) {
        //            console.log(ex)
        //        }
        //}
    </script>
}


