@model KyoS.Web.Models.TCMServicePlanReviewViewModel
@{
    Layout = null;
}


<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label asp-for="TcmServicePlan.TcmClient.CaseNumber" class="control-label">Case Number</label>
            <input asp-for="TcmServicePlan.TcmClient.CaseNumber" class="form-control" readonly />
            <span asp-validation-for="TcmServicePlan.TcmClient.CaseNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label asp-for="TcmServicePlan.TcmClient.Client.Name" class="control-label">Client Name</label>
            <input asp-for="TcmServicePlan.TcmClient.Client.Name" class="form-control" readonly />
            <span asp-validation-for="TcmServicePlan.TcmClient.Client.Name" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label asp-for="TcmServicePlan.TcmClient.Casemanager.Name" class="control-label">Casemanager Name</label>
            <input asp-for="TcmServicePlan.TcmClient.Casemanager.Name" class="form-control" readonly />
            <span asp-validation-for="TcmServicePlan.TcmClient.Casemanager.Name" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label asp-for="DateServicePlanReview" class="control-label">Service Plan Review Date</label>
            <input asp-for="DateServicePlanReview" class="form-control" readonly />
            <span asp-validation-for="DateServicePlanReview" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label asp-for="TcmServicePlan.DateServicePlan" class="control-label">Service Plan Date</label>
            <input asp-for="TcmServicePlan.DateServicePlan" class="form-control" readonly />
            <span asp-validation-for="TcmServicePlan.DateServicePlan" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label asp-for="TcmServicePlan.DateIntake" class="control-label">Opening Date</label>
            <input asp-for="TcmServicePlan.DateIntake" class="form-control" readonly />
            <span asp-validation-for="TcmServicePlan.DateIntake" class="text-danger"></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Recomendation" class="control-label">Summary of Reipient's Progress and Current Assessment'</label>
            <textarea asp-for="Recomendation" class="form-control" rows="4"></textarea>
            <span asp-validation-for="Recomendation" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="SummaryProgress" class="control-label">Recommendations/Changes/Update to SERVICE PLAN</label>
            <textarea asp-for="SummaryProgress" class="form-control" rows="4"></textarea>
            <span asp-validation-for="SummaryProgress" class="text-danger"></span>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">TCM Service Plan Review</h3>
        </div>
        <div class="panel-body" id="view-tcmServicePlan">
            <table class="table table-hover table-responsive table-striped" id="MyTable">
                <thead>
                    <tr>
                        <th class="col-md-3" align="center">
                            Name
                        </th>
                        <th class="col-md-2" align="center">
                            Status
                        </th>
                        <th class="col-md-7" align="center">
                            Objectives Changes/Updates
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TcmServicePlan.TCMDomain)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Code)  @Html.DisplayFor(modelItem => item.Name)</td>
                            <td>
                                <div class="form-group">
                                    <select asp-for="IdStatus" asp-items="Model.StatusList" class="form-control" readonly></select>
                                    <span asp-validation-for="IdStatus" class="text-danger"></span>
                                </div>

                            </td>
                            <td>
                               @foreach (var operador in item.TCMObjetive)
                                {
                                   <input type="checkbox" /><label>&nbsp;Open&nbsp;&nbsp;&nbsp;&nbsp;</label>@operador.Name<br />
                                   <input asp-for="Recomendation" class="form-control" />
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
                    //    jQueryAjaxPost = form => {
                    //        try {
                    //            $.ajax({
                    //                type: 'POST',
                    //                url: form.action,
                    //                data: new FormData(form),
                    //                contentType: false,
                    //                processData: false,
                    //                success: function (res) {
                    //                    if (res.isValid) {
                    //                        $('#view-all').html(res.html)
                    //                        $('#form-modal .modal-body').html('');
                    //                        $('#form-modal .modal-title').html('');
                    //                        $('#form-modal').modal('hide');
                    //                    }
                    //                    else
                    //                        $('#form-modal .modal-body').html(res.html);
                    //                },
                    //                error: function (err) {
                    //                    console.log(err)
                    //                }
                    //            })
                    //            //to prevent default form submit event
                    //            return false;
                    //        } catch (ex) {
                    //            console.log(ex)
                    //        }
                    //}
    </script>
}
