@model KyoS.Web.Models.MeetingNotesViewModel

@{
    ViewData["Title"] = "Edit Meeting Note";
}

<link rel="stylesheet" href="~/css/prism.css">
<link rel="stylesheet" href="~/css/chosen.css">

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Meeting Notes", "SupervisorNotes", "Supervisors")
        </li>
        <li class="active">Edit Meeting Note</li>
    </ul><!--.breadcrumb-->
</div>

<h4>Edit Meeting Note</h4>
<hr />
<div class="row">
    <div>
        <form asp-action="EditNoteReadOnly" onsubmit="return false;" id="form1">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="IdSupervisor" />
            <partial name="_MeetingNoteReadOnly" />
            <div class="form-group col-md-12"></div>

            <div class="form-group col-md-12"></div>
            <div class="form-group col-md-12">
                <a asp-action="SupervisorNotes" class="btn btn-success">Back</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/chosen.jquery.js" type="text/javascript"></script>
    <script src="~/js/prism.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/js/init.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnSave").click(function () {
                if (($("#cbFacilitator option:selected").text() != "[Select facilitator...]") && ($("#cbSchedule option:selected").text() != "[Select Schedule...]")) {
                    $("#btnSave").prop('disabled', true);
                    form1.submit();
                }
            });
        });
    </script>
}