@model KyoS.Web.Models.SupervisorCertificationViewModel
@{
    Layout = null;
}

<div class="row">
    <form asp-action="EditSupervisorCertification" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxSupervisorCertificationList(this);">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="CreatedOn" />
        <input type="hidden" asp-for="CreatedBy" />
        <div class="container-fluid">
            <div class="form-group col-md-6">
                <label asp-for="IdCourse" class="control-label"></label>&nbsp;*
                <select asp-for="IdCourse" asp-items="Model.Courses" class="form-control"></select>
                <span asp-validation-for="IdCourse" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="IdSupervisor" class="control-label"></label>&nbsp;*
                <select asp-for="IdSupervisor" asp-items="Model.Supervisors" class="form-control"></select>
                <span asp-validation-for="IdSupervisor" class="text-danger"></span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="form-group col-md-4">
                <label asp-for="CertificationNumber" class="control-label"></label>&nbsp;*
                <input asp-for="CertificationNumber" class="form-control">
                <span asp-validation-for="CertificationNumber" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="CertificateDate" class="control-label"></label>&nbsp;*
                <input asp-for="CertificateDate" class="form-control">
                <span asp-validation-for="CertificateDate" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="ExpirationDate" class="control-label"></label>&nbsp;*
                <input asp-for="ExpirationDate" class="form-control">
                <span asp-validation-for="ExpirationDate" class="text-danger"></span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="form-group col-md-12">
                <hr />
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-md-offset-9">
                <input type="submit" value="Submit" class="btn btn-primary" />
                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            </div>
        </div>
    </form>
</div>
