@model KyoS.Web.Models.Client_DiagnosticViewModel
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="AddDiagnostic" onsubmit="return jQueryAjaxPostAddClientDiagnostic(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="IdClient" />
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="IdDiagnostic" class="control-label"></label>
                    <select asp-for="IdDiagnostic" asp-items="Model.Diagnostics" class="form-control"></select>
                    <span asp-validation-for="IdDiagnostic" class="text-danger"></span>
                </div>
            </div>
            <div>
                <div class="col-md-8 form-group">
                    <label asp-for="Prescriber" class="control-label"></label>
                    <input asp-for="Prescriber" class="form-control" />
                    <span asp-validation-for="Prescriber" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="DateIdentify" class="control-label"></label>
                    <input asp-for="DateIdentify" class="form-control" />
                    <span asp-validation-for="DateIdentify" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <input type="checkbox" asp-for="Active" /> Active
                    <span asp-validation-for="Active" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <input type="checkbox" asp-for="Principal" /> Principal
                    <span asp-validation-for="Principal" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <hr />
            </div>
            <div>
                <div class="col-md-offset-9">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

