@model KyoS.Web.Models.Theme3ViewModel
@{
    ViewData["Title"] = "Create Theme";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/datepicker.min.css">

    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                @Html.ActionLink("Themes", "Index", "Themes")
            </li>
            <li class="active">Create</li>
        </ul><!--.breadcrumb-->
    </div>

    <h4>Create new theme</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            @if (ViewBag.Creado == "Y")
            {
                <div class="alert alert-block alert-success">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="icon-remove"></i>
                    </button>
                    <i class="icon-ok green"></i>
                    <strong class="green">
                        Theme has been successfully created
                    </strong>

                </div>
            }
            @if (ViewBag.Creado == "E")
            {
                <div class="alert alert-block alert-warning">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="icon-remove"></i>
                    </button>
                    <i class="icon-ok red"></i>
                    <strong class="red">
                        Error. Theme already exist
                    </strong>
                </div>
            }
        </div>
        <div class="col-md-12">
            <form asp-action="Create3">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <partial name="_Themes3" />
                <div class="form-group col-md-3">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-success">Back</a>
                </div>
                <div class="form-group col-md-12">
                    <hr />
                </div>
                <div class="">
                    <div id="view-themes">
                        @if (Model.Themes.Count() > 0)
                        {
                            @await Html.PartialAsync("_ViewTheme3", Model.Themes.ToList())
                        }
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>
</html>

<partial name="_ModalPopup" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
         $(document).ready(function () {
             $('#MyTable').DataTable({
                  "pageLength": 100
                   });

              
             });
        $(function () {

            //Assign Click event to Plus Image.
            $("body").on("click", "a[class*='icon-plus-sign-alt']", function () {
                $(this).closest("tr").after("<tr><td></td><td colspan = '999'>" + $(this).next().html() + "</td></tr>");
                $(this).attr("class", "icon-minus-sign-alt");
            });
            //Assign Click event to Minus Image.
            $("body").on("click", "a[class*='icon-minus-sign-alt']", function () {
                $(this).attr("class", "icon-plus-sign-alt");
                $(this).closest("tr").next().remove();
            });
        });
    </script>
}