@model KyoS.Web.Models.ThemeViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Topics", "Index", "Themes")
        </li>
        <li class="active">Edit</li>
    </ul><!--.breadcrumb-->
</div>

<h4>Edit topic</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <partial name="_Themes" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Back</a>
            </div>
        </form>
    </div>    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
