@model KyoS.Web.Models.DiagnosticViewModel
    <div class="col-md-push-12">
        <div class="form-group col-md-2">
            <label asp-for="Code" class="control-label"></label>&nbsp;*
            <input asp-for="Code" class="form-control" />
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>
        <div class="form-group col-md-5">
            <label asp-for="Description" class="control-label"></label>&nbsp;*
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group col-md-5">
            &nbsp;
        </div>
    </div>
    <div class="col-md-12">
        &nbsp;
    </div>  