@model KyoS.Web.Models.NotePrototypeViewModel
    <div class="col-md-push-12">
        <div class="form-group col-md-12">
            <label asp-for="IdActivity" class="control-label"></label>
            <select asp-for="IdActivity" asp-items="Model.Activities" class="form-control"></select>
            <span asp-validation-for="IdActivity" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-6">
            <label asp-for="IdClient" class="control-label"></label>
            <select asp-for="IdClient" asp-items="Model.Clients" class="form-control"></select>
            <span asp-validation-for="IdClient" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="IdFacilitator" class="control-label"></label>
            <select asp-for="IdFacilitator" asp-items="Model.Facilitators" class="form-control"></select>
            <span asp-validation-for="IdFacilitator" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6">
            <label asp-for="AnswerClient" class="control-label"></label>
            <textarea asp-for="AnswerClient" class="form-control" rows="5"></textarea>
            <span asp-validation-for="AnswerClient" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="AnswerFacilitator" class="control-label"></label>
            <textarea asp-for="AnswerFacilitator" class="form-control" rows="5"></textarea>
            <span asp-validation-for="AnswerFacilitator" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-12">
        &nbsp;
    </div>
    <div class="form-group">
        <div class="col-md-6">
            <label class="control-label">Classification</label>
            @Html.ListBox("classifications", ViewData["classification"] as MultiSelectList, new { @class = "chosen-select", @style = "width:100%;" })
        </div>
    </div>


