@model KyoS.Web.Models.DischargeViewModel
<div class="col-md-push-12">
    <div class="form-group col-md-3">
        <label asp-for="Client.Name" class="control-label">Client Name</label>
        <input asp-for="Client.Name" class="form-control" readonly>
        <span asp-validation-for="Client.Name" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="Client.Code" class="control-label">Case No.</label>
        <input asp-for="Client.Code" class="form-control" readonly>
        <span asp-validation-for="Client.Code" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="Client.DateOfBirth" class="control-label">DOB</label>
        <input asp-for="Client.DateOfBirth" class="form-control" readonly>
        <span asp-validation-for="Client.DateOfBirth" class="text-danger"></span>
    </div>
    <div class="form-group col-md-5">
        <label class="control-label">Diagnosis</label>
        @if (Model.Client.Clients_Diagnostics.Count() > 0)
        {
            <input class="form-control" value="@Model.Client.Clients_Diagnostics.ElementAtOrDefault(0).Diagnostic.Code @Model.Client.Clients_Diagnostics.ElementAtOrDefault(0).Diagnostic.Description" readonly>
        }
        else
        {
            <input class="form-control" readonly>
        }
    </div>
</div>
<div class="col-md-push-12">
    <div class="form-group col-md-3">
        <label class="control-label">Employee Signature</label>
        <input asp-for="AdmissionedFor" class="form-control" readonly>
        <span asp-validation-for="AdmissionedFor" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="DateAdmissionService" class="control-label"></label>&nbsp;*
        <input asp-for="DateAdmissionService" class="form-control">
        <span asp-validation-for="DateAdmissionService" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="DateReport" class="control-label">Date Report</label>&nbsp;*
        <input asp-for="DateReport" class="form-control">
        <span asp-validation-for="DateReport" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="DateDischarge" class="control-label">Date Discharge</label>&nbsp;*
        <input asp-for="DateDischarge" class="form-control">
        <span asp-validation-for="DateDischarge" class="text-danger"></span>
    </div>
    <div class="container-fluid">
        &nbsp;
    </div>
</div>
<div class="container-fluid">
    <hr />
</div>
<div class="col-md-push-12">
    <div class="form-group col-md-12">
        <pre>
        <strong>PROGRAM:</strong>            <input type="checkbox" asp-for="ProgramPSR" class="form-check-input"> PSR     <input type="checkbox" asp-for="ProgramInd" class="form-check-input"> IND. THERAPY     <input type="checkbox" asp-for="ProgramGroup" class="form-check-input"> GROUP THERAPY     <input type="checkbox" asp-for="ProgramClubHouse" class="form-check-input"> CLUB HOUSE
        <strong>Type of Discharge: </strong> <input type="checkbox" asp-for="Planned" class="form-check-input" id="check1"> Planned        <input type="checkbox" class="form-check-input" id="check101">  Unplanned

        <strong>Circumstances of Discharge (Discharge Status)</strong>
        <input type="checkbox" asp-for="CompletedTreatment" class="form-check-input"> Completed Treatment
        <input type="checkbox" asp-for="Termination" class="form-check-input"> Termination of treatment due to end of insurance coverage to provide services
        <input type="checkbox" asp-for="ClientTransferred" class="form-check-input"> Client transferred to another provider for continued MH services
        <input type="checkbox" asp-for="NonCompliant" class="form-check-input"> Non-Compliant with CMHC Rules
        <input type="checkbox" asp-for="LeftBefore" class="form-check-input"> Left Before Completing Treatment
        <input type="checkbox" asp-for="Administrative" class="form-check-input"> Administrative Discharge
        <input type="checkbox" asp-for="Other" class="form-check-input"> Other:     <input asp-for="Other_Explain"  style="width:50%">

        <strong>PROGNOSIS:</strong>    <input type="checkbox" asp-for="PrognosisGood" class="form-check-input"> Good     <input type="checkbox" asp-for="PrognosisFair" class="form-check-input"> Fair     <input type="checkbox" asp-for="PrognosisGuarded" class="form-check-input"> Guarded  <input type="checkbox" asp-for="PrognosisPoor" class="form-check-input"> Poor

        <strong>Clinical Impressions at discharge:</strong>    <input type="checkbox" asp-for="ClinicalStable" class="form-check-input"> Stable     <input type="checkbox" asp-for="ClinicalUnstable" class="form-check-input"> Unstable     <input type="checkbox" asp-for="ClinicalUnpredictable" class="form-check-input"> Unpredictable      <input type="checkbox" asp-for="ClinicalCoherente" class="form-check-input"> Coherent      <input type="checkbox" asp-for="ClinicalIncoherente" class="form-check-input"> Incoherent      <input type="checkbox" asp-for="ClinicalInRemission" class="form-check-input"> In remission  
    
        <strong>Referrals to: </strong>                         <input asp-for="ReferralsTo" style="width:40%">

        <strong>Discharge Diagnosis (ICD-10 / DSM 5): </strong> <input asp-for="DischargeDiagnosis" style="width:40%">
        </pre>  
    </div>
</div>
<div class="col-md-12">
    <pre>
    
    <strong>Person served signature date</strong>    <input asp-for="DateSignaturePerson">      <strong>Supervisor signature date</strong>    <input asp-for="DateSignatureSupervisor">
    <strong>(@Html.DisplayFor(modelItem => Model.Client.Name))</strong>     
    
    <strong>Employee signature date</strong>         <input asp-for="DateSignatureEmployee">      
    <strong>(@Html.DisplayFor(modelItem => Model.AdmissionedFor))</strong>                                                                    
    </pre>
</div>
<div class="col-md-12">
    &nbsp;
</div>

<script>
    check1.addEventListener('change', (e) => {
        if (check1.checked == true) {
            check101.checked = false;
        } else {
            check101.checked = true;
        }

    })
    check101.addEventListener('change', (e) => {
        if (check101.checked == true) {
            check1.checked = false;
        } else {
            check1.checked = true;
        }

    })
    if (check1.checked == true) {
        check101.checked = false;
    } else {
        check101.checked = true;
    }

</script>




