@model KyoS.Web.Models.GroupViewModel

@{
    ViewData["Title"] = "Edit GT Group";
}

<link rel="stylesheet" href="~/css/prism.css">
<link rel="stylesheet" href="~/css/chosen.css">

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Group-Therapy Group", "Group", "Groups")
        </li>
        <li class="active">Edit GT Group</li>
    </ul><!--.breadcrumb-->
</div>

<h4>Edit GT Group</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        @if (ViewBag.Error == "0" || ViewBag.Error == "1")
        {
            <div class="alert alert-block alert-danger">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>
                <i class="icon-ok red"></i>
                <strong class="red">
                    @ViewBag.errorText
                </strong>
            </div>
        }
    </div>
    <form asp-action="EditGT" onsubmit="return false;" id="form1">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="IdFacilitator" />

        <div class="col-md-push-12">
            <div class="form-group col-md-4">
                <label asp-for="IdFacilitator" class="control-label"></label>&nbsp;*
                <select asp-for="IdFacilitator" asp-items="Model.Facilitators" class="form-control" id="cbFacilitator" disabled></select>
                <span asp-validation-for="IdFacilitator" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="IdSchedule" class="control-label"></label>&nbsp;*
                <select asp-for="IdSchedule" asp-items="Model.Schedules" class="form-control" id="cbSchedule"></select>
                <span asp-validation-for="IdSchedule" class="text-danger"></span>
            </div>
            <div class="form-group col-md-8">
                &nbsp;
            </div>
        </div>
        <div class="col-md-12">
            &nbsp;
        </div>
        <div class="col-md-12">
            <div class="form-group">
                @if (ViewData["am"].ToString() == "true")
                {
                    <input type="radio" name="Meridian" value="Am" checked="checked" />
                }
                else
                {
                    <input type="radio" name="Meridian" value="Am" checked="checked" />
                }
                <label style="font-weight: bold;"> AM</label>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                @if (ViewData["am"].ToString() == "true")
                {
                    <input type="radio" name="Meridian" value="Pm" />
                }
                else
                {
                    <input type="radio" name="Meridian" value="Pm" checked="checked" />
                }
                <label style="font-weight: bold;"> PM</label>
            </div>
        </div>
        <div class="col-md-12">
            &nbsp;
        </div>
        <div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">Clients</label>
                    @Html.ListBox("clients", ViewData["clients"] as MultiSelectList, new { @class = "chosen-select", @style = "width:100%;" })
                </div>
            </div>
        </div>

        <div class="form-group col-md-12"></div>
        <div class="col-md-12 form-group">
            <strong>Note: </strong> Clients notes will be generated based on work weeks of this therapy.
        </div>
        <div class="form-group col-md-12"></div>
        <div class="form-group col-md-12">
            <input type="submit" value="Save" class="btn btn-primary" id="btnSave" />
            <a asp-action="Group" asp-route-all="@ViewData["all"]" class="btn btn-success">Back</a>
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/chosen.jquery.js" type="text/javascript"></script>
    <script src="~/js/prism.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/js/init.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnSave").click(function () {
                if (($("#cbFacilitator option:selected").text() != "[Select facilitator...]") && ($("#cbSchedule option:selected").text() != "[Select Schedule...]")) {
                    $("#btnSave").prop('disabled', true);
                    form1.submit();
                }
            });
        });
    </script>
}
