@model KyoS.Web.Models.ClinicViewModel
<div class="col-md-push-12">
    <div class="form-group col-md-4">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="CEO" class="control-label"></label>
        <input asp-for="CEO" class="form-control" />
        <span asp-validation-for="CEO" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="ClinicalDirector" class="control-label"></label>
        <input asp-for="ClinicalDirector" class="form-control" />
        <span asp-validation-for="ClinicalDirector" class="text-danger"></span>
    </div>
</div>
<div class="col-md-push-12">
    <div class="form-group col-md-2">
        <label asp-for="Address" class="control-label"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="City" class="control-label"></label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="State" class="control-label"></label>
        <input asp-for="State" class="form-control" />
        <span asp-validation-for="State" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="ZipCode" class="control-label"></label>
        <input asp-for="ZipCode" class="form-control" />
        <span asp-validation-for="ZipCode" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="Phone" class="control-label"></label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="FaxNo" class="control-label"></label>
        <input asp-for="FaxNo" class="form-control" />
        <span asp-validation-for="FaxNo" class="text-danger"></span>
    </div>
</div>
<div class="col-md-push-12">
    <div class="form-group col-md-4">
        <label asp-for="LogoFile" class="control-label"></label>
        <input asp-for="LogoFile" type="file" class="form-control" />
        <span asp-validation-for="LogoFile" class="text-danger"></span>
    </div>
    <div class="container-fluid">
        &nbsp;
    </div>
</div>
<div class="col-md-push-12">
    <div class="form-group col-md-4">
        <label class="control-label">PSR Therapy</label>
        <br />
        @if (ViewBag.Schema == "1")
        {
            <input type="radio" name="Schema" value="Schema1" checked="checked" />
        }
        else
        {
            <input type="radio" name="Schema" value="Schema1" />
        }
        @*<label style="font-weight: bold;">*@Schema 1 @*</label>*@ <a href="~/images/Schemas/Schema1.jpeg" target="_blank" title="Schema 1">(Total Units: 16)</a>
        <br />
        @if (ViewBag.Schema == "2")
        {
            <input type="radio" name="Schema" value="Schema2" checked="checked" />
        }
        else
        {
            <input type="radio" name="Schema" value="Schema2" />
        }
        @*<label style="font-weight: bold;">*@ Schema 2 @*</label>*@ <a href="~/images/Schemas/Schema2.jpeg" target="_blank" title="Schema 2">(Total Units: 16)</a>
        <br />
        @if (ViewBag.Schema == "3")
        {
            <input type="radio" name="Schema" value="Schema3" checked="checked" />
        }
        else
        {
            <input type="radio" name="Schema" value="Schema3" />
        }
        @*<label style="font-weight: bold;">*@ Schema 3 @*</label>*@ <a href="~/images/Schemas/Schema3.jpeg" target="_blank" title="Schema 3">(Total Units: 16)</a>
        <br />
        @if (ViewBag.Schema == "4")
        {
            <input type="radio" name="Schema" value="Schema4" checked="checked" />
        }
        else
        {
            <input type="radio" name="Schema" value="Schema4" />
        }
        @*<label style="font-weight: bold;">*@ Schema 4 @*</label>*@ <a href="~/images/Schemas/Schema4.jpeg" target="_blank" title="Schema 4">(Total Units: 12)</a>
    </div>
    <div class="col-md-4">
        @if(@Model.Id != 0)
        { 
            @if (!string.IsNullOrEmpty(Model.LogoPath))
            {
                <img src="@Url.Content(Model.LogoPath)" alt="Image" style="width:200px;height:100px;max-width: 100%; height: auto;" />
            }
        }
    </div>
    <div class="container-fluid">
        &nbsp;
    </div>
</div>
