@model KyoS.Web.Models.ClinicViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Clinics", "Index", "Clinics")
        </li>
        <li class="active">Edit</li>
    </ul><!--.breadcrumb-->
</div>
<h4>Edit clinic</h4>
<hr />
<div class="row">
    
    <form asp-action="Edit" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="LogoPath" />
        <input type="hidden" asp-for="SignaturePath" />
        <partial name="_Clinics" />
        <div class="form-group col-md-12">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-success">Back</a>
        </div>
    </form>   
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
