@model KyoS.Web.Models.ActivityViewModel

@{
    ViewData["Title"] = "Edit";
}

<h4>Edit activity</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Origin" />
            <partial name="_Activities" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                @if (Model.Origin == 0)
                {
                    <a asp-action="Index" class="btn btn-success">Back</a>
                }
                @if (Model.Origin == 1)
                {
                    <a asp-action="ActivitiesSupervision" class="btn btn-success">Back</a>
                }
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
