@model KyoS.Web.Models.ActivityViewModel

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="EditActivity3Modal" onsubmit="return jQueryAjaxTCMActivities(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTheme" />
            <input type="hidden" asp-for="CreatedBy" />
            <input type="hidden" asp-for="CreatedOn" />
            <h4>Theme: @Model.Theme.Name</h4>
            <div class="form-group">
                <label class="control-label">Facilitator’s Intervention</label>
                <textarea asp-for="Name" class="form-control" rows="6" id="Name"></textarea>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-info" id="EnglishName">English</a>
                <hr />
            </div>
            <div>
                <div class="col-md-offset-9">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>