@{
    ViewData["Title"] = "BillingForWeek";
}
<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Dashboard", "Index", "Desktop")
        </li>
        <li class="active">Billing</li>
    </ul><!--.breadcrumb-->
</div>
<div class="form-group col-md-2">
    
    <input type="week" class="form-control" readonly>
    
</div>

